{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Priority Tasks{% endblock %}</h1>
{% endblock %}

{% block content %}
<div id="priorities">
    {% for task in top_5_tasks %}
    <div class="task">
        <h1>{{ task.name }}</h1>
        <h2>Priority: {{ task.priority }}</h2>
        <h3>Category: {{ task.category }}</h3>
        Add Date: {{ task.add_date }}<br />
        <form method="POST" action="{{ url_for('priorities_bp.complete_task') }}">
            <input type="hidden" name="id" id="id" value="{{ task.id }}">
            <input type="submit" value="Complete Task">
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}