<html>

<head>
    <title>Priorities</title>
</head>

<body>
    <h1> Top 5 Priorities for Today</h1>

    <div id="top-5">
        {% for task in top_5_tasks %}
        {{ task.name }}<br />
        Priority: {{ task.priority }}<br />
        Add Date: {{ task.add_date }}<br />
        Complete Date: {{ task.complete_date }}<br />
        <form method="POST" action="{{ url_for('priorities_bp.delete_task') }}">
            <input type="hidden" name="id" id="id" value="{{ task.id }}">
            <input type="submit" value="Delete">
        </form>
        {% endfor %} </ul>
    </div>
    <div id="add-task">
        <table>
            <tr>
                <td>
                    <h4>Add New Task:</h4>
                    <br />
                    <form method="POST" action="{{ url_for('priorities_bp.add_task') }}">
                        <label for="name">Name:</label>
                        <input type="text" size="30" class="textbox box-3d" name="name"
                            id="name">
                        <br /><br />
                        <label for="category">category:</label>
                        <input type="text" size="30" class="textbox box-3d"
                            name="category" id="category">
                        <br /><br />
                        <label for="subcategory1">subcategory1:</label>
                        <input type="text" size="30" class="textbox box-3d"
                            name="subcategory1" id="subcategory1">
                        <br /><br />
                        <label for="subcategory2">subcategory2:</label>
                        <input type="text" size="30" class="textbox box-3d"
                            name="subcategory2" id="subcategory2">
                        <br /><br />
                        <label for="priority">priority:</label>
                        <input type="number" class="textbox box-3d" name="priority"
                            id="priority">
                        <br /><br />
                        <input type="submit" class="button box-3d"
                            value="Add New Task">
                    </form>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>