{% extends 'box_packing/base.html' %}

{% block title %}Box Packing{% endblock %}

{% block content %}
<div class="box-listing-sort">
  <form method="POST" action="{{ url_for('box_packing.all') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <span class="box-listing-sort__item">
      <select class="button" name="sort_1" id="sort_1">
        <option value="none" selected disabled hidden>Box Sort Order 1</option>
        <option value="id">ID (default)</option>
        <option value="size">Size</option>
        <option value="essential">Essential</option>
        <option value="warm">Warm</option>
        <option value="liquid">Liquid</option>
      </select>
    </span>
    <span class="box-listing-sort__item">
      <select class="button" name="sort_2" id="sort_2">
        <option value="none" selected disabled hidden>Box Sort Order 2</option>
        <option value="">None</option>
        <option value="size">Size</option>
        <option value="essential">Essential</option>
        <option value="warm">Warm</option>
        <option value="liquid">Liquid</option>
      </select>
    </span>
    <span class="box-listing-sort__item">
      <button type="submit" name="action" class="button" value="sort">
        <span class="button__text">Sort Boxes</span>
      </button>
    </span>
  </form>
</div>
<div class="grid grid--two-columns">
  {% for box in boxes %}
  <div class="packed-box">
    <h1 class="packed-box__title">
      <a class="packed-box__link" href="{{ url_for('box_packing.index', box_id=box.id) }}">Box {{ box.id }}: {{ box.name
        }}</a>
    </h1>
    <h2>Size: {{ box.size }}</h2>
    <div class="packed-box-item__details">
      {% if box.essential == 1 %}<span class="packed-box-item__details--essential">Essential</span>{% endif %}
      {% if box.warm == 1 %}<span class="packed-box-item__details--warm">Warm</span>{% endif %}
      {% if box.liquid == 1 %}<span class="packed-box-item__details--liquid">Liquid</span>{% endif %}
    </div>
  </div>
  {% endfor %}
</div>
<div class="grid__item grid__item--add-new">
  <h2>Add a New Box</h2>
  <form class="add-item-form" method="POST" action="{{ url_for('box_packing.crud') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="add-item-form__item">
      <label for="add-box-name">Name:</label>
      <input type="text" class="button" name="name" id="add-box-name">
    </div>
    <div class="add-item-form__item">
      <label for="add-box-size">Size</label>
      <select class='button button-3d' name="size" id="add-box-size">
        {% for size in box_sizes %}
        <option value={{ size }}>{{ size }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="add-item-form__item add-item-form__item--full-width">
      <div class="packed-box-item__details">
        <div>
          <input type="checkbox" name="essential" id="add-box-essential" value=1>
          <label for="add-box-essential" class="packed-box-item__details--essential">Essential</label>
        </div>
        <div>
          <input type="checkbox" name="warm" id="add-box-warm" value=1>
          <label for="add-box-warm" class="packed-box-item__details--warm">Warm</label>
        </div>
        <div>
          <input type="checkbox" name="liquid" id="add-box-liquid" value=1>
          <label for="add-box-liquid" class="packed-box-item__details--liquid">Liquid</label>
        </div>
      </div>
    </div>
    <div class="add-item-form__item add-item-form__item--submit">
      <button type="submit" name="action" class="button" value="add_box">
        <span class="button__text">Add Box</span>
      </button>
    </div>
  </form>
</div>
{% endblock %}
