{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/box_packing.css') }}">
{% endblock %}

{% block app_navigation %}
<nav>
  <ul class="navigation secondary">
    <li class="navigation-tab"><a href="{{ url_for('box_packing.index') }}">Pack Boxes</a></li>
    <li class="navigation-tab"><a href="{{ url_for('box_packing.search') }}">Search for Items</a></li>
    <li class="navigation-tab"><a href="{{ url_for('box_packing.all') }}">All Boxes</a></li>
  </ul>
</nav>
{% endblock %}

{% block content %}{% endblock %}
