{% extends "base.html" %}

{% block title %}
  Edit Box
{% endblock title %}

{% block content %}
  <div class="grid grid--one-column">
    <div class="add-item-wrapper">
      <h2>Editing: {{ box.name }}</h2>
      <form class="add-item-form" method="post" action="{{ url_for('box_packing.crud') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="box_id" value="{{ box.id }}">
        <div class="add-item-form__item">
          <label for="box_name">Box Name</label>
          <input type="text" class="button" size="40" name="box_name" id="box_name" value="{{ box.name }}">
        </div>
        <div class="add-item-form__item">
          <label for="box_number">Box Number</label>
          <input type="number" class="button" name="box_number" id="box_number" value="{{ box.number }}">
        </div>
        <div class="add-item-form__item">
          <label for="box_size">Box Size</label>
          <select class="button button-3d" name="box_size" id="box_size">
            {% for size in box_sizes %}
              <option value="{{ size }}" {% if size==box.size %}selected{% endif %}>{{ size }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="add-item-form__item add-item-form__item--submit">
          <button type="submit" name="action" class="button" value="edit_box">
            <span class="button__text">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
