{% extends "box_packing/base.html" %}

{% block title %}
  Box Packing - Search
{% endblock title %}

{% block content %}

  {% if orphans %}
    <div class="box-listing-sort">
      <form method="post" action="{{ url_for('box_packing.orphans') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <span class="box-listing-sort__item">
          <select class="button" name="sort" id="sort">
            <option value="none" selected disabled hidden>Orphan Sort Order</option>
            <option value="name">Name</option>
            <option value="essential">Essential</option>
            <option value="warm">Warm</option>
            <option value="liquid">Liquid</option>
          </select>
        </span>
        <span class="box-listing-sort__item">
          <button type="submit" name="action" class="button" value="sort">
            <span class="button__text">Sort Orphaned Items</span>
          </button>
        </span>
      </form>
    </div>

    <div class="grid grid--one-column-wide">
      <ul class="search-results-orphans search-results-orphans__header">
        <li>Item</li>
        <li>Essential</li>
        <li>Warm</li>
        <li>Liquid</li>
        <li>Box</li>
        <li>Delete</li>
      </ul>
      {% for item in orphans %}
        <ul class="search-results-orphans search-results-orphans__item">
          <li>{{ item.name }}</li>
          <li class="packed-box-item__details--essential">
            {% if item.essential == 1 %}Essential{% endif %}
          </li>
          <li class="packed-box-item__details--warm">
            {% if item.warm == 1 %}Warm{% endif %}
          </li>
          <li class="packed-box-item__details--liquid">
            {% if item.liquid == 1 %}Liquid{% endif %}
          </li>
          <li>
            <form method="post" id="select_box_form_{{ item.id }}" action="{{ url_for('box_packing.crud') }}">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <input type="hidden" name="item_id" value="{{ item.id }}">
              <input type="hidden" name="item_name" value="{{ item.name }}">
              <input type="hidden" name="box_name" id="box_name_{{ item.id }}" value="">
              <input type="hidden" name="action" value="add_orphan_to_box">
              <select class="button" name="box_id" id="box_id_{{ item.id }}" onchange="updateItemName({{ item.id }}); this.form.submit();">
                <option value="none" selected disabled hidden>Add Item to a Box</option>
                {% for box in boxes %}
                  <option data-name="{{ box.name }}" value="{{ box.id }}">Box {{ box.number }}: {{ box.name }}</option>
                {% endfor %}
              </select>
            </form>
          </li>
          <li>
            <form method="post" action="{{ url_for('box_packing.crud') }}">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <input type="hidden" name="item_id" value="{{ item.id }}">
              <input type="hidden" name="item_name" value="{{ item.name }}">
              <button type="submit" name="action" class="button--hidden" value="delete_orphan">
                <i class="button-icon danger fa-regular fa-trash-can"></i>
              </button>
            </form>
          </li>
        </ul>
      {% endfor %}
    </div>
  {% else %}
    <h2>No Orphaned BoxItems</h2>
  {% endif %}
  <script>
  function updateItemName(itemId) {
    const selectElement = document.getElementById('box_id_' + itemId);
    const selectedOption = selectElement.options[selectElement.selectedIndex];
    const itemName = selectedOption.getAttribute('data-name');
    document.getElementById('box_name_' + itemId).value = itemName;
  }
  </script>
{% endblock content %}
