.server-stats {
    background-color: #666;
    padding: 25px;
    border: 5px greenyellow dashed;
    border-radius: 25px;
    list-style-type: "→  ";
    font-size: x-large;
}

.server-stats__item {
    margin: 50px;
}
