$all-text-color: #dddddd;

// From Apartments
$header-height: 100px;
$navigation-width: 20%;
$cool-blue: rgb(0, 68, 88);
$text-color: #f0f0f0;
$dark-gray: #444;
$nav-border: 5px solid #919191;
$h2-font-size: 1.8em;

$light-shadow: #808080;
$medium-shadow: rgba(16, 16, 16, 0.2);
$dark-shadow: rgba(16, 16, 16, 0.4);

$light-background: #606060;
$medium-background: #444;
$dark-background: rgba(16, 16, 16, 0.4);

$success-color: rgb(0, 92, 0, 0.8);
$warning-color: rgb(92, 92, 0, 0.8);
$error-color: rgb(92, 6, 0, 0.8);

// Journal
$button-box-border-radius: 15px;

// X-offset, Y-offset, blur, spread, color
// Negative values places shadow to left
// Negative values place shadow above
// transition from light to dark and spread out more

$shadow-3d: 1px 1px 1px $light-shadow, 1px 2px 1px $light-shadow, 1px 3px 1px $light-shadow, 1px 4px 1px $light-shadow,
    1px 5px 1px $light-shadow, 1px 6px 1px $light-shadow, 1px 7px 1px $light-shadow, 1px 8px 1px $light-shadow,
    1px 9px 1px $light-shadow, 1px 10px 1px $light-shadow, 1px 18px 4px $dark-shadow, 1px 22px 8px $medium-shadow,
    1px 25px 15px $medium-shadow, 1px 30px 20px $dark-shadow;

$shadow-3d-apt: 1px 3px 1px $dark-shadow, 1px 3px 1px $dark-shadow, 1px 4px 1px $dark-shadow, 1px 4px 1px $dark-shadow,
    1px 4px 1px $dark-shadow, 1px 4px 1px $dark-shadow, 1px 4px 3px $dark-shadow, 1px 5px 3px $dark-shadow,
    1px 7px 15px $medium-shadow, 11px 8px 15px $medium-shadow, 8px 8px 10px $medium-shadow, 3px 18px 16px $dark-shadow,
    5px 20px 22px $medium-shadow, 6px 8px 20px $light-shadow;

$shadow-3d-nav: 1px 1px 1px $light-shadow, 1px 2px 1px $light-shadow, 1px 3px 1px $light-shadow,
    2px 3px 1px $light-shadow, 1px 9px 4px $dark-shadow, 1px 11px 4px $medium-shadow, 1px 13px 8px $medium-shadow,
    1px 15px 10px $dark-shadow;
