@import "variables";

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2em;
    padding: 10px;
}

.column {
    & li {
        list-style: none;
        line-height: 2em;
    }
}

.box-list {
    padding: 25px;
    margin-bottom: 50px;
    border: 2px dashed #444444;
}

.box-function {
    border: 3px solid black;
    padding: 25px;
    margin: 15px;
}

.selected {
    color: green;
}

.warm-color {
    color: darkred;
}

.liquid-color {
    color: rgb(60, 120, 170);
}

.essential-color {
    color: orange;
}

.centered {
    text-align: center;
    // margin: auto;
}

.this-box {
    font-size: 3em;
    text-align: center;
    line-height: 1.3em;
    margin: 0 auto;
    text-shadow:
        -0.01em 0.01em 0 #666,
        -0.02em 0.02em 0 #666,
        -0.03em 0.03em 0 #666,
        -0.04em 0.04em 0 #666,
        -0.05em 0.05em 0 #666,
        -0.06em 0.06em 0 #999,
        -0.07em 0.07em 0 #999,
        -0.08em 0.08em 0 #999,
        -0.09em 0.09em 0 #999,
        -0.1em 0.1em 0 #999,
        -0.11em 0.11em 0 #999;
}

#selected-box {
    margin: 25px;
    padding: 20px;
    box-shadow:
        0 5px 10px #646464,
        0 -2px 2px #666,
        rgba(0, 0, 0, 0.07) 0px 4px 4px,
        inset 0 -10px 10px rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.box-item {
    padding-bottom: 35px;
    border: 1px dotted orange;
}

.box-sort {
    margin-left: 15px;
    margin-right: 15px;
}

//////////////////////////
/*     SEARCH PAGE     */
////////////////////////

#searchbox {
    margin: auto;
    margin-bottom: 2rem;
    text-align: center;
}

.search-results {
    margin: 0;
    padding: 0;

    ul {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
        list-style: none;
        text-align: center;
    }
}

.search-header {
    padding: 1.5rem 0;
    margin: 1rem 0;
    border-top: 5px dashed orange;
    border-bottom: 5px dashed orange;
    border-collapse: collapse;
    font-size: 1.5rem;

}

.search-result {
    padding: .75rem 0;
    margin: .5rem 0;
    border-bottom: 1px dotted orange;
}
