@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --clr-bg: hsl(194 100% 11%);
  --clr-accent: hsl(31 90% 57%);
  --clr-accent-light: hsl(34 100% 90%);
  --clr-accent-dark: hsl(34 100% 16%);
  --clr-text: hsl(0 0% 87%);
  --clr-gray-200: hsl(0 0% 50%);
  --clr-gray-300: hsl(0 0% 38%);
  --clr-gray-400: hsl(0 0% 27%);
  --clr-gray-500: hsl(0 0% 12%);
  --clr-gray-600: hsl(0 0% 6% / 0.2);
  --clr-gray-700: hsl(0 0% 6% / 0.4);
  --clr-gray-800: hsl(0 0% 6% / 0.8);
  --clr-gray-900: hsla(0, 0%, 15%, 0.95);
  --clr-success: hsl(120 100% 18% / 0.8);
  --clr-warning: hsl(60 100% 18% / 0.8);
  --clr-error: hsl(4 100% 18% / 0.8);
}

@media (prefers-color-scheme: light) {
  :root {
    --text: hsl(0 0% 87%);
  }
}
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
@media (prefers-reduced-motion) {
  *,
  *::before,
  *::after {
    transition: none !important;
  }
}

body {
  margin: 0;
}

a,
button,
label,
input {
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  box-sizing: content-box;
  display: block;
  height: px2rem(1px);
  padding: 0;
  overflow: visible;
  border: 0;
}

small {
  font-size: 80%;
}

sub,
sup {
  line-height: 1em;
}

img {
  border-style: none;
}

table {
  border-spacing: 0;
  border-collapse: separate;
}

td,
th {
  font-weight: 400;
  vertical-align: top;
}

button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  font: inherit;
}

input {
  border: 0;
  outline: none;
  font: inherit;
}

textarea,
select {
  font: inherit;
}

:root {
  --ff-base: "Ubuntu Mono", monospace;
}

nav ul {
  width: 90%;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  border-bottom-right-radius: 5em;
  border-bottom-left-radius: 5em;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: var(--clr-gray-400);
  box-shadow: 0 5px 10px var(--clr-gray-300), 0 -2px 2px var(--clr-gray-300), var(--clr-gray-600) 0px 4px 4px, inset 0 -10px 10px var(--clr-gray-700), var(--clr-gray-600) 0px 16px 16px;
}
nav ul[data-secondary] {
  width: 80%;
  margin-left: 5rem;
  position: relative;
}
nav li {
  list-style: none;
  padding: 0.75rem;
  padding-bottom: 1rem;
}
nav a {
  color: var(--clr-text);
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}

:root {
  --grid-gap: 1rem;
}

.grid-wrapper.one-column {
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  width: 70%;
  margin: auto;
}
.grid-wrapper.two-columns {
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  width: 70%;
  margin: auto;
}
.grid-wrapper.two-columns > .grid-item:last-child:nth-child(odd) {
  grid-column: 1/span 2;
  justify-self: center;
  width: calc(50% - var(--grid-gap) * 4);
}
.grid-wrapper.three-columns {
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  width: 70%;
  margin: auto;
}

.textbox {
  border-radius: var(--btn-border-radius);
  font-size: 1.33rem;
  padding: 10px 25px;
  background-color: var(--clr-text);
}

:root {
  --btn-border-radius: 12px;
}

.button {
  background-color: var(--clr-gray-400);
  border-radius: var(--btn-border-radius);
  font-size: 1.33rem;
  padding: 10px 25px;
  margin: 7px;
  color: var(--clr-text);
  text-shadow: 2px 4px 1px var(--clr-gray-800);
}
.button:hover {
  text-decoration: underline;
  text-shadow: 0 0 7px hsla(0, 0%, 100%, 0.5), 0 0 15px var(--clr-accent);
}

.flash-messages {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  width: 60%;
  z-index: 9999;
  text-align: center;
}
.flash-messages__message {
  margin: 10px;
  padding: 10px 25px;
  border-radius: var(--btn-border-radius);
  box-shadow: 5px 5px 5px 0px black, inset 0px 0px 5px 0px var(--clr-gray-200), inset -5px -5px 4px -2px var(--clr-gray-200);
  font-size: 1.2rem;
  line-height: 2rem;
  color: var(--clr-text);
}
.flash-messages__message--success {
  background-color: var(--clr-success);
}
.flash-messages__message--warning {
  background-color: var(--clr-warning);
}
.flash-messages__message--error {
  background-color: var(--clr-error);
}
.flash-messages__close-button {
  position: absolute;
  top: 50%;
  right: 25px;
  background-color: transparent;
  font-size: 1.4rem;
  color: var(--clr-text);
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
}
.flash-messages__close-button:hover {
  font-weight: bold;
  transform: scale(1.5) translate(-35%, -35%);
}

.site-errors {
  width: 75%;
  background-color: #666;
  padding: 25px;
  border: 5px red dotted;
  border-radius: 25px;
  text-align: center;
}

.site-errors__title {
  font-size: 2rem;
}

.site-errors__message {
  font-size: 1.5rem;
}

.autotask {
  margin: 30px;
  padding: 25px;
  border: 2px solid var(--clr-gray-300);
  border-radius: var(--btn-border-radius);
  line-height: 1.7em;
  font-size: larger;
}
.autotask h2 {
  text-align: center;
  margin-bottom: 30px;
}

.autotask-details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.autotask-details-grid--left {
  grid-column: 1/2;
  margin: auto;
}

.autotask-details-grid--right {
  grid-column: 2/3;
  margin: auto;
}

#add-autotask {
  width: 50%;
  margin: auto;
  padding: 40px 80px;
  line-height: 1.5em;
  background-color: var(--clr-gray-500);
  border: 2px solid var(--clr-gray-300);
  border-radius: var(--btn-border-radius);
}
#add-autotask h2 {
  text-align: center;
  margin-bottom: 40px;
}

.add-autotask-box {
  width: 50%;
  margin: auto;
}

/*     INDEX PAGE     */
.box-packing-index-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  padding: 0.8rem;
}

.box-details, .box-listing {
  margin: 2rem;
  padding: 2rem;
  padding-bottom: 3rem;
  text-align: center;
  box-shadow: 0 5px 10px #646464, 0 -2px 2px var(--clr-gray-600), rgba(0, 0, 0, 0.07) 0px 4px 4px, inset 0 -10px 10px rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.box-details__title {
  color: rgb(114, 255, 114);
  font-size: 3rem;
  text-shadow: -0.01em 0.01em 0 var(--clr-gray-600), -0.02em 0.02em 0 var(--clr-gray-600), -0.03em 0.03em 0 var(--clr-gray-600), -0.04em 0.04em 0 var(--clr-gray-600), -0.05em 0.05em 0 var(--clr-gray-600), -0.06em 0.06em 0 var(--clr-gray-200), -0.07em 0.07em 0 var(--clr-gray-200), -0.08em 0.08em 0 var(--clr-gray-200), -0.09em 0.09em 0 var(--clr-gray-200), -0.1em 0.1em 0 var(--clr-gray-200), -0.11em 0.11em 0 var(--clr-gray-200);
}
.box-details__link {
  text-decoration: none;
}
.box-details__list {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 3rem;
  font-size: 1.5rem;
}
.box-details--size {
  font-size: 2rem;
}
.box-details--essential {
  color: var(--clr-accent);
}
.box-details--warm {
  color: rgb(255, 107, 107);
}
.box-details--liquid {
  color: rgb(60, 120, 170);
}

.box-items__list {
  list-style: none;
  margin: auto;
  padding: 0;
  width: 50%;
}
.box-items__item {
  margin: 1rem;
  padding: 1rem;
  border: 1px dotted var(--clr-accent);
}
.box-items__item--details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.box-function {
  border: 3px solid black;
  padding: 25px;
  margin: 15px;
}

/*     ALL PAGE     */
.box-packing-all-layout {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-gap: 30px;
  margin: auto;
}

.box-listing:last-child:nth-child(odd) {
  grid-column: 1/span 2;
  justify-self: center;
  width: 45%;
}

.box-listing-sort {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem auto;
  padding: 1rem 0;
  text-align: center;
}
.box-listing-sort__item {
  padding: 0 2rem;
}

/*     SEARCH PAGE     */
.searchbox {
  margin: 3rem auto;
  text-align: center;
}

.search-results {
  margin: 0;
  padding: 0;
}
.search-results__header, .search-results__item {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
  list-style: none;
  text-align: center;
  padding: 1.5rem 0;
  margin: 1rem 0;
  border-top: 5px dashed var(--clr-accent);
  border-bottom: 5px dashed var(--clr-accent);
  font-size: 1.5rem;
}
.search-results__item {
  line-height: 2rem;
  border-top: 1px dotted var(--clr-accent);
  border-bottom: 1px dotted var(--clr-accent);
  font-size: 1.3rem;
}
.search-results__link {
  text-decoration: underline;
  color: rgb(114, 255, 114);
}

#countdowns {
  width: 50%;
  margin: auto;
  padding: 50px;
  text-align: center;
}

.countdown-box {
  margin: 15px;
  padding: 15px;
  border: 2px solid rgb(117, 109, 96);
  border-radius: var(--btn-border-radius);
  font-size: larger;
}

.daysleft {
  line-height: 2em;
}

.past {
  background-color: var(--clr-error);
}

.two-weeks-left {
  background-color: var(--clr-error);
}

.month-left {
  background-color: var(--clr-warning);
}

#add-countdown {
  width: 50%;
  margin: auto;
  padding: 40px 80px;
  line-height: 1.5em;
  background-color: var(--clr-gray-800);
  border: 2px solid rgb(117, 109, 96);
  border-radius: var(--btn-border-radius);
}
#add-countdown h2 {
  text-align: center;
  margin-bottom: 40px;
}

#events {
  margin: auto;
  text-align: center;
  width: 90%;
}
#events ul {
  margin: 50px 10px;
  padding: 10px;
  border: 2px solid var(--clr-accent-dark);
  border-radius: var(--btn-border-radius);
  font-size: larger;
}
#events ul.attending {
  border: 3px solid var(--clr-success);
}
#events ul > li {
  list-style: none;
  line-height: 2em;
  margin: 10px 0;
}
#events ul > li form {
  display: inline-block;
}
#events ul > li button {
  display: inline-block;
}
#events ul > li.title {
  font-size: 1.5em;
  font-weight: bold;
}

#add-event {
  width: 50%;
  margin: 50px auto;
  padding: 40px 80px;
  line-height: 1.5em;
  background-color: var(--clr-gray-900);
  text-align: center;
  border: 3px dashed var(--clr-accent);
  border-radius: var(--btn-border-radius);
}

#main-index-content {
  width: 60%;
  margin: 40px auto;
  padding: 20px;
  background-color: #666;
  border: 5px greenyellow dashed;
  border-radius: 200px;
  text-align: center;
}
#main-index-content > img {
  height: 60%;
  width: 60%;
}

#home-links {
  display: inline-flex;
  width: 40%;
}

.link {
  display: inline-block;
  text-align: center;
  width: 100%;
}

:root {
  --3d-effect-text: 1px 1px 0px #999, 2px 2px 0px #888, 3px 3px 0px #777, 4px 4px 0px #666, 5px 5px 0px #555,
      6px 6px 0px #444, 7px 7px 0px #333, 8px 8px 0px #222, 9px 9px 0px #111;
  --3d-effect: 1px 1px 0px #999, 2px 2px 0px #888, 3px 3px 0px #777, 4px 4px 0px #666, 5px 5px 0px #555,
      6px 6px 0px #444, 7px 7px 0px #333, 8px 8px 0px #222, 9px 9px 0px #111, 28px 28px 30px rgba(0, 0, 0, 0.8),
      20px 30px 35px rgba(0, 0, 0, 0.7), 30px 40px 40px rgba(0, 0, 0, 0.6);
}

.perspective-wrapper {
  perspective: 1000px;
  transform-style: preserve-3d;
}

.server-stats-wrapper {
  width: 60%;
  background-color: var(--clr-gray-400);
  padding: 25px;
  margin: 50px;
  border: 2px solid var(--clr-accent);
  border-radius: 25px;
  box-shadow: var(--3d-effect);
  transform: rotateX(25deg) rotateY(-10deg) rotateZ(15deg);
}

.server-stats {
  --fs: 2rem;
  list-style: none;
  font-size: var(--fs);
  line-height: 3em;
  text-shadow: var(--3d-effect-text);
}
.server-stats__item {
  margin: 40px;
  border: 1px solid var(--clr-gray-400);
  border-radius: 25px;
  box-shadow: var(--3d-effect);
}
.server-stats__item::before {
  content: "→  ";
  font-size: calc((var(--fs)) * 1.5);
  color: var(--clr-accent);
  margin-inline: 40px;
}
.server-stats__item:hover {
  animation-name: highlight-cycle;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.5, 0.25, 0.5, 1);
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
@keyframes highlight-cycle {
  50% {
    text-shadow: var(--3d-effect-text), 0 0 7px hsla(0, 0%, 100%, 0.5), 0 0 15px var(--clr-accent);
    box-shadow: var(--3d-effect), 0 0 7px hsla(0, 0%, 100%, 0.5), 0 0 15px var(--clr-accent);
    transform: scale(1.05);
    border-top: 1px solid var(--clr-text);
    border-left: 1px solid var(--clr-text);
  }
}

#content-layout-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  padding: 10px;
  align-items: flex-start;
  overflow: auto;
  margin-bottom: 200px;
}

.task-list {
  margin-left: auto;
  margin-right: auto;
}

.task-header {
  text-align: center;
}

.task {
  margin: 20px;
  padding: 20px;
  border: 2px solid gray;
  border-radius: 30px;
  line-height: 1.5em;
}
.task.completed {
  border-color: var(--clr-success);
}

#completed-filters {
  width: 100%;
  margin: auto;
  margin-bottom: 100px;
  text-align: center;
}

.filter-buttons {
  display: inline-flex;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 0;
  box-sizing: border-box;
  font-size: 1.2em;
}

.filter-buttons input[type=radio] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.filter-buttons label {
  display: inline-block;
  padding: 15px 20px;
  border-radius: var(--btn-border-radius);
  box-shadow: 5px 5px 5px 0px black, inset 0px 0px 5px 0px var(--clr-gray-200), inset -5px -5px 4px -2px var(--clr-gray-200);
}

.filter-buttons input[type=radio]:checked + label {
  color: var(--clr-success);
  font-weight: bold;
  background-color: var(--clr-gray-800);
  box-shadow: inset 5px 5px 5px 0px var(--clr-gray-800), inset -3px -3px 5px 0px var(--clr-gray-600);
}

.filter-buttons label:hover {
  font-style: italic;
  font-weight: bold;
}

.filterbutton:first-of-type:not(:last-of-type) + label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin: 3px;
  margin-right: 0px;
}
.filterbutton:not(:first-of-type):not(:last-of-type) + label {
  border-radius: 0;
  margin: 0px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.filterbutton:last-of-type:not(:first-of-type) + label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 3px;
  margin-left: 0px;
}

#completed-averages {
  margin-bottom: 100px;
  text-align: center;
}

#graph {
  text-align: center;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  opacity: 100%;
  text-align: center;
  margin: auto;
}

#add-task {
  display: inline-flex;
  width: 95%;
  height: 100px;
  padding: 25px;
  background-color: var(--clr-gray-900);
  border: 3px solid gray;
  border-bottom: none;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}
#add-task + label {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-left: 20px;
}
#add-task h3 {
  padding-left: 10px;
  padding-right: 50px;
}
#add-task .button {
  margin-left: 50px;
}

body {
  background-color: var(--clr-bg);
  font-family: var(--ff-base);
  font-weight: 300;
  color: var(--clr-text);
}

.box-3d {
  box-shadow: 5px 5px 5px 0px black, inset 0px 0px 5px 0px var(--clr-gray-200), inset -5px -5px 4px -2px var(--clr-gray-200);
}/*# sourceMappingURL=main.css.map */
