@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --clr-primary--darker: hsl(194, 100%, 10%);
  --clr-primary: hsl(194 100% 11%);
  --clr-primary--lighter: hsl(194, 100%, 13%);
  --clr-accent: hsl(31 90% 57%);
  --clr-accent-light: hsl(34 100% 90%);
  --clr-accent-dark: hsl(34 100% 16%);
  --clr-text: hsl(0 0% 87%);
  --clr-accent--orange: hsl(31 90% 57%);
  --clr-accent--red: hsl(0, 100%, 71%);
  --clr-accent--blue: hsl(207, 48%, 45%);
  --clr-accent--green: hsl(120 100% 18%);
  --clr-success: hsl(120 100% 18% / 0.8);
  --clr-warning: hsl(60 100% 18% / 0.8);
  --clr-error: hsl(4 100% 18% / 0.8);
  --clr-gray-100: hsl(0, 0%, 67%);
  --clr-gray-200: hsl(0, 0%, 60%);
  --clr-gray-300: hsl(0, 0%, 53%);
  --clr-gray-400: hsl(0, 0%, 47%);
  --clr-gray-500: hsl(0, 0%, 40%);
  --clr-gray-600: hsl(0, 0%, 33%);
  --clr-gray-700: hsl(0, 0%, 27%);
  --clr-gray-800: hsl(0, 0%, 20%);
  --clr-gray-900: hsl(0, 0%, 13%);
  --clr-gray-1000: hsl(0, 0%, 7%);
  --clr-gray-trans-500: hsl(0 0% 100% / 0.5);
  --clr-gray-trans-700: hsla(0 0% 50% / 0.5);
  --clr-gray-trans-800: hsla(0 0% 50% / 0.3);
  --clr-gray-trans-900: hsla(0 0% 15% / 0.95);
  --clr-black-trans-200: hsl(0 0% 5% / 0.2);
  --clr-black-trans-400: hsl(0 0% 5% / 0.4);
  --clr-black-trans-600: hsl(0 0% 5% / 0.6);
  --clr-black-trans-800: hsl(0 0% 5% / 0.8);
  --clr-black-trans-1000: hsl(0 0% 5% / 1.0);
}

@media (prefers-color-scheme: light) {
  :root {
    --text: hsl(0 0% 87%);
  }
}
/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vi, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vi, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vi, 0.9375rem); /* 1 rem */
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem); /* 1.5 rem */
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vi, 1.875rem); /* 2 rem */
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vi, 2.5rem); /* 2.5 rem */
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vi, 3.75rem); /* 3 rem */
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vi, 5rem); /* 4-5 rem */
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vi, 7.5rem);
  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vi, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vi, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vi, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vi, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vi, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vi, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vi, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vi, 7.5rem);
  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.6467rem + 2.3913vi, 2.5rem);
}

:root {
  --deep-3d-box-shadow:
      1px 1px 0px #999,
      2px 2px 0px #888,
      3px 3px 0px #777,
      4px 4px 0px #666,
      5px 5px 0px #555,
      6px 6px 0px #444,
      7px 7px 0px #333,
      8px 8px 0px #222,
      9px 9px 0px #111,
      28px 28px 30px rgba(0, 0, 0, 0.8),
      20px 30px 35px rgba(0, 0, 0, 0.7),
      30px 40px 40px rgba(0, 0, 0, 0.6);
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
@media (prefers-reduced-motion) {
  *,
  *::before,
  *::after {
    transition: none !important;
  }
}

body {
  margin: 0;
}

a,
button,
label,
input {
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  box-sizing: content-box;
  display: block;
  height: px2rem(1px);
  padding: 0;
  overflow: visible;
  border: 0;
}

small {
  font-size: 80%;
}

sub,
sup {
  line-height: 1em;
}

img {
  border-style: none;
}

table {
  border-spacing: 0;
  border-collapse: separate;
}

td,
th {
  font-weight: 400;
  vertical-align: top;
}

button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  font: inherit;
}

input {
  border: 0;
  outline: none;
  font: inherit;
}

textarea,
select {
  font: inherit;
}

:root {
  --ff-base: "Ubuntu Mono", monospace;
  --fs-300: clamp(0.9375rem, 0.9158rem + 0.1087vi, 1rem);
  --fs-400: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  --fs-500: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem);
  --fs-600: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem);
  --fs-700: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem);
  --fs-800: clamp(2.3328rem, 2.0827rem + 1.2504vi, 3.0518rem);
  --fs-900: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem);
  --fs-1000: clamp(3.3592rem, 2.8691rem + 2.4507vi, 4.7684rem);
  --fs-1100: clamp(4.0311rem, 3.36rem + 3.3555vi, 5.9605rem);
  --deep-3d-text-shadow:
      1px 1px 0px var(--clr-gray-400),
      2px 2px 0px var(--clr-gray-400),
      3px 3px 0px var(--clr-gray-500),
      4px 4px 0px var(--clr-gray-600),
      5px 5px 0px var(--clr-gray-700),
      6px 6px 0px var(--clr-gray-800),
      7px 7px 0px var(--clr-gray-900);
}

.centered {
  text-align: center;
}

body {
  background-color: var(--clr-primary--darker);
  color: var(--clr-text);
  font-family: var(--ff-base);
  font-weight: 300;
  line-height: 1.5em;
}

h1 {
  font-size: var(--fs-900);
}

h2 {
  font-size: var(--fs-700);
}

h3 {
  font-size: var(--fs-500);
}

nav ul {
  width: 90%;
  position: relative;
  z-index: 1;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  border-bottom-right-radius: 5em;
  border-bottom-left-radius: 5em;
  font-size: var(--fs-500);
  font-weight: bold;
  background-color: var(--clr-gray-800);
  box-shadow: 0 5px 10px var(--clr-gray-600), 0 -2px 2px var(--clr-gray-600), var(--clr-black-trans-200) 0px 4px 4px, inset 0 -10px 10px var(--clr-black-trans-400), var(--clr-black-trans-200) 0px 16px 16px;
}
nav ul[data-secondary] {
  width: 80%;
  margin-left: var(--space-2xl);
  z-index: 0;
}
nav li {
  list-style: none;
  padding: var(--space-2xs);
  padding-bottom: var(--space-xs);
}
nav a {
  color: var(--clr-text);
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}

:root {
  --box-shadow-base:
      0 -2px 2px var(--clr-black-trans-200),
      0px 4px 4px var(--clr-black-trans-800),
      0px 16px 16px var(--clr-black-trans-800),
      16px 8px 16px var(--clr-black-trans-800),
      inset 5px 5px 10px var(--clr-black-trans-200),
      inset -10px -10px 10px var(--clr-black-trans-200);
  --box-shadow-highlighted: inset 0px 0px 55px 5px var(--clr-accent-dark);
}

.grid {
  display: grid;
  gap: var(--space-xl);
  width: 80%;
  margin: var(--space-2xl) auto;
  justify-content: center;
}
.grid--one-column {
  grid-template-columns: repeat(1, minmax(200px, 0.5fr));
}
.grid--one-column-wide {
  grid-template-columns: 1fr;
}
.grid--two-columns {
  grid-template-columns: repeat(2, minmax(200px, 0.5fr));
}
.grid--three-columns {
  grid-template-columns: repeat(3, minmax(200px, 0.5fr));
}
.grid__item {
  padding: var(--space-m);
  text-align: center;
  font-size: var(--fs-400);
  border-radius: var(--btn-border-radius);
  background-color: var(--clr-primary);
  box-shadow: var(--box-shadow-base), 2px 4px 10px var(--clr-gray-trans-700);
}
.grid__item--add-new {
  width: 45%;
  margin: auto;
  margin-bottom: var(--space-2xl);
  padding: var(--space-l) var(--space-2xl);
  line-height: 1.5em;
  background-color: var(--clr-black-trans-600);
  box-shadow: var(--box-shadow-base), -1px -2px 3px var(--clr-black-trans-200), inset -5px -5px 12px var(--clr-gray-trans-900), inset 3px 3px 12px var(--clr-gray-trans-800);
}
.grid__item--highlighted {
  background-color: var(--clr-primary--lighter);
  box-shadow: var(--box-shadow-base), var(--box-shadow-highlighted), -1px -2px 3px var(--clr-black-trans-200), inset -5px -5px 12px var(--clr-gray-trans-900), inset 3px 3px 12px var(--clr-gray-trans-800);
  transform: scale(1.1);
}

.item-details {
  display: flex;
  justify-content: center;
}
.item-details__item {
  text-align: left;
  line-height: 2em;
  padding: 0 var(--space-m);
}

:root {
  --btn-border-radius: 12px;
}

.button {
  margin: var(--space-2xs);
  padding: var(--space-2xs) var(--space-m);
  font-size: var(--fs-400);
  color: var(--clr-text);
  background-color: var(--clr-gray-800);
  border-radius: var(--btn-border-radius);
  box-shadow: 5px 5px 5px 0px var(--clr-black-trans-1000), inset 0px 0px 5px 0px var(--clr-gray-400), inset -5px -5px 4px -2px var(--clr-gray-400);
  text-shadow: 2px 4px 1px var(--clr-black-trans-800);
  transition: all 0.1s ease-in-out;
}
.button--pressed {
  transform: scale(1.05); /* a depressed button looks smaller */
  color: var(--clr-accent-light);
  box-shadow: inset 5px 5px 5px 0px var(--clr-gray-1000), inset -1px -1px 3px 0px var(--clr-gray-900), -1px -1px 5px 0px var(--clr-gray-1000), -1px -1px 35px 5px var(--clr-accent-dark), inset 1px 1px 15px 0px var(--clr-accent-dark);
}
.button:hover:not(.button--pressed) {
  text-shadow: 0 0 7px var(--clr-gray-trans-500), 0 0 15px var(--clr-accent);
}
.button__text {
  display: inline-block;
  padding-bottom: 2px; /*the space for the gradient*/
  background: linear-gradient(var(--clr-text), var(--clr-text)) center bottom;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: all 0.1s ease-in-out;
}
.button__text:hover {
  background-size: 100% 2px;
}

.textbox {
  margin: var(--space-2xs);
  padding: var(--space-2xs) var(--space-m);
  font-size: var(--fs-400);
  color: var(--clr-text);
  background-color: var(--clr-gray-800);
  border-radius: var(--btn-border-radius);
  box-shadow: 5px 5px 5px 0px var(--clr-black-trans-1000), inset 0px 0px 5px 0px var(--clr-gray-400), inset -5px -5px 4px -2px var(--clr-gray-400);
  border: none;
  border-radius: var(--btn-border-radius);
  font-size: var(--fs-400);
  padding: 0.5em 1.75em;
  color: var(--clr-text);
  background-color: var(--clr-gray-800);
}

.add-item-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-l);
  padding-inline: var(--space-xl);
}
.add-item-form__item {
  display: grid;
  gap: var(--space-2xs);
  text-align: left;
}
.add-item-form__item--full-width {
  grid-column: 1/-1;
}
.add-item-form__item--submit {
  grid-column: span 2;
  justify-self: center;
}

:root {
  --btn-border-radius: 12px;
}

.button {
  margin: var(--space-2xs);
  padding: var(--space-2xs) var(--space-m);
  font-size: var(--fs-400);
  color: var(--clr-text);
  background-color: var(--clr-gray-800);
  border-radius: var(--btn-border-radius);
  box-shadow: 5px 5px 5px 0px var(--clr-black-trans-1000), inset 0px 0px 5px 0px var(--clr-gray-400), inset -5px -5px 4px -2px var(--clr-gray-400);
  text-shadow: 2px 4px 1px var(--clr-black-trans-800);
  transition: all 0.1s ease-in-out;
}
.button--pressed {
  transform: scale(1.05); /* a depressed button looks smaller */
  color: var(--clr-accent-light);
  box-shadow: inset 5px 5px 5px 0px var(--clr-gray-1000), inset -1px -1px 3px 0px var(--clr-gray-900), -1px -1px 5px 0px var(--clr-gray-1000), -1px -1px 35px 5px var(--clr-accent-dark), inset 1px 1px 15px 0px var(--clr-accent-dark);
}
.button:hover:not(.button--pressed) {
  text-shadow: 0 0 7px var(--clr-gray-trans-500), 0 0 15px var(--clr-accent);
}
.button__text {
  display: inline-block;
  padding-bottom: 2px; /*the space for the gradient*/
  background: linear-gradient(var(--clr-text), var(--clr-text)) center bottom;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: all 0.1s ease-in-out;
}
.button__text:hover {
  background-size: 100% 2px;
}

.flash-messages {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  width: 60%;
  z-index: 9999;
  text-align: center;
}
.flash-messages__message {
  margin: var(--space-2xs);
  padding: var(--space-2xs) var(--space-s);
  border-radius: var(--btn-border-radius);
  box-shadow: 5px 5px 5px 0px black, inset 0px 0px 5px 0px var(--clr-gray-400), inset -5px -5px 4px -2px var(--clr-gray-400);
  font-size: var(--fs-400);
  line-height: 2em;
  color: var(--clr-text);
}
.flash-messages__message--success {
  background-color: var(--clr-success);
}
.flash-messages__message--warning {
  background-color: var(--clr-warning);
}
.flash-messages__message--error {
  background-color: var(--clr-error);
}
.flash-messages__close-button {
  position: absolute;
  top: 50%;
  right: 25px;
  background-color: transparent;
  font-size: var(--fs-600);
  color: var(--clr-text);
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
}
.flash-messages__close-button:hover {
  font-weight: bold;
  transform: scale(1.5) translate(-35%, -35%);
  color: var(--clr-accent--red);
}

.site-errors {
  width: 75%;
  padding: 25px;
  background-color: var(--clr-gray-600);
  border: 5px red dotted;
  border-radius: 25px;
  text-align: center;
}

.site-errors__title {
  font-size: var(--fs-700);
}

.site-errors__message {
  font-size: var(--fs-500);
}

/*     INDEX PAGE     */
.box-packing-index-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--space-m);
  padding: var(--space-2xs);
}

.packed-box {
  padding: var(--space-m);
  text-align: center;
  font-size: var(--fs-400);
  border-radius: var(--btn-border-radius);
  background-color: var(--clr-primary);
  box-shadow: var(--box-shadow-base), 2px 4px 10px var(--clr-gray-trans-700);
}
.packed-box--size {
  font-size: var(--fs-700);
}
.packed-box__title {
  color: var(--clr-accent-light);
  text-shadow: var(--deep-3d-text-shadow);
}
.packed-box__link {
  text-decoration: none;
}
.packed-box__details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: var(--fs-600);
}
.packed-box__details--essential {
  color: var(--clr-accent--orange);
}
.packed-box__details--warm {
  color: var(--clr-accent--red);
}
.packed-box__details--liquid {
  color: var(--clr-accent--blue);
}

.packed-box-item {
  padding-bottom: var(--space-m);
  border-top: 1px dotted var(--clr-accent);
}
.packed-box-item:last-child {
  border-bottom: 1px dotted var(--clr-accent);
}
.packed-box-item__details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.packed-box-item__details--essential {
  color: var(--clr-accent--orange);
}
.packed-box-item__details--warm {
  color: var(--clr-accent--red);
}
.packed-box-item__details--liquid {
  color: var(--clr-accent--blue);
}

.box-function {
  border: 3px solid var(--clr-gray-1000);
  padding: 25px;
  margin: 15px;
}

/*     ALL PAGE     */
.box-listing-sort {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: var(--space-m) auto;
  padding: var(--space-xs) 0;
  text-align: center;
}
.box-listing-sort__item {
  padding: 0 var(--space-m);
}

/*     SEARCH PAGE     */
.searchbox {
  margin: var(--space-xl) auto;
  text-align: center;
}

.search-results {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
  list-style: none;
  text-align: center;
  padding: var(--space-s) 0;
  margin: var(--space-xs) 0;
}
.search-results__header {
  font-size: var(--fs-500);
  border-top: 5px dashed var(--clr-accent);
  border-bottom: 5px dashed var(--clr-accent);
}
.search-results__item {
  font-size: var(--fs-400);
  line-height: 1.5em;
  border-top: 1px dotted var(--clr-accent);
  border-bottom: 1px dotted var(--clr-accent);
}
.search-results__link {
  text-decoration: underline;
  color: var(--clr-accent-light);
}

.daysleft {
  line-height: 2em;
}

.past {
  background-color: var(--clr-error);
}

.two-weeks-left {
  background-color: var(--clr-error);
}

.month-left {
  background-color: var(--clr-warning);
}

.event {
  list-style: none;
  margin: var(--space-xs);
}
.event__item {
  line-height: 2em;
}
.event__buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: var(--space-m);
}

.main-index-content {
  --border-radius: 200px;
  --border-thickness: 30px;
  position: relative;
  z-index: 0;
  width: 60%;
  margin: var(--space-l) auto;
  padding: var(--space-m);
  background-color: var(--clr-gray-900);
  border-radius: var(--border-radius);
  overflow: hidden;
  text-align: center;
}
.main-index-content::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: var(--clr-gray-800);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(transparent, var(--clr-accent), var(--clr-accent-light), transparent 30%);
  animation: rotate 4s linear infinite;
}
.main-index-content::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: calc(var(--border-thickness) / 2);
  top: calc(var(--border-thickness) / 2);
  width: calc(100% - var(--border-thickness));
  height: calc(100% - var(--border-thickness));
  background: var(--clr-gray-900);
  border-radius: var(--border-radius);
}
.main-index-content > img {
  height: 60%;
  width: 60%;
  filter: brightness(0.75);
}
.main-index-content > h1,
.main-index-content h2 {
  text-shadow: var(--deep-3d-text-shadow);
}
.main-index-content > h1:hover,
.main-index-content h2:hover {
  text-shadow: var(--deep-3d-text-shadow), 0 0 7px var(--clr-gray-trans-500), 0 0 15px var(--clr-accent);
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
.home-links {
  display: flex;
  justify-content: center;
  gap: var(--space-l);
  margin-bottom: var(--space-l);
}
.home-links__link {
  text-align: center;
}

.perspective-wrapper {
  perspective: 1000px;
  transform-style: preserve-3d;
}

.server-stats-wrapper {
  width: 60%;
  padding: 25px;
  margin: 50px;
  background-color: var(--clr-gray-800);
  border: 2px solid var(--clr-accent);
  border-radius: 25px;
  transform: rotateX(25deg) rotateY(-10deg) rotateZ(15deg);
  box-shadow: var(--deep-3d-box-shadow);
}

.server-stats {
  --font-size: var(--fs-600);
  list-style: none;
  font-size: var(--font-size);
  line-height: 3em;
  text-shadow: var(--deep-3d-text-shadow);
}
.server-stats__item {
  margin: 40px;
  border: 1px solid var(--clr-gray-800);
  border-radius: 25px;
  box-shadow: var(--deep-3d-box-shadow);
}
.server-stats__item::before {
  content: "→  ";
  font-size: calc((var(--font-size)) * 1.5);
  color: var(--clr-accent);
  margin-inline: 40px;
}
.server-stats__item:hover {
  animation-name: highlight-cycle;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.5, 0.25, 0.5, 1);
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes highlight-cycle {
  50% {
    text-shadow: var(--deep-3d-text-shadow), 0 0 7px var(--clr-gray-trans-500), 0 0 15px var(--clr-accent);
    box-shadow: var(--deep-3d-box-shadow), 0 0 7px var(--clr-gray-trans-500), 0 0 15px var(--clr-accent);
    transform: scale(1.05);
    border-top: 1px solid var(--clr-text);
    border-left: 1px solid var(--clr-text);
  }
}
.task-layout {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  width: 90%;
  gap: var(--space-s);
  margin-inline: auto;
  margin-top: var(--space-s);
  margin-bottom: var(--space-2xl);
  align-items: start;
  justify-content: center;
}
.task-layout__title {
  text-align: center;
  margin: var(--space-xs);
}

.tasks-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-s);
  margin: var(--space-xs) auto;
  justify-content: center;
}

.task {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "title notes" "priority notes" "category button" "add-date button";
  align-items: center;
  padding: var(--space-xs);
  padding-inline: var(--space-l);
  line-height: 1.5em;
  border-radius: var(--btn-border-radius);
  background-color: var(--clr-gray-700);
  box-shadow: var(--box-shadow-base), 2px 4px 10px var(--clr-gray-trans-700);
}
.task__title {
  grid-area: title;
  margin: var(--space-xs);
  margin-left: 0;
  color: var(--clr-accent-light);
}
.task__notes {
  grid-area: notes;
  text-align: right;
}
.task__priority {
  grid-area: priority;
  margin-left: var(--space-m);
}
.task__category {
  grid-area: category;
  margin-left: var(--space-m);
}
.task__add-date {
  grid-area: add-date;
  margin-left: var(--space-m);
}
.task__button {
  grid-area: button;
  text-align: right;
}
.task--completed {
  background-color: var(--clr-gray-700);
  border: 3px solid var(--clr-success);
}
.task--due {
  border: 3px solid var(--clr-error);
  animation: task-due 2s infinite;
}
@keyframes task-due {
  50% {
    border: 3px solid var(--clr-accent--red);
  }
}
.task--soon {
  border: 3px solid var(--clr-warning);
  animation: task-soon 3s infinite;
}
@keyframes task-soon {
  50% {
    border: 3px solid var(--clr-accent--orange);
  }
}

#completed-filters {
  width: 100%;
  margin: auto;
  margin-bottom: 100px;
  text-align: center;
}

.filter-buttons {
  display: inline-flex;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 0;
  box-sizing: border-box;
  font-size: var(--fs-400);
}

.filter-buttons input[type=radio] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.filter-buttons label {
  display: inline-block;
  padding: var(--space-s) var(--space-m);
  border-radius: var(--btn-border-radius);
  box-shadow: 5px 5px 5px 0px var(--clr-black-trans-1000), inset 0px 0px 5px 0px var(--clr-gray-400), inset -5px -5px 4px -2px var(--clr-gray-400);
}

.filter-buttons input[type=radio]:checked + label {
  color: var(--clr-success);
  font-weight: bold;
  background-color: var(--clr-black-trans-800);
  box-shadow: inset 5px 5px 5px 0px var(--clr-black-trans-800), inset -3px -3px 5px 0px var(--clr-black-trans-200);
}

.filter-buttons label:hover {
  font-style: italic;
  font-weight: bold;
}

.filterbutton:first-of-type:not(:last-of-type) + label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin: 3px;
  margin-right: 0px;
}
.filterbutton:not(:first-of-type):not(:last-of-type) + label {
  border-radius: 0;
  margin: 0px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.filterbutton:last-of-type:not(:first-of-type) + label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 3px;
  margin-left: 0px;
}

#completed-averages {
  margin-bottom: 100px;
  text-align: center;
}

#graph {
  text-align: center;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  opacity: 100%;
  text-align: center;
  margin: auto;
}

#add-task {
  display: inline-flex;
  width: 95%;
  height: 100px;
  padding: 25px;
  background-color: var(--clr-gray-trans-900);
  border: 3px solid gray;
  border-bottom: none;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}
#add-task + label {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-left: 20px;
}
#add-task h3 {
  padding-left: 10px;
  padding-right: 50px;
}
#add-task .button {
  margin-left: 50px;
}/*# sourceMappingURL=main.css.map */
