__pycache__
._*
.coverage
.DS_Store
.DS_Store?
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.env*
.git
.gitignore
.idea
.mypy_cache
.pytest_cache
.pytest_cache/
.Python
.ruff_cache
.Spotlight-V100
.tox/
.Trashes
.venv
.vscode
*.egg-info/
*.log
*.pyc
*.pyd
*.pyo
*.pyo
*.swo
*.swp
*.temp
*.tmp
*~
build/
dist/
docs/images/generated/
ehthumbs.db
env/
htmlcov/
ichrisbirch-backups/
logs/
node_modules
site/
test-logs/
Thumbs.db
venv/
