<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet"
        href="{{ url_for('tasks_bp.static', filename='css/tasks.css') }}">
</head>

<body>
    <div id="tasks-navigation">
        <span class="navigation-tab">
            <a href="{{ url_for('tasks_bp.priority') }}">Priority
                Tasks</a></span>
        <span class="navigation-tab">
            <a href="{{ url_for('tasks_bp.tasks') }}">All Tasks</a></span>
        <span class="navigation-tab">
            <a href="{{ url_for('tasks_bp.completed') }}">Completed
                Tasks</a></span>
        <span class="navigation-tab">
            <a href="{{ url_for('tasks_bp.fake_tasks') }}">Add 100 Fake
                Tasks</a></span>
        <span class="navigation-tab">
            <a href="{{ url_for('tasks_bp.drop_tasks') }}">Delete Tasks</a></span>
    </div>
    <div id="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
        <div id="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        {% include 'addtask.jinja' %}
    </div>
</body>

</html>