<form method="post" action="{{ url_for('tasks.crud') }}">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <input type="hidden" name="id" value="{{ task.id }}">
  <input type="hidden" name="name" value="{{ task.name }}">
  <div
    class="{{ task_class }} {% if 0 < task.priority <= 2 %}task--critical{% elif 2 < task.priority <= 5 %}task--soon{% elif task.priority < 1 %}task--overdue{% endif %}">
    <h3 class="task--compact-layout__title">{{ task.name }}</h3>
    <span>Priority: {{ task.priority }}</span>
    <span>Category: {{ task.category }}</span>
    <span>
      <button type="submit" name="action" class="button--hidden" value="complete">
        <i class="button-icon success fa-regular fa-circle-check"></i>
      </button>
    </span>
    <span>
      <!-- <a href="{{ url_for('tasks.crud', id=task.id) }}"> -->
      <i class="button-icon warning fa-solid fa-pen-to-square"></i>
      <!-- </a> -->
    </span>
    <span>
      <button type="submit" name="action" class="button--hidden" value="delete">
        <i class="button-icon danger fa-regular fa-trash-can"></i>
      </button>
    </span>
  </div>
</form>
