{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/habits.css') }}">
{% endblock %}

{% block app_navigation %}
<nav>
  <ul class="navigation secondary">
    <li class="navigation-tab"><a href="{{ url_for('habits.index') }}">Daily Habits</a></li>
    <li class="navigation-tab"><a href="{{ url_for('habits.completed') }}">Completed Habits</a></li>
    <li class="navigation-tab"><a href="{{ url_for('habits.manage') }}">Manage Habits</a></li>
  </ul>
</nav>
{% endblock %}

{% block content %}{% endblock %}
