{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/habits.css') }}">
{% endblock %}

{% block app_navigation %}
<div id="habits-navigation" class="navigation secondary">
    <span class="navigation-tab">
        <a href="{{ url_for('habits.index') }}">Daily Habits</a></span>
    <span class="navigation-tab">
        <a href="{{ url_for('habits.completed') }}">Completed Habits</a></span>
    <span class="navigation-tab">
        <a href="{{ url_for('habits.manage') }}">Manage Habits</a></span>
</div>
{% endblock %}

{% block content %}{% endblock %}
