{% extends"habits/base.html" %}

{% block title %}Completed Habits{% endblock title %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock scripts %}

{% block content %}
<div class="grid grid--one-column-wide">
  <form method="post" action="{{ url_for('habits.completed') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label for="habit">Select a Habit:</label>
    <select class="textbox" name="habit" id="habit">
      <option value="None">All</option>
      {% for habit in habits %}
      <option value="{{ habit }}">{{ habit.name.title() }}
      </option>
      {% endfor %}
    </select>
    <div class="radio-scale-selector">
      {% for filter in filters %}
      <input type="radio" id="radio-{{ filter }}" class="radio-scale-selector__option" name="filter"
        value="{{ filter }}" {% if filter==date_filter %}checked{% endif %}>
      <label for="radio-{{ filter }}">{{ filter.title().replace('_',' ') }}</label>
      {% endfor %}
    </div>
    <br><br>
    <button type="submit" name="action" class="button" value="filter">
      <span class="button__text">Filter Habits</span>
    </button>
  </form>
  {% if not completed %}
  <h3>{{ completed_count }}</h3>
  {% else %}
  <h3>Completed Habits: {{ completed_count }}</h3>
  <div id="chartTitle" class="hidden-chart-data">Completed Habits</div>
  <div id="chartLabels" class="hidden-chart-data">{{ chart_labels|tojson }}</div>
  <div id="chartValues" class="hidden-chart-data">{{ chart_values|tojson }}</div>
  <div class="completed-habit-graph">
    <canvas id="completedChart" height="200"></canvas>
  </div>
  <script src="{{ url_for('static', filename='js/completed_chart.js') }}"></script>
</div>
{% endif %}
{% endblock content %}
