{% extends 'habits/base.html' %}

{% block title %}Daily Habits{% endblock %}

{% block content %}
<h1>{{ long_date }}</h1>
<div class="grid grid--two-columns">

  <div class="habit-checked-wrapper">
    {% for habit in habits %}
    <form method="POST" class="habit-check" action="{{ url_for('habits.crud') }}">
      <input type="hidden" name="id" value={{ habit.id }}>
      <span class="habit-check__text">
        <button type="submit" name="action" value="complete_habit">
          <span class="fa-solid fa-check"></span>
        </button>
      </span>
    </form>
    <h2>{{ habit.name }}</h2>
    {% endfor %}
  </div>

  <div class="habit-checked-wrapper">
    {% for habit in completed %}
    <div class="habit-checked">
      <p class="habit-check__text">
        <span class="fa-solid fa-check"></span>
      </p>
    </div>
    <h2>{{ habit.name }}</h2>
    {% endfor %}
  </div>

</div>
{% endblock %}
