{% extends 'habits/base.html' %}

{% block title %}Daily Habits{% endblock %}

{% block content %}
<div id="habit_display">
  <h2>{{ long_date }}</h2>
  <form method="POST" action="habits.form">
    {% for habit in not_completed %}
    <h3>{{ habit.name.title() }}</h3>
    <label class="specialbox" for="{{ name }}">{{ name }}
      <input type="checkbox" id="{{ name }}" name="{{ name }}" value=1>
      <span class="checkmark box-3d"></span>
    </label>
    <button type="submit" value="complete_habit" class="button box-3d">Complete</button>
    {% endfor %}
    {% for habit in completed %}
    <h3>{{ habit.name.title() }}</h3>
    <label class="specialbox completed" for="{{ name }}">{{ name }}
      <input type="checkbox" id="{{ name }}" name="{{ name }}" value=1 checked>
      <span class="checkmark box-3d"></span>
    </label>
    {% endfor %}
  </form>
</div>
{% endblock %}
