{% extends"base.html" %}

{% block title %}Signup for iChrisBirch{% endblock title %}

{% block content %}
<div class="grid grid--one-column">
  {% if not accepting_new_signups %}
  <div class="github-issue-form">
    <h2>Signups currently only for VIP persons</h2>
  </div>
  {% endif %}
  <h2>Sign Up</h2>
  <div class="add-item-wrapper">

    <form class="add-item-form" method="post" action="{{ url_for('auth.signup') }}">
      {{ form.csrf_token }}

      <div class="add-item-form__item">
        {{ form.name.label }}
        {{ form.name(placeholder='Name', class_="textbox") }}
        {% if form.name.errors %}
        <ul class="errors">
          {% for error in form.email.errors %}
          <li>{{ error }}</li>{% endfor %}
        </ul>
        {% endif %}
      </div>

      <div class="add-item-form__item">
        {{ form.email.label }}
        {{ form.email(placeholder='youremail@example.com', class_="textbox") }}
        {% if form.email.errors %}
        <ul class="errors">
          {% for error in form.email.errors %}
          <li>{{ error }}</li>{% endfor %}
        </ul>
        {% endif %}
      </div>

      <div class="add-item-form__item">
        {{ form.password.label }}
        {{ form.password(class_="textbox") }}
        {% if form.password.errors %}
        <ul class="errors">
          {% for error in form.password.errors %}
          <li>{{ error }}</li>{% endfor %}
        </ul>
        {% endif %}
      </div>

      <div class="add-item-form__item">
        {{ form.confirm_password.label }}
        {{ form.confirm_password(class_="textbox") }}
        {% if form.confirm_password.errors %}
        <ul class="errors">
          {% for error in form.confirm_password.errors %}
          <li>{{ error }}</li>{% endfor %}
        </ul>
        {% endif %}
      </div>

      <div class="add-item-form__item add-item-form__item--full-width">
        <button type="submit" name="action" class="button" value="signup">
          <span class="button__text">Sign Up</span>
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock content %}
