{% extends 'countdowns/base.html' %}

{% block title %}Countdowns{% endblock %}

{% block content %}
<div class="grid grid--one-column">
    <h2>ichrisbirch-backups</h2>
    {% if prefix %}
    <a href="{{ url_for('backups.index', prefix=prefix.rsplit('/', 2)[0]) }}">Back</a>
    {% endif %}
    <ul>
      {% for folder in folders %}
      <li><a href="{{ url_for('backups.index', prefix=folder) }}">{{ folder }}</a></li>
      {% endfor %}
      {% for file in files %}
      <li>{{ file }}</li>
      {% endfor %}
    </ul>
</div>
{% endblock %}
