{% extends"countdowns/base.html" %}

{% block title %}Countdowns{% endblock title %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/countdowns.js') }}"></script>
{% endblock scripts %}

{% block content %}
<div class="grid grid--one-column">
  {% for countdown in countdowns %}
  <div class="grid__item">
    <h2>{{ countdown.name }}</h2>
    <h2 class="daysleft" id="{{ countdown.id }}">
      <script>updateDaysLeft('{{ countdown.due_date }}', '{{ countdown.id }}');</script>
    </h2>
    {{ countdown.due_date.strftime("%B %d %Y") }}
    <br>
    {{ countdown.notes }}
    <br><br>
    <form method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <input type="hidden" name="id" value="{{ countdown.id }}">
      <button type="submit" name="action" class="button button--danger" value="delete">
        <span class="button__text button__text--danger">Delete Countdown</span>
      </button>
    </form>
  </div>
  {% else %}
  <div class="grid__item">
    <h2>No Countdowns</h2>
  </div>
  {% endfor %}
</div>

<div class="add-item-wrapper">
  <h2>Add New Countdown:</h2>
  <form class="add-item-form" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="add-item-form__item">
      <label for="name">Name:</label>
      <input type="text" size="30" class="textbox" name="name" id="name">
    </div>
    <div class="add-item-form__item">
      <label for="due_date">Due Date:</label>
      <input type="date" class="textbox" name="due_date" id="due_date">
    </div>
    <div class="add-item-form__item add-item-form__item--full-width">
      <label for="notes">Notes:</label>
      <input type="text" size="40" class="textbox" name="notes" id="notes">
    </div>
    <div class="add-item-form__item--full-width">
      <button type="submit" name="action" class="button" value="add">
        <span class="button__text">Add Countdown</span>
      </button>
    </div>
  </form>
</div>
{% endblock content %}
