{% extends 'countdowns/base.html' %}

{% block title %}Countdowns{% endblock %}

{% block content %}
<div id="countdowns">
    {% for countdown in countdowns %}
    <div class="countdown-box">
        <h1>{{ countdown.name }}</h1>
        <h1 class="daysleft" id="{{ countdown.id }}"></h1>
        <script>calculateDays('{{ countdown.date.strftime("%B %d %Y %X") }}', '{{ countdown.id }}');
        </script>
        {{ countdown.date.strftime("%B %d %Y") }}
        <br /><br />
        <form method="POST" action="{{ url_for('countdowns.index') }}">
            <input type="hidden" name="name" value="{{ countdown.id }}">
            <input type="hidden" name="method" value="delete">
            <input type="submit" class="button box-3d" value="Delete">
        </form>
    </div>
    {% endfor %}
</div>
<div id="add-countdown">
    <h3>Add New Countdown:</h3>
    <br />
    <form method="POST" action="{{ url_for('countdowns.index') }}">
        <label for="name">Name:</label><br />
        <input type="text" size="30" class="textbox box-3d" name="name" id="name">
        <br /><br /><br />
        <label for="date">Date:</label><br />
        <input type="date" id="date" name="date" class="textbox box-3d">
        <input type="hidden" name="method" value="add">
        <br /><br /><br />
        <input type="submit" class="button box-3d" value="Add New Countdown">
    </form>
</div>
{% endblock %}
