<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet"
        href="{{ url_for('moving_bp.static', filename='css/moving.css') }}">
</head>

<body>
    <div id="moving-navigation">
        <span class="navigation-tab"><a href="{{ url_for('moving_bp.packing') }}">Pack Boxes</a></span>
        <span class="navigation-tab"><a href="{{ url_for('moving_bp.search') }}">Search for Items</a></span>
    </div>
    <div id="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
        <div id="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
</body>

</html>