.daysleft {
  line-height: 2em;

  &__total {
    color: var(--clr-gray-400);
    font-size: var(--fs-300);
  }
}

.past {
  background-color: var(--clr-error);
}

.two-weeks-left {
  background-color: var(--clr-error);
}

.month-left {
  background-color: var(--clr-warning);
}
