.event {
  list-style: none;
  margin: var(--space-xs);

  &__item {
    line-height: 2em;
  }

  &__time-until {
    color: var(--clr-accent);
    font-style: italic;
  }

  &__buttons {
    display: flex;
    justify-content: space-evenly;
    gap: var(--space-m);
  }
}
