@use '../components/data_table';

.money-wasted {
  @include data_table.data-table;

  $columns: 5fr 2fr 2.5fr 2.5fr 5fr 1.5fr;

  &__header,
  &__row {
    grid-template-columns: $columns;
  }

  &__header {
    list-style: none;
  }

  &__row > span:last-child {
    text-align: center;
  }

  &--total {
    color: var(--clr-accent-light);
    text-shadow: var(--deep-3d-text-shadow);
    text-align: center;
    margin-bottom: var(--space-l);

    &-amount {
      border: 4px solid var(--clr-accent--red);
      border-radius: var(--button-border-radius);
      padding: var(--space-3xs) var(--space-s);
    }
  }

  &__table {
    padding: 0;
    border-radius: var(--button-border-radius);
    overflow: hidden;
  }

  &__item-name {
    font-weight: 500;
    color: var(--clr-accent-light);
  }

  &__notes {
    color: var(--clr-gray-400);
    font-size: var(--fs-300);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__actions {
    justify-content: center;
  }

  &__empty {
    text-align: center;
    padding: var(--space-l);
    font-size: var(--fs-500);
    color: var(--clr-gray-400);
  }
}
