:root {
    --btn-border-radius: 12px;
}

.button {
    margin: 7px;
    padding: 0.5em 1.75em;
    font-size: var(--fs-400);
    color: var(--clr-text);
    background-color: var(--clr-gray-800);
    border-radius: var(--btn-border-radius);
    text-shadow: 2px 4px 1px var(--clr-black-trans-800);
    box-shadow:
        5px 5px 5px 0px black,
        inset 0px 0px 5px 0px var(--clr-gray-400),
        inset -5px -5px 4px -2px var(--clr-gray-400);
    transition: all 0.1s ease-in-out;

    &--pressed {
        // invert the regular button-3d box-shadow
        transform: scale(1.05); /* a depressed button looks smaller */
        color: var(--clr-accent-light);
        box-shadow:
            inset 5px 5px 5px 0px var(--clr-gray-1000),
            inset -1px -1px 3px 0px var(--clr-gray-900),
            -1px -1px 5px 0px var(--clr-gray-1000),
            -1px -1px 35px 5px var(--clr-accent-dark),
            inset 1px 1px 15px 0px var(--clr-accent-dark);
    }

    &:hover:not(.button--pressed) {
        text-shadow:
            0 0 7px var(--clr-gray-trans-500),
            0 0 15px var(--clr-accent);
    }

    &__text {
        display: inline-block;
        padding-bottom: 2px; /*the space for the gradient*/
        background: linear-gradient(var(--clr-text), var(--clr-text)) center bottom; /*OR bottom right OR bottom left*/
        background-size: 0% 2px; /*width:0% height:2px*/
        background-repeat: no-repeat; /* Don't repeat !!*/

        transition: all 0.1s ease-in-out;

        &:hover {
            background-size: 100% 2px; /*width:100% height:2px*/
        }
    }
}
