:root {
    --btn-border-radius: 12px;
}

@mixin button-textbox {
    margin: var(--space-2xs);
    padding: var(--space-2xs) var(--space-m);
    font-size: var(--fs-400);
    color: var(--clr-text);
    background-color: var(--clr-gray-800);
    border-radius: var(--btn-border-radius);
    box-shadow:
        5px 5px 5px 0px var(--clr-black-trans-1000),
        inset 0px 0px 5px 0px var(--clr-gray-400),
        inset -5px -5px 4px -2px var(--clr-gray-400);
}

.button {
    @include button-textbox;
    text-shadow: 2px 4px 1px var(--clr-black-trans-800);
    transition: all 0.1s ease-in-out;

    &--pressed {
        // invert the regular button-3d box-shadow
        transform: scale(1.05); /* a depressed button looks smaller */
        color: var(--clr-accent-light);
        box-shadow:
            inset 5px 5px 5px 0px var(--clr-gray-1000),
            inset -1px -1px 3px 0px var(--clr-gray-900),
            -1px -1px 5px 0px var(--clr-gray-1000),
            -1px -1px 35px 5px var(--clr-accent-dark),
            inset 1px 1px 15px 0px var(--clr-accent-dark);
    }

    &:hover:not(.button--pressed) {
        text-shadow: var(--text-glow);
    }

    &__text {
        display: inline-block;
        padding-bottom: 2px; /*the space for the gradient*/
        background: linear-gradient(var(--clr-text), var(--clr-text)) center bottom;
        background-size: 0% 2px;
        background-repeat: no-repeat;
        transition: all 0.1s ease-in-out;

        &:hover {
            background-size: 100% 2px;
        }
    }
}

.btn-submit-issue {
    --button-size: 120px;
    --edge-background-blend: 1px;
    --button-press-time: 0.4s;
    --icon-size-ratio: 0.33;

    --button-press-delay: calc(var(--button-press-time) * 0.3);
    --button-press-slow-time: calc(var(--button-press-time) * 1.6);
    @mixin smooth-press {
        transition: all var(--button-press-time) ease-in-out;
    }
    @mixin smooth-press-delay {
        transition: all var(--button-press-time) ease-in-out var(--button-press-delay);
    }
    @mixin slow-smooth-press {
        transition: all var(--button-press-slow-time) ease-in-out;
    }
    @mixin slow-smooth-press-delay {
        transition: all var(--button-press-slow-time) ease-in-out var(--button-press-delay);
    }

    position: absolute;
    top: calc(var(--button-size) / 2);
    right: calc(var(--button-size) / 2);
    width: var(--button-size);
    height: var(--button-size);

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--button-size);

    color: var(--clr-accent-light);
    @include smooth-press;

    &__text {
        position: relative;
        z-index: 5;
        user-select: none;
        cursor: pointer;
        font-size: var(--fs-400);
        text-align: center;
    }

    &__icon {
        width: calc(var(--button-size) * var(--icon-size-ratio));
        height: calc(var(--button-size) * var(--icon-size-ratio));
    }

    &:hover {
        color: var(--clr-accent);
        @include smooth-press;
    }

    &::before {
        /* GRAY BUTTON ON TOP */
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: var(--button-size);
        height: var(--button-size);
        content: "";
        border-radius: var(--button-size);
        background-color: var(--clr-gray-800);
        filter: blur(calc(var(--edge-background-blend) * 0.5));
        @include smooth-press;
        box-shadow:
            8px 8px 20px var(--clr-black-trans-600),
            -8px -8px 20px var(--clr-gray-trans-800),
            inset -8px -8px 20px var(--clr-black-trans-1000),
            inset 8px 8px 20px var(--clr-gray-trans-600);
    }

    &:hover::before {
        background-color: var(--clr-gray-900);
        filter: blur(calc(var(--edge-background-blend) * 3));
        @include smooth-press;
        box-shadow:
            -8px -8px 20px var(--clr-black-trans-600),
            4px 4px 20px var(--clr-gray-trans-800),
            inset 8px 8px 20px var(--clr-black-trans-1000),
            inset -8px -8px 20px var(--clr-gray-trans-600);
    }

    &::after {
        /* OUTER RING */
        --button-outline-width: calc(var(--button-size) / 2);
        --button-outline-size: calc(var(--button-size) + var(--button-outline-width));
        position: absolute;
        translate: transform(-50%, -50%);
        display: block;
        width: var(--button-outline-size);
        height: var(--button-outline-size);
        content: "";
        cursor: pointer;
        border-radius: var(--button-outline-size);
        filter: blur(var(--edge-background-blend));
        @include smooth-press-delay;
        box-shadow:
            8px 8px 20px var(--clr-black-trans-600),
            -4px -4px 20px var(--clr-gray-trans-800),
            inset -8px -8px 20px var(--clr-black-trans-1000),
            inset 8px 8px 20px var(--clr-gray-trans-600);
    }

    &:hover::after {
        transform: scale(1.01);
        filter: blur(calc(var(--edge-background-blend) * 3));
        @include smooth-press-delay;
        box-shadow:
            -8px -8px 20px var(--clr-black-trans-600),
            4px 4px 20px var(--clr-gray-trans-800),
            inset 8px 8px 20px var(--clr-black-trans-1000),
            inset -8px -8px 20px var(--clr-gray-trans-600);
    }
}
