:root {
    --btn-border-radius: 12px;
}

.button {
    background-color: var(--clr-gray-800);
    border-radius: var(--btn-border-radius);
    font-size: 1.33rem;
    padding: 10px 25px;
    margin: 7px;
    color: var(--clr-text);
    text-shadow: 2px 4px 1px var(--clr-black-trans-800);

    &:hover {
        text-decoration: underline;
        text-shadow:
            0 0 7px var(--clr-gray-trans-500),
            0 0 15px var(--clr-accent);
    }
}
