@use "../base/typography";

:root {
    --button-border-radius: 12px;
}

@mixin button-boxy($bottom-color: var(--clr-gray-200), $right-color: var(--clr-gray-050)) {
    box-shadow:
        1px 0 0 $right-color,
        1px 1px 0 $bottom-color,
        2px 1px 0 $right-color,
        2px 2px 0 $bottom-color,
        3px 2px 0 $right-color,
        3px 3px 0 $bottom-color,
        4px 3px 0 $right-color,
        4px 4px 0 $bottom-color;
}

@mixin button-textbox {
    margin: var(--space-2xs);
    padding: var(--space-2xs) var(--space-m);
    font-size: var(--fs-400);
    color: var(--clr-text);
    background-color: var(--clr-gray-800);
    border-radius: var(--button-border-radius);
    box-shadow:
        5px 5px 5px 0px var(--clr-black-trans-1000),
        inset 0px 0px 5px 0px var(--clr-gray-400),
        inset -5px -5px 4px -2px var(--clr-gray-400);
}

.button {
    @include button-textbox;
    text-shadow: 2px 4px 1px var(--clr-black-trans-800);
    transition: all 0.1s ease-in-out;

    &--pressed {
        // invert the regular button-3d box-shadow
        transform: scale(1.05); /* a depressed button looks smaller */
        color: var(--clr-accent-light);
        box-shadow: var(--floating-box-pressed);
    }

    &--hidden {
        // for submit buttons that are using an icon
        background: none;
        border: none;
        padding: 0;
    }

    &--success {
        &:hover {
            color: var(--clr-accent--green);
        }
    }

    &--warning {
        &:hover {
            color: var(--clr-accent--yellow);
        }
    }

    &--danger {
        &:hover {
            color: var(--clr-accent--red);
        }
    }

    &:hover:not(.button--pressed, .button--success, .button--warning, .button--danger) {
        @include typography.text-glow-colored;
    }

    &__text {
        display: inline-block;
        padding-bottom: 2px; /*the space for the gradient*/
        background: linear-gradient(var(--clr-text), var(--clr-text)) center bottom;
        background-size: 0% 2px;
        background-repeat: no-repeat;
        transition: all 0.1s ease-in-out;

        &:hover {
            background-size: 100% 2px;
        }

        &--success {
            background: linear-gradient(var(--clr-accent--green), var(--clr-accent--green)) center bottom;
            background-size: 0% 2px;
            background-repeat: no-repeat;

            &:hover {
                background-size: 100% 2px;
            }
        }
        &--warning {
            background: linear-gradient(var(--clr-accent--yellow), var(--clr-accent--yellow)) center bottom;
            background-size: 0% 2px;
            background-repeat: no-repeat;

            &:hover {
                background-size: 100% 2px;
            }
        }
        &--danger {
            background: linear-gradient(var(--clr-accent--red), var(--clr-accent--red)) center bottom;
            background-size: 0% 2px;
            background-repeat: no-repeat;

            &:hover {
                background-size: 100% 2px;
            }
        }
    }
}

.button-icon {
    // for submit buttons that are using a fontawesome icon
    transition: all 0.2s ease-in-out;
    color: var(--clr-text);

    &:hover:not(.pressed) {
        transform: scale(1.8);
        transition: all 0.2s ease-in-out;
        color: var(--clr-accent-light);
    }
    &.pressed {
        color: var(--clr-accent);
    }

    &.success {
        &:hover {
            color: var(--clr-accent--green);
        }
    }

    &.warning {
        &:hover {
            color: var(--clr-accent--yellow);
        }
    }

    &.danger {
        &:hover {
            color: var(--clr-accent--red);
        }
    }
}

.button-toggle-selector {
    padding: var(--space-s);
    border-radius: var(--button-border-radius);
    background-color: var(--clr-primary);
    box-shadow: var(--floating-box);
    font-size: var(--fs-400);
    color: var(--clr-text);
    text-align: center;

    &.pressed {
        // invert the regular button-3d box-shadow
        transform: scale(1.05); /* a depressed button looks smaller */
        color: var(--clr-accent-light);
        box-shadow: var(--floating-box-pressed);
    }

    &.left {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &.right {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

@mixin double-bevel-button(
    $button-size: 75px,
    $button-step-blend: 1px,
    $button-press-time: 0.4s,
    $font-size-ratio: 1.5,
    $icon-size-ratio: 0.33,
    $text-and-icon-color: var(--clr-accent-light),
    $selected-color: var(--clr-accent)
) {
    width: $button-size;
    height: $button-size;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $button-size;

    color: $text-and-icon-color;
    transition: all $button-press-time ease-in-out;

    $button-outline-width: calc($button-size / 2);
    $button-outline-size: $button-size + $button-outline-width;
    $button-press-delay: $button-press-time * 0.3;

    &__text {
        position: relative;
        z-index: 2;
        cursor: pointer;
        font-size: calc(var(--fs-400) * $font-size-ratio);
        text-align: center;
    }

    &__icon {
        /* This works with svg but not fontawesome ie (fa-solid fa-code)
        must use class names for sizing */
        width: $button-size * $icon-size-ratio;
        height: $button-size * $icon-size-ratio;
    }

    &:hover {
        color: $selected-color;
        transition: all $button-press-time ease-in-out;
    }

    &::before {
        /* GRAY BUTTON ON TOP */
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: $button-size;
        height: $button-size;
        content: "";
        border-radius: $button-size;
        background-color: var(--clr-gray-800);
        filter: blur($button-step-blend * 0.5);
        transition: all $button-press-time ease-in-out;
        box-shadow:
            8px 8px 20px var(--clr-black-trans-600),
            -8px -8px 20px var(--clr-gray-trans-800),
            inset -8px -8px 20px var(--clr-black-trans-1000),
            inset 8px 8px 20px var(--clr-gray-trans-600);
    }

    &:hover::before {
        background-color: var(--clr-gray-900);
        filter: blur($button-step-blend * 3);
        transition: all $button-press-time ease-in-out;
        box-shadow:
            -8px -8px 20px var(--clr-black-trans-600),
            4px 4px 20px var(--clr-gray-trans-800),
            inset 8px 8px 20px var(--clr-black-trans-1000),
            inset -8px -8px 20px var(--clr-gray-trans-600);
    }

    &::after {
        /* OUTER RING
        The outer ring has a delay for the press animation to make it appear
        that it is being depressed by the inner button.
        */

        position: absolute;
        translate: transform(-50%, -50%);
        display: block;
        width: $button-outline-size;
        height: $button-outline-size;
        content: "";
        cursor: pointer;
        border-radius: $button-outline-size;
        filter: blur($button-step-blend);
        transition: all $button-press-time ease-in-out $button-press-delay;
        box-shadow:
            8px 8px 20px var(--clr-black-trans-600),
            -4px -4px 20px var(--clr-gray-trans-800),
            inset -8px -8px 20px var(--clr-black-trans-1000),
            inset 8px 8px 20px var(--clr-gray-trans-600);
    }

    &:hover::after {
        transform: scale(1.01); /* changing the shadow makes the button appear smaller, so scale up */
        filter: blur($button-step-blend * 3);
        transition: all $button-press-time ease-in-out $button-press-delay;
        box-shadow:
            -8px -8px 20px var(--clr-black-trans-600),
            4px 4px 20px var(--clr-gray-trans-800),
            inset 8px 8px 20px var(--clr-black-trans-1000),
            inset -8px -8px 20px var(--clr-gray-trans-600);
    }
}

.button-submit-issue {
    $button-size: 100px;
    position: absolute;
    top: calc($button-size / 2);
    right: calc($button-size / 2);
    @include double-bevel-button($button-size);
}
