@use "buttons";

$checkbox-border-color: var(--clr-gray-300);
$checkbox-checked-color: var(--clr-accent);
$checkbox-disabled-bg-color: var(--clr-gray-400);

input[type="checkbox"] {
    box-sizing: border-box;
    width: var(--space-m);
    height: var(--space-m);
    margin: var(--space-xs);
    padding: 0;
    border: 3px solid $checkbox-border-color;
    border-radius: 6px;
    appearance: none;
    background-color: transparent;
    transition: all 0.1s;
    @include buttons.button-boxy;

    &:checked {
        &::after {
            $size: 60%;
            content: '';
            display: block;
            width: $size;
            height: $size;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $checkbox-checked-color;
            border-radius: 3px;
        }
    }

    &:disabled {
        background-color: $checkbox-disabled-bg-color;

        &:checked {
            background-color: $checkbox-disabled-bg-color;
        }
    }

    @media (hover: hover) {
        &:not(:disabled):hover {
            transform: scale(1.1);
        }
    }

    &:focus-visible {
        transform: scale(1.1);
    }

    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }
}
