.site-errors {
    width: 75%;
    padding: 25px;
    background-color: var(--clr-gray-600);
    border: 5px red dotted;
    border-radius: 25px;
    text-align: center;
}

.site-errors__title {
    font-size: var(--fs-900);
}

.site-errors__message {
    font-size: var(--fs-700);
}
