.site-errors {
    width: 75%;
    background-color: #666;
    padding: 25px;
    border: 5px red dotted;
    border-radius: 25px;
    text-align: center;
}

.site-errors__title {
    font-size: 2rem;
}

.site-errors__message {
    font-size: 1.5rem;
}
