.flash-messages {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    width: 60%;
    z-index: 9999;
    text-align: center;

    &__message {
        margin: 10px;
        padding: 10px 25px;
        border-radius: $button-box-border-radius;
        box-shadow:
            5px 5px 5px 0px black,
            inset 0px 0px 5px 0px $light-shadow,
            inset -5px -5px 4px -2px $light-shadow;
        font-size: 1.2rem;
        line-height: 2rem;
        color: $all-text-color;

        &--success {
            background-color: $success-color;
        }

        &--warning {
            background-color: $warning-color;
        }

        &--error {
            background-color: $error-color;
        }
    }
    &__close-button {
        position: absolute;
        top: 50%;
        right: 25px;
        background-color: transparent;
        font-size: 1.4rem;
        color: $all-text-color;
        cursor: pointer;
        transform: translate(-50%, -50%);
        transition: all 0.2s ease-in-out;

        &:hover {
            font-weight: bold;
            transform: scale(1.5) translate(-35%, -35%);
        }
    }
}
