.flash-messages {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    width: 60%;
    z-index: 9999;
    text-align: center;

    &__message {
        margin: 10px;
        padding: 10px 25px;
        border-radius: var(--btn-border-radius);
        box-shadow:
            5px 5px 5px 0px black,
            inset 0px 0px 5px 0px var(--clr-gray-400),
            inset -5px -5px 4px -2px var(--clr-gray-400);
        font-size: 1.2rem;
        line-height: 2em;
        color: var(--clr-text);

        &--success {
            background-color: var(--clr-success);
        }

        &--warning {
            background-color: var(--clr-warning);
        }

        &--error {
            background-color: var(--clr-error);
        }
    }
    &__close-button {
        position: absolute;
        top: 50%;
        right: 25px;
        background-color: transparent;
        font-size: 1.4rem;
        color: var(--clr-text);
        cursor: pointer;
        transform: translate(-50%, -50%);
        transition: all 0.2s ease-in-out;

        &:hover {
            font-weight: bold;
            transform: scale(1.5) translate(-35%, -35%);
        }
    }
}
