@import "./variables";


#events {
  margin    : auto;
  text-align: center;
  width     : 90%;

  >ul {
    margin : 50px 10px;
    padding: 10px;
    border : 1px solid orange;

    &.attending {
      border: 1px solid green;
    }

    >li {
      list-style: none;

      &.title {
        font-weight: bold;
      }
    }
  }
}

#add-event {
  width     : 50%;
  margin    : 50px auto;
  padding   : 10px;
  text-align: center;
  border    : 1px dashed orange;
}