@import "./variables";

#content-layout-grid {
    display              : grid;
    grid-template-columns: 1fr 1fr;
    grid-gap             : 40px;
    padding              : 10px;
    align-items          : flex-start;
    overflow             : auto;
    margin-bottom        : 200px;
}

.habit-list {
    // margin-auto will vertical center!
    margin-left : auto;
    margin-right: auto;
}

.habit-header {
    text-align: center;
}

.habit {
    margin       : 20px;
    padding      : 10px;
    border       : 2px solid gray;
    border-radius: 30px;

    &.completed {
        border-color: green;
    }
}


///// COMPLETED HABIT FILTERS /////

#completed-filters {
    width        : 100%;
    margin       : auto;
    margin-bottom: 100px;
    text-align   : center;
}

.filter-buttons {
    display     : inline-flex;
    margin      : 0;
    margin-left : auto;
    margin-right: auto;
    text-align  : center;
    border      : 0;
    box-sizing  : border-box;
    font-size   : 1.2em;
}

.filterbutton {
    &:first-of-type:not(:last-of-type)+label {
        border-top-right-radius   : 0;
        border-bottom-right-radius: 0;
        margin                    : 3px;
        margin-right              : 0px;
    }

    &:not(:first-of-type):not(:last-of-type)+label {
        border-radius: 0;
        margin       : 0px;
        margin-top   : 3px;
        margin-bottom: 3px;
    }

    &:last-of-type:not(:first-of-type)+label {
        border-top-left-radius   : 0;
        border-bottom-left-radius: 0;
        margin                   : 3px;
        margin-left              : 0px;
    }
}

.filter-buttons input[type="radio"] {
    opacity : 0;
    position: fixed;
    width   : 0;
}

.filter-buttons label {
    display      : inline-block;
    padding      : 15px 20px;
    border-radius: $button-box-border-radius;
    box-shadow   :
        5px 5px 5px 0px black,
        inset 0px 0px 5px 0px $light-shadow,
        inset -5px -5px 4px -2px $light-shadow;
}

.filter-buttons input[type="radio"]:checked+label {
    color           : green;
    font-weight     : bold;
    background-color: $dark-gray;
    box-shadow      :
        inset 5px 5px 5px 0px black,
        inset -3px -3px 5px 0px $dark-shadow;
}

.filter-buttons label:hover {
    font-style : italic;
    font-weight: bold;
}

#completed-averages {
    margin-bottom: 100px;
    text-align   : center;
}

#graph {
    text-align: center;
}