body {
  display: grid;
  grid-template-rows: $header-height min-content 1fr;
  grid-template-columns: $navigation-width 1fr;
}

h2 {
  color: var(--clr-text);
  text-shadow: rgb(36, 36, 36) 7px 10px 5px;
  font-size: $h2-font-size;

  a {
    color: var(--clr-text);
  }
}

#apartment-list {
  grid-row: 2;
  grid-column: 1;
  z-index: 100;
  margin: 80px 40px;
  width: 95%;
  box-shadow: $shadow-3d-apt;

  > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #222;
    border-left: $nav-border;
    border-right: $nav-border;
    font-size: 1.5em;

    > li a {
      display: block;
      color: lightgray;
      padding: 16px 16px;
      text-decoration: none;
    }

    > li {
      text-align: center;

      &:last-of-type:not(:first-of-type) {
        border-bottom: $nav-border;

        > a.active {
          border-bottom: 0;
        }
      }

      &:first-of-type:not(:last-of-type) {
        border-top: $nav-border;

        > a.active {
          border-top: 0;
        }
      }
    }

    > li:last-child {
      border-bottom: none;
    }

    > li a.active {
      background-color: var(--clr-bg);
      color: var(--clr-text);
    }

    > li a:hover:not(.active) {
      background-color: var(--clr-gray-400);
      color: var(--clr-text);
    }
  }
}

#add-feature {
  grid-row: 3;
  grid-column: 1;
  margin: auto;
  margin-top: 40px;
  width: 75%;
  padding: 25px;
  padding-bottom: 50px;
  text-align: center;
  box-shadow: $shadow-3d;
  vertical-align: top;
  line-height: 4em;
  background-color: var(--clr-bg);
}

#content-layout {
  grid-row: 2 / span 3;
  grid-column: 2;
  width: 92%;
  padding: 10px;
  padding-bottom: 100px;
  margin-left: 50px;
  margin-bottom: 100px;
  background-color: var(--clr-bg);
  box-shadow: $shadow-3d;
}

#apt-features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px 30px;
  padding: 50px;
}

.feature-list {
  margin: auto;
  padding: 0;
  width: 100%;
  border-spacing: 30px 45px;
  text-align: center;
}

.title {
  text-transform: uppercase;
  font-family: verdana;
  font-size: 5em;
  font-weight: 700;
  color: var(--clr-text);
  text-shadow: $shadow-3d;
}

.feature-box {
  padding: 25px;
  text-align: center;
  box-shadow: $shadow-3d;
  vertical-align: top;
  line-height: 4em;

  > h2 {
    font-size: $h2-font-size;
  }
}

.bigbox {
  padding: 10px;
  font-size: x-large;
  text-align: center;
  background-color: var(--clr-gray-400);
  border: 0;
  color: var(--clr-text);
  box-shadow: $shadow-3d;
}

textarea.bigbox {
  text-align: left;
  font-size: large;
  box-shadow: $shadow-3d;
  background-color: #222;
}

.manage-box {
  margin: 50px;
  padding: 10px;
  vertical-align: top;
  line-height: 4em;
  font-size: $h2-font-size;
  text-align: center;
  color: var(--clr-text);
  border: 0;
  box-shadow: $shadow-3d;
  background-color: var(--clr-gray-400);
  background-color: #222;
}

input[type="submit"].manage-box {
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;

  &:hover {
    text-decoration: underline;
    transform: scale(120%);
  }
}

.warning {
  color: var(--clr-warning);
  font-weight: bold;
  font-size: 2.5em;
  letter-spacing: 4px;
  text-shadow:
    1px 1px 3px var(--clr-gray-800),
    2px 2px 5px var(--clr-gray-800),
    3px 3px 4px var(--clr-gray-600),
    2px 2px 3px var(--clr-gray-200),
    2px 2px 3px var(--clr-gray-200);
}

/// ########## ///
/// CHECKBOXES ///
/// ########## ///

/* Customize the label (the checkboxes) */
.checkboxes {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  > h2 {
    font-size: $h2-font-size;
  }
}

/* Hide the browser's default checkbox */
.checkboxes input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 90px;
  left: 43%;
  height: 55px;
  width: 55px;
  background-color: var(--clr-bg);
  border: 5px solid var(--clr-gray-400);
  box-shadow: $shadow-3d;
}

/* On mouse-over, add a grey background color */
.checkboxes:hover input ~ .checkmark {
  background-color: var(--clr-gray-200);
  border: 5px solid var(--clr-gray-400);
}

/* When the checkbox is checked, add a blue background */
.checkboxes input:checked ~ .checkmark {
  background-color: var(--clr-bg);
  border: 5px solid var(--clr-gray-400);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxes input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxes .checkmark:after {
  left: 40px;
  top: -50px;
  width: 30px;
  height: 80px;
  border: solid var(--clr-text);
  border-width: 0 10px 10px 0;
  transform: rotate(55deg);
  box-shadow: $shadow-3d;
}

#header {
  grid-row: 1;
  grid-column: 1 / span 2;
  width: 96%;
  margin: auto;
  margin-top: 20px;
  background: var(--clr-gray-400);
  font-size: x-large;
  color: var(--clr-text);
  box-shadow: $shadow-3d;
  z-index: 50;
  line-height: 90px;
  border-left: 1px solid #999999;
  border-top: 4px solid #bbbbbb;
  display: flex;
  justify-content: space-around;

  .main {
    list-style: none;
    font-size: 2.75em;
  }

  .link a {
    list-style: none;
    font-size: 1.5em;
    padding: 10px;
    color: var(--clr-text);
    text-decoration: none;
    text-shadow: $shadow-3d-nav;
    border-top: 2px solid var(--clr-text);
    border-left: 2px solid var(--clr-gray-200);
    border-right: 4px solid var(--clr-gray-600);
    border-bottom: 4px solid var(--clr-gray-800);
    border-radius: 8px;

    :visited {
      color: var(--clr-text);
    }

    &:hover {
      color: white;
      border-top: 4px solid var(--clr-gray-200);
      border-left: 4px solid var(--clr-gray-600);
      border-right: 2px solid var(--clr-gray-600);
      border-bottom: 2px solid var(--clr-gray-200);
      border-style: inset;
    }

    &.selected {
      border-top: 4px solid var(--clr-gray-200);
      border-left: 4px solid var(--clr-gray-600);
      border-right: 2px solid var(--clr-gray-600);
      border-bottom: 2px solid var(--clr-gray-200);
      border-style: inset;
    }
  }
}
