.searchbox {
    margin: var(--space-xl) auto;
    text-align: center;
}

.articles-search-results {
    display: grid;
    grid-template-columns:
        minmax(auto, 3fr)
        minmax(auto, 4fr)
        minmax(auto, 1fr)
        minmax(auto, 1fr)
        minmax(auto, 1fr);
    list-style: none;
    text-align: center;
    padding: var(--space-s) 0;
    margin: var(--space-xs) 0;

    &__header {
        font-size: var(--fs-500);
        border-top: 5px dashed var(--clr-accent);
        border-bottom: 5px dashed var(--clr-accent);
    }

    &__item {
        font-size: var(--fs-400);
        line-height: 1.5em;
        border-top: 1px dotted var(--clr-accent);
        border-bottom: 1px dotted var(--clr-accent);
    }

    &__link {
        text-decoration: underline;
        color: var(--clr-accent-light);
    }
}

.article-insight {
    padding: var(--space-m);
    text-align: left;
    font-size: var(--fs-400);
    line-height: 1.6em;
    border-radius: var(--button-border-radius);
    background-color: var(--clr-primary);
    box-shadow: var(--floating-box);
}
