.autotask {
    margin: 30px;
    padding: 25px;
    border: 2px solid var(--clr-gray-300);
    border-radius: var(--btn-border-radius);
    line-height: 1.7em;
    font-size: larger;

    h2 {
        text-align: center;
        margin-bottom: 30px;
    }
}

.autotask-details-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.autotask-details-grid--left {
    grid-column: 1 / 2;
    margin: auto;
}

.autotask-details-grid--right {
    grid-column: 2 / 3;
    margin: auto;
}

#add-autotask {
    width: 50%;
    margin: auto;
    // set padding to 80 for left and right and 40 for top and bottom
    padding: 40px 80px;
    line-height: 1.5em;
    background-color: var(--clr-gray-500);
    border: 2px solid var(--clr-gray-300);
    border-radius: var(--btn-border-radius);

    h2 {
        text-align: center;
        margin-bottom: 40px;
    }
}

.add-autotask-box {
    width: 50%;
    margin: auto;
}
