.autotask-details-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    line-height: 1.75em;
}

.autotask-details-grid--left {
    grid-column: 1 / 2;
    margin: auto;
}

.autotask-details-grid--right {
    grid-column: 2 / 3;
    margin: auto;
}
