@mixin details-styles {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &--essential {
        color: var(--clr-accent--orange);
    }

    &--warm {
        color: var(--clr-accent--red);
    }

    &--liquid {
        color: var(--clr-accent--blue);
    }
}

.packed-box {
    &__title {
        color: var(--clr-accent-light);
        text-shadow: var(--deep-3d-text-shadow);
        line-height: 1.1em;
    }

    &__link {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    &__details {
        @include details-styles;
        font-size: var(--fs-600);
    }
}

.packed-box-item {
    &__details {
        @include details-styles;
        margin-bottom: var(--space-s);
    }
}

.box-listing-sort {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: var(--space-m) auto;
    padding: var(--space-xs) 0;
    text-align: center;

    &__item {
        padding: 0 var(--space-m);
    }
}

.search-results-boxes {
    @include search-results;
    grid-template-columns: 1fr 4fr 1fr 3fr 1fr 1fr 1fr;
}

.search-results-orphans {
    @include search-results;
    grid-template-columns: 4fr 1fr 1fr 1fr 4fr;
}
