:root {
    --clr-box-title: hsl(120, 100%, 72%);
    --clr-box-essential: hsl(31 90% 57%);
    --clr-box-warm: hsl(0, 100%, 71%);
    --clr-box-liquid: hsl(207, 48%, 45%);
}

/////////////////////////
/*     INDEX PAGE     */
///////////////////////
.box-packing-index-layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    padding: 0.8rem;
}

.box-details {
    margin: 2rem;
    padding: 2rem;
    padding-bottom: 3rem;
    text-align: center;
    box-shadow:
        0 5px 10px var(--clr-gray-600),
        0 -2px 2px var(--clr-black-trans-200),
        0px 4px 4px var(--clr-black-trans-070),
        inset 0 -10px 10px var(--clr-black-trans-050),
        0px 16px 16px var(--clr-black-trans-070);

    &__title {
        color: var(--clr-box-title);
        font-size: 3rem;
        @include deep-3d-text;
    }

    &__link {
        text-decoration: none;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 3rem;
        font-size: 1.5rem;
    }

    &--size {
        font-size: 2rem;
    }

    &--essential {
        color: var(--clr-box-essential);
    }

    &--warm {
        color: var(--clr-box-warm);
    }

    &--liquid {
        color: var(--clr-box-liquid);
    }
}
.box-items {
    &__list {
        list-style: none;
        margin: auto;
        padding: 0;
        width: 50%;
    }

    &__item {
        margin: 1rem;
        padding: 1rem;
        border: 1px dotted var(--clr-accent);
    }

    &__item--details {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

.box-function {
    border: 3px solid black;
    padding: 25px;
    margin: 15px;
}

///////////////////////
/*     ALL PAGE     */
/////////////////////


.box-listing {
    text-align: center;
}

.box-listing-sort {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem auto;
    padding: 1rem 0;
    text-align: center;

    &__item {
        padding: 0 2rem;
    }
}

//////////////////////////
/*     SEARCH PAGE     */
////////////////////////

.searchbox {
    margin: 3rem auto;
    text-align: center;
}

.search-results {
    margin: 0;
    padding: 0;

    &__header {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
        list-style: none;
        text-align: center;
        padding: 1.5rem 0;
        margin: 1rem 0;
        border-top: 5px dashed var(--clr-accent);
        border-bottom: 5px dashed var(--clr-accent);
        font-size: 1.5rem;
    }

    &__item {
        @extend .search-results__header;
        line-height: 2rem;
        border-top: 1px dotted var(--clr-accent);
        border-bottom: 1px dotted var(--clr-accent);
        font-size: 1.3rem;
    }

    &__link {
        text-decoration: underline;
        color: var(--clr-box-title);
    }
}
