@use "../components/search_results";

@mixin details-styles {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &--essential {
        color: var(--clr-accent--orange);
    }

    &--warm {
        color: var(--clr-accent--red);
    }

    &--liquid {
        color: var(--clr-accent--blue);
    }
}

.packed-box {
    &__title {
        color: var(--clr-accent-light);
        text-shadow: var(--deep-3d-text-shadow);
        font-weight: var(--fs-400);
        line-height: 1.1em;
    }

    &__link {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    &__details {
        @include details-styles;
        font-size: var(--fs-600);
    }
}
.packed-box-compact {
    $transition-time: 0.3s;
    display: grid;
    // name, size, item count, essential, warm, liquid, edit, delete
    grid-template-columns: 6fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: var(--space-xs);
    padding-block: var(--space-xs);
    padding-inline: var(--space-m);
    border-radius: var(--button-border-radius);
    background-color: var(--clr-primary);
    box-shadow: var(--floating-box);
    font-size: var(--fs-400);
    transition: transform $transition-time ease-in-out;

    &:hover {
        $movement: calc(var(--space-3xs) * -0.4);
        box-shadow: var(--bubble-box);
        transform: scale(1.01) translateY($movement);
        transition: transform $transition-time ease-in-out;

    }

    &__title {
        margin: 0;
        font-size: var(--fs-500);
        font-weight: var(--fs-400);
        color: var(--clr-accent-light);
        text-shadow: var(--deep-3d-text-shadow);
    }

    &__link {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    &__details {
        @include details-styles;
    }
}

.packed-box-item {
    &__details {
        @include details-styles;
        margin-bottom: var(--space-s);
    }
}

.box-listing-sort {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: var(--space-m) auto;
    padding: var(--space-xs) 0;
    text-align: center;

    &__item {
        padding: 0 var(--space-m);
    }

    &__title {
        font-size: var(--fs-700);
        padding: 0 var(--space-m);
    }
}

.search-results-boxes {
    @include search_results.search-results;
    grid-template-columns: 1fr 4fr 1fr 3fr 1fr 1fr 1fr;
}

.search-results-orphans {
    @include search_results.search-results;
    grid-template-columns: 4fr 1fr 1fr 1fr 4fr 1fr;
}
