/////////////////////////
/*     INDEX PAGE     */
///////////////////////
.box-packing-index-layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    padding: 0.8rem;
}

.box-details {
    margin: 2rem;
    padding: 2rem;
    padding-bottom: 3rem;
    text-align: center;
    box-shadow:
        0 5px 10px var(--clr-gray-600),
        0 -2px 2px var(--clr-black-trans-200),
        0px 4px 4px var(--clr-black-trans-070),
        inset 0 -10px 10px var(--clr-black-trans-050),
        0px 16px 16px var(--clr-black-trans-070);

    &__title {
        color: var(--clr-accent-light);
        font-size: calc(var(--fs-900) * 1.5);
        @include deep-3d-text;
    }

    &__link {
        text-decoration: none;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: var(--fs-700);
        line-height: 2em;
    }

    &--size {
        font-size: var(--fs-900);
    }

    &--essential {
        color: var(--clr-accent--orange);
    }

    &--warm {
        color: var(--clr-accent--red);
    }

    &--liquid {
        color: var(--clr-accent--blue);
    }
}
.box-items {
    &__list {
        list-style: none;
        margin: auto;
        padding: 0;
        width: 50%;
    }

    &__item {
        margin: 1em;
        padding: 1em;
        border: 1px dotted var(--clr-accent);
    }

    &__item--details {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

.box-function {
    border: 3px solid var(--clr-gray-1000);
    padding: 25px;
    margin: 15px;
}

///////////////////////
/*     ALL PAGE     */
/////////////////////

.box-listing {
    text-align: center;
}

.box-listing-sort {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem auto;
    padding: 1rem 0;
    text-align: center;

    &__item {
        padding: 0 2rem;
    }
}

//////////////////////////
/*     SEARCH PAGE     */
////////////////////////

.searchbox {
    margin: 3rem auto;
    text-align: center;
}

@mixin search-results-grid {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    list-style: none;
    text-align: center;
    padding: 1.5rem 0;
    margin: 1rem 0;
}

.search-results {
    margin: 0;
    padding: 0;

    &__header {
        @include search-results-grid;
        font-size: var(--fs-700);
        border-top: 5px dashed var(--clr-accent);
        border-bottom: 5px dashed var(--clr-accent);
    }

    &__item {
        @include search-results-grid;
        font-size: var(--fs-600);
        line-height: 1.5em;
        border-top: 1px dotted var(--clr-accent);
        border-bottom: 1px dotted var(--clr-accent);
    }

    &__link {
        text-decoration: underline;
        color: var(--clr-accent-light);
    }
}
