.event {
  list-style: none;
  margin: var(--space-xs);

  &__item {
    line-height: 2em;
  }

  &__buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: var(--space-m);
  }
}
