@use "../components/buttons";

.habit {
    margin: 20px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 30px;

    &.completed {
        border-color: var(--clr-success);
    }
}

.completed-habit-graph {
    width: 80%;
    margin: auto;
    background-color: var(--clr-gray-800);
}

// Custom Checkboxes

.habit-check {
    position: relative;
    margin: var(--space-m);
    @include buttons.double-bevel-button(
        $button-size: 50px,
        $button-step-blend: 2px,
        $selected-color: var(--clr-accent--green-bright)
    );

    * button {
        color: inherit;
    }
}

.habit-checked-wrapper {
    /* this is janky along with the habit-checked class
    just a copy of the double-bevel-button with hover effects removed
    */

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: start;
    align-items: center;
    justify-self: center;
}

.habit-checked {
    $button-size: 50px;
    $button-step-blend: 2px;
    $button-press-time: 0.4s;
    $font-size-ratio: 1.5;
    $icon-size-ratio: 0.33;
    $text-and-icon-color: var(--clr-accent-light);
    $selected-color: var(--clr-accent--green-bright);

    position: relative;
    margin: var(--space-m);

    width: $button-size;
    height: $button-size;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $button-size;

    color: $selected-color;

    $button-outline-width: calc($button-size / 2);
    $button-outline-size: $button-size + $button-outline-width;
    $button-press-delay: $button-press-time * 0.3;

    &__text {
        position: relative;
        z-index: 2;
        cursor: pointer;
        font-size: calc(var(--fs-400) * $font-size-ratio);
        text-align: center;
    }

    &__icon {
        width: $button-size * $icon-size-ratio;
        height: $button-size * $icon-size-ratio;
    }

    &::before {
        /* GRAY BUTTON ON TOP */
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: $button-size;
        height: $button-size;
        content: "";
        border-radius: $button-size;
        background-color: var(--clr-gray-900);
        filter: blur($button-step-blend * 3);
        box-shadow:
            -8px -8px 20px var(--clr-black-trans-600),
            4px 4px 20px var(--clr-gray-trans-800),
            inset 8px 8px 20px var(--clr-black-trans-1000),
            inset -8px -8px 20px var(--clr-gray-trans-600);
    }

    &::after {
        /* OUTER RING
        The outer ring has a delay for the press animation to make it appear
        that it is being depressed by the inner button.
        */

        position: absolute;
        translate: transform(-50%, -50%);
        display: block;
        width: $button-outline-size;
        height: $button-outline-size;
        content: "";
        cursor: pointer;
        border-radius: $button-outline-size;
        transform: scale(1.01); /* changing the shadow makes the button appear smaller, so scale up */
        filter: blur($button-step-blend * 3);
        box-shadow:
            -8px -8px 20px var(--clr-black-trans-600),
            4px 4px 20px var(--clr-gray-trans-800),
            inset 8px 8px 20px var(--clr-black-trans-1000),
            inset -8px -8px 20px var(--clr-gray-trans-600);
    }
}
