.main-index-content {
    --border-radius: 200px;
    --border-thickness: 30px;
    position: relative;
    z-index: 0;
    margin: var(--space-3xl);
    padding: var(--space-2xl);
    background-color: var(--clr-gray-900);
    border-radius: var(--border-radius);
    overflow: hidden;
    text-align: center;

    &::before {
        content: "";
        position: absolute;
        z-index: -2;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 200%;
        background-color: var(--clr-gray-800);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-image: conic-gradient(transparent, var(--clr-accent), var(--clr-accent-light), transparent 30%);
        animation: rotate 4s linear infinite;
    }

    @keyframes rotate {
        100% {
            transform: rotate(1turn);
        }
    }

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        left: calc(var(--border-thickness) / 2);
        top: calc(var(--border-thickness) / 2);
        width: calc(100% - var(--border-thickness));
        height: calc(100% - var(--border-thickness));
        background: var(--clr-gray-900);
        border-radius: var(--border-radius);
    }

    > h1 {
        color: var(--clr-accent-light);
        text-shadow: var(--deep-3d-text-shadow);
        transition: ease-in-out 0.3s;

        &:hover {
            text-shadow: var(--deep-3d-text-shadow-elongated);
            transform: scale(1.3) translateY(-20px);
            transition: ease-in-out 0.3s;
        }
    }

    > h2 {
        color: var(--clr-accent-light);
        text-shadow: var(--deep-3d-text-shadow);
        transition: ease-in-out 0.2s;

        &:hover {
            text-shadow: var(--deep-3d-text-shadow-reversed-elongated);
            transform: scale(1.3) translateY(20px);
            transition: text-shadow 0.1s transform 0.2s ease-in-out;

        }
    }
}

.home-links {
    display: flex;
    margin: var(--space-3xl);
    gap: var(--space-3xl);
    justify-content: space-evenly;
}

.home-link-button {
    position: relative;
    margin: var(--space-3xl);
    @include double-bevel-button(200px, 0px);
}
