.main-index-content {
    --border-radius: 200px;
    --border-thickness: 30px;
    position: relative;
    z-index: 0;
    width: 60%;
    margin: var(--space-l) auto;
    padding: var(--space-m);
    background-color: var(--clr-gray-900);
    border-radius: var(--border-radius);
    overflow: hidden;
    text-align: center;

    &::before {
        content: "";
        position: absolute;
        z-index: -2;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 200%;
        background-color: var(--clr-gray-800);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-image: conic-gradient(transparent, var(--clr-accent), var(--clr-accent-light), transparent 30%);
        animation: rotate 4s linear infinite;
    }

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        left: calc(var(--border-thickness) / 2);
        top: calc(var(--border-thickness) / 2);
        width: calc(100% - var(--border-thickness));
        height: calc(100% - var(--border-thickness));
        background: var(--clr-gray-900);
        border-radius: var(--border-radius);
    }

    > img {
        height: 60%;
        width: 60%;
        filter: brightness(0.75);
    }

    > h1,
    h2 {
        text-shadow: var(--deep-3d-text-shadow);

        &:hover {
            text-shadow:
                var(--deep-3d-text-shadow),
                0 0 7px var(--clr-gray-trans-500),
                0 0 15px var(--clr-accent);
        }
    }
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

.home-links {
    display: flex;
    justify-content: center;
    gap: var(--space-l);
    margin-bottom: var(--space-l);

    &__link {
        text-align: center;
    }
}
