.log-window {
    width: clamp(90vw, 80vw);
    height: 80vh;
    margin: auto;
    margin-block: var(--space-2xl);
    padding: var(--space-m);
    overflow: auto;

    font-size: var(--fs-300);
    line-height: 1.5em;

    border-radius: var(--btn-border-radius);
    background-color: var(--clr-black-trans-600);
    box-shadow:
        var(--floating-box),
        -1px -2px 3px var(--clr-black-trans-200),
        inset -5px -5px 12px var(--clr-gray-trans-900),
        inset 3px 3px 12px var(--clr-gray-trans-800);
}
