.perspective-wrapper {
    perspective: 1000px;
    transform-style: preserve-3d;
}

.server-stats-wrapper {
    width: 60%;
    padding: 25px;
    margin: 50px;
    background-color: var(--clr-gray-800);
    border: 2px solid var(--clr-accent);
    border-radius: 25px;
    transform: rotateX(25deg) rotateY(-10deg) rotateZ(15deg);
    @include deep-3d-box;
}

.server-stats {
    --font-size: var(--fs-600);
    list-style: none;
    font-size: var(--font-size);
    line-height: 3em;
    @include deep-3d-text;

    &__item {
        margin: 40px;
        border: 1px solid var(--clr-gray-800);
        border-radius: 25px;
        @include deep-3d-box;
    }

    &__item::before {
        content: "→  ";
        font-size: calc((var(--font-size)) * 1.5);
        color: var(--clr-accent);
        margin-inline: 40px;
    }

    &__item:hover {
        animation-name: highlight-cycle;
        animation-duration: 3s;
        animation-timing-function: cubic-bezier(0.5, 0.25, 0.5, 1);
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
    }
}

@keyframes highlight-cycle {
    $gray-outline: 0 0 7px var(--clr-gray-trans-500);
    $highlight: 0 0 15px var(--clr-accent);
    $border-highlight: 1px solid var(--clr-text);
    50% {
        text-shadow: var(--deep-3d-text-shadow), $gray-outline, $highlight;
        box-shadow: var(--deep-3d-box-shadow), $gray-outline, $highlight;
        transform: scale(1.05);
        border-top: $border-highlight;
        border-left: $border-highlight;
    }
}
