:root {
    --3d-effect-text: 1px 1px 0px #999, 2px 2px 0px #888, 3px 3px 0px #777, 4px 4px 0px #666, 5px 5px 0px #555,
        6px 6px 0px #444, 7px 7px 0px #333, 8px 8px 0px #222, 9px 9px 0px #111;

    --3d-effect: 1px 1px 0px #999, 2px 2px 0px #888, 3px 3px 0px #777, 4px 4px 0px #666, 5px 5px 0px #555,
        6px 6px 0px #444, 7px 7px 0px #333, 8px 8px 0px #222, 9px 9px 0px #111, 28px 28px 30px rgba(0, 0, 0, 0.8),
        20px 30px 35px rgba(0, 0, 0, 0.7), 30px 40px 40px rgba(0, 0, 0, 0.6);
}

.perspective-wrapper {
    perspective: 1000px;
    transform-style: preserve-3d;
}

.server-stats-wrapper {
    width: 60%;
    background-color: var(--clr-gray-800);
    padding: 25px;
    margin: 50px;
    border: 2px solid var(--clr-accent);
    border-radius: 25px;
    box-shadow: var(--3d-effect);
    transform: rotateX(25deg) rotateY(-10deg) rotateZ(15deg);
}

.server-stats {
    --fs: 2rem;
    list-style: none;
    font-size: var(--fs);
    line-height: 3em;
    text-shadow: var(--3d-effect-text);

    &__item {
        margin: 40px;
        border: 1px solid var(--clr-gray-800);
        border-radius: 25px;
        box-shadow: var(--3d-effect);
    }

    &__item::before {
        content: "→  ";
        font-size: calc((var(--fs)) * 1.5);
        color: var(--clr-accent);
        margin-inline: 40px;
    }

    &__item:hover {
        animation-name: highlight-cycle;
        animation-duration: 3s;
        animation-timing-function: cubic-bezier(0.5, 0.25, 0.5, 1);
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
    }

    @keyframes highlight-cycle {
        $gray-outline: 0 0 7px hsl(0 0% 100% / 0.5);
        $highlight: 0 0 15px var(--clr-accent);
        $border-highlight: 1px solid var(--clr-text);
        50% {
            text-shadow: var(--3d-effect-text), $gray-outline, $highlight;
            box-shadow: var(--3d-effect), $gray-outline, $highlight;
            transform: scale(1.05);
            border-top: $border-highlight;
            border-left: $border-highlight;
        }
    }
}
