.task-layout {
    display: grid;
    gap: var(--space-s);
    margin: var(--space-m);
    align-items: start; /* so fewer tasks on one side don't stretch to fill space */
    text-align: center;

    &--one-column-narrow {
        grid-template-columns: minmax(200px, 0.5fr);
        justify-content: center; /* because it's half the size, center it */
    }

    &--one-column-wide {
        grid-template-columns: minmax(200px, 1fr);
    }

    &--two-columns {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }

    &__title {
        text-align: center;
        margin: var(--space-xs);
    }
}

.task {
    display: grid;

    margin-inline: var(--space-2xl);
    padding: var(--space-xs);
    padding-inline: var(--space-l);

    align-items: start;
    line-height: 1.5em;
    text-align: left;
    border-radius: var(--btn-border-radius);
    background-color: var(--clr-gray-700);
    box-shadow:
        var(--floating-box),
        2px 4px 10px var(--clr-gray-trans-700);

    &__priority {
        grid-template-areas:
            "title title buttons"
            "priority notes buttons"
            "category notes buttons"
            "add-date notes buttons";
        grid-template-columns: 1.5fr 1fr 1fr;
        grid-template-rows: repeat(4, auto);
    }

    &__completed {
        grid-template-areas:
            "title title buttons"
            "priority notes buttons"
            "category notes buttons"
            "add-date notes buttons"
            "complete-date notes buttons"
            "time-to-complete notes buttons";
        grid-template-columns: 1.5fr 1fr 1fr;
        grid-template-rows: repeat(6, auto);
    }

    &__todo {
        grid-template-areas:
            "title title title"
            "priority notes notes"
            "category notes notes"
            "add-date notes notes"
            "buttons buttons buttons";
        grid-template-columns: 1.5fr 1fr 1fr;
        grid-template-rows: repeat(4, auto);
    }

    &-title {
        grid-area: title;
        margin: var(--space-xs);
        margin-top: 0;
        margin-left: 0;
        color: var(--clr-accent-light);
        line-height: 1.3em;
    }

    &-notes {
        grid-area: notes;
        text-align: justify;
    }

    &-priority {
        grid-area: priority;
        margin-left: var(--space-m);
    }

    &-category {
        grid-area: category;
        margin-left: var(--space-m);
    }

    &-add-date {
        grid-area: add-date;
        margin-left: var(--space-m);
    }

    &-complete-date {
        grid-area: complete-date;
        margin-left: var(--space-m);
    }

    &-time-to-complete {
        grid-area: time-to-complete;
        margin-left: var(--space-m);
    }

    &-buttons {
        grid-area: buttons;
        display: flex;
        justify-content: space-evenly;
    }

    &--completed {
        border: 3px solid var(--clr-success);
    }

    &--due {
        border: 3px solid var(--clr-error);
        animation: task-due 2s 5;

        @keyframes task-due {
            50% {
                border: 3px solid var(--clr-accent--red);
            }
        }
    }

    &--soon {
        border: 3px solid var(--clr-warning);
        animation: task-soon 3s 3;

        @keyframes task-soon {
            50% {
                border: 3px solid var(--clr-accent--orange);
            }
        }
    }
}


.completed-task-graph {
    width: 80%;
    margin: auto;
    background-color: var(--clr-gray-800);
}

.task-footer-spacer {
    /* not sure how else to get the padding for the fixed footer without messing up other layout elements */
    margin: 0px;
    padding: 0px;
    margin-top: calc(var(--space-xl) * 2.5);
}

.task-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-evenly;

    margin-inline: var(--space-3xl);
    padding: var(--space-s);
    padding-inline: var(--space-xl);

    background-color: var(--clr-gray-trans-900);
    border: 3px solid var(--clr-gray-300);
    border-bottom: none;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;

    &__item {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-inline: var(--space-s);

        label {
            margin-left: var(--space-xs);
            font-size: var(--fs-400);
        }
    }

    &__title {
        flex: 1;
        font-size: var(--fs-600);
        font-weight: bold;
    }

    &__button {
        flex: 1;
    }
}

.task-search-form {
    display: flex;
}
