.task-layout {
    display: grid;
    // width: 90%;
    gap: var(--space-s);
    margin-inline: auto;
    margin-top: var(--space-s);
    margin-bottom: var(--space-2xl);
    align-items: start;
    justify-content: center;
    text-align: center;

    &--one-column-narrow {
        grid-template-columns: minmax(200px, 0.5fr);
    }

    &--one-column-wide {
        grid-template-columns: minmax(200px, 1fr);
    }

    &--two-columns {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }

    &__title {
        text-align: center;
        margin: var(--space-xs);
    }
}

.task {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: var(--space-xs);
    padding-inline: var(--space-l);
    line-height: 1.5em;
    text-align: left;
    border-radius: var(--btn-border-radius);
    background-color: var(--clr-gray-700);
    box-shadow:
        var(--box-shadow-base),
        2px 4px 10px var(--clr-gray-trans-700);

    &__title {
        grid-area: title;
        margin: var(--space-xs);
        margin-left: 0;
        color: var(--clr-accent-light);
    }

    &__notes {
        margin-top: var(--space-xs);
        grid-area: notes;
        align-content: right;
        text-align: left;
    }

    &__priority {
        grid-area: priority;
        margin-left: var(--space-m);
    }

    &__category {
        grid-area: category;
        margin-left: var(--space-m);
    }

    &__add-date {
        grid-area: add-date;
        margin-left: var(--space-m);
    }

    &__complete-date {
        grid-area: complete-date;
        margin-left: var(--space-m);
    }

    &__time-to-complete {
        grid-area: time-to-complete;
        margin-left: var(--space-m);
    }

    &__multiple-buttons {
        grid-area: multiple-buttons;
        text-align: center;
    }

    &__complete-button {
        grid-area: complete-button;
        text-align: right;
    }

    &__delete-button {
        grid-area: delete-button;
        text-align: right;
    }

    &--priority {
        grid-template-areas:
            "title notes"
            "priority notes"
            "category complete-button"
            "add-date complete-button";
    }

    &--todo {
        grid-template-areas:
            "title notes"
            "priority notes"
            "category multiple-buttons"
            "add-date multiple-buttons"
            "...      multiple-buttons";
    }

    &--completed {
        grid-template-areas:
            "title notes"
            "category notes"
            "add-date delete-button"
            "complete-date delete-button"
            "time-to-complete delete-button";
        border: 3px solid var(--clr-success);
    }

    &--due {
        border: 3px solid var(--clr-error);
        animation: task-due 2s 5;

        @keyframes task-due {
            50% {
                border: 3px solid var(--clr-accent--red);
            }
        }
    }

    &--soon {
        border: 3px solid var(--clr-warning);
        animation: task-soon 3s 3;

        @keyframes task-soon {
            50% {
                border: 3px solid var(--clr-accent--orange);
            }
        }
    }
}

///// COMPLETED TASK FILTERS /////

.filter-buttons {
    display: inline-flex;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 0;
    box-sizing: border-box;
    font-size: var(--fs-400);
}

.filter-buttons input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.filter-buttons label {
    display: inline-block;
    padding: var(--space-s) var(--space-m);
    border-radius: var(--btn-border-radius);
    box-shadow:
        5px 5px 5px 0px var(--clr-black-trans-1000),
        inset 0px 0px 5px 0px var(--clr-gray-400),
        inset -5px -5px 4px -2px var(--clr-gray-400);
}

.filter-buttons input[type="radio"]:checked + label {
    color: var(--clr-success);
    font-weight: bold;
    background-color: var(--clr-black-trans-800);
    box-shadow:
        inset 5px 5px 5px 0px var(--clr-black-trans-800),
        inset -3px -3px 5px 0px var(--clr-black-trans-200);
}

.filter-buttons label:hover {
    font-style: italic;
    font-weight: bold;
}

.filterbutton {
    &:first-of-type:not(:last-of-type) + label {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin: 3px;
        margin-right: 0px;
    }

    &:not(:first-of-type):not(:last-of-type) + label {
        border-radius: 0;
        margin: 0px;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    &:last-of-type:not(:first-of-type) + label {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin: 3px;
        margin-left: 0px;
    }
}

#completed-averages {
    margin-bottom: 100px;
    text-align: center;
}

#graph {
    text-align: center;
}

///// ADD TASK FOOTER /////

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    opacity: 100%;
    text-align: center;
    margin: auto;
}

#add-task {
    display: inline-flex;
    width: 95%;
    height: 100px;
    padding: 25px;
    background-color: var(--clr-gray-trans-900);
    border: 3px solid gray;
    border-bottom: none;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;

    + label {
        display: inline-block;
        text-align: center;
        width: 100%;
        margin-left: 20px;
    }

    h3 {
        padding-left: 10px;
        padding-right: 50px;
    }

    .button {
        margin-left: 50px;
    }
}
