{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tasks.css') }}">
{% endblock %}

{% block app_navigation %}
<div id="tasks-navigation" class="navigation secondary">
    <span class="navigation-tab">
        <a href="{{ url_for('tasks.index') }}">Priority Tasks</a></span>
    <span class="navigation-tab">
        <a href="{{ url_for('tasks.all') }}">All Tasks</a></span>
    <span class="navigation-tab">
        <a href="{{ url_for('tasks.completed') }}">Completed Tasks</a></span>
</div>
{% endblock %}

{% block content %}{% endblock %}

<div id="footer">
    {% include 'tasks/addtask.jinja.html' %}
</div>