@import "../components/buttons";

.textbox {
    @include button-textbox;
    width: 90%; // no need to specify columns or size with this
    border: none;
    border-radius: var(--btn-border-radius);
    font-size: var(--fs-400);
    padding: 0.5em 1.75em;
    color: var(--clr-text);
    background-color: var(--clr-gray-800);
}

.add-item-wrapper {
    width: clamp(50svw, 50rem, 80svw);
    margin: auto;
    margin-bottom: var(--space-2xl);
    padding: var(--space-m);

    text-align: center;
    font-size: var(--fs-400);
    line-height: 1.5em;

    border-radius: var(--btn-border-radius);
    background-color: var(--clr-black-trans-600);
    box-shadow:
        var(--floating-box),
        -1px -2px 3px var(--clr-black-trans-200),
        inset -5px -5px 12px var(--clr-gray-trans-900),
        inset 3px 3px 12px var(--clr-gray-trans-800);
}

.add-item-form {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-m);
    justify-content: center;

    &__item {
        flex-grow: 1; // Allow the item to grow to fill the container
        flex-shrink: 0; // Prevent the item from shrinking
        flex-basis: 40%; // Specify the initial size of the item
        label {
            display: block;
        }

        &--full-width {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 80%;
        }
    }
}
