:root {
    --grid-gap: 5rem;
}

@mixin grid-template($columns) {
    display: grid;
    gap: var(--grid-gap);
    grid-template-columns: repeat($columns, minmax(200px, 1fr));
    width: 80%;
    margin: 4rem auto;
}

.grid-wrapper {
    &.one-column {
        @include grid-template(1);
    }

    &.two-columns {
        @include grid-template(2);

        > .grid-item {
            padding: 2rem;
            border-radius: var(--btn-border-radius);
            box-shadow:
                0px 3px 10px var(--clr-gray-trans-700),
                0 -2px 2px var(--clr-black-trans-200),
                0px 4px 4px var(--clr-black-trans-800),
                inset 5px 5px 10px var(--clr-black-trans-200),
                inset -10px -10px 10px var(--clr-black-trans-200),
                16px 8px 16px var(--clr-black-trans-800),
                0px 16px 16px var(--clr-black-trans-800);

            &:last-child:nth-child(odd) {
                grid-column: 1 / span 2;
                justify-self: center;
                width: calc(50% - (var(--grid-gap) * 4));
            }
        }
    }

    &.three-columns {
        @include grid-template(3);
    }
}
