:root {
    // prettier-ignore
    --floating-box:
        0 -2px 2px var(--clr-black-trans-200),
        0px 4px 4px var(--clr-black-trans-400),
        0px 16px 16px var(--clr-black-trans-600),
        16px 8px 16px var(--clr-black-trans-600),
        inset 5px 5px 10px var(--clr-black-trans-200),
        inset -10px -10px 10px var(--clr-black-trans-200);

    // prettier-ignore
    --floating-box-pressed:
        inset 2px 2px 5px var(--clr-black-trans-800),
        -2px -2px 5px var(--clr-black-trans-800),

        inset 4px 4px 8px var(--clr-black-trans-800),
        -8px -8px 12px var(--clr-black-trans-600),

        inset 8px 8px 32px var(--clr-black-trans-400),

        inset -2px -2px 5px var(--clr-gray-trans-875),
        2px 2px 5px var(--clr-gray-trans-875),

        inset -4px -4px 8px var(--clr-gray-trans-850),
        8px 8px 24px var(--clr-gray-trans-850),

        inset -8px -8px 32px var(--clr-gray-trans-850);

    // prettier-ignore
    --bubble-box:
        8px 8px 20px var(--clr-black-trans-600),
        -4px -4px 20px var(--clr-gray-trans-800),
        inset -8px -8px 20px var(--clr-black-trans-1000),
        inset 8px 8px 20px var(--clr-gray-trans-600);

    // prettier-ignore
    --bubble-box-pressed:
        -8px -8px 20px var(--clr-black-trans-600),
        4px 4px 20px var(--clr-gray-trans-800),
        inset 8px 8px 20px var(--clr-black-trans-1000),
        inset -8px -8px 20px var(--clr-gray-trans-600);

    // prettier-ignore
    --box-shadow-highlighted:
        inset 0px 0px 10px 2px var(--clr-accent-light);
}

@mixin grid-set-columns($columns) {
    grid-template-columns: repeat($columns, minmax(300px, 1fr));
}

.grid {
    display: grid;
    gap: var(--space-xl);
    width: 80svw;
    margin: var(--space-2xl) auto;
    justify-content: center;

    &--one-column {
        width: 50svw;
        @include grid-set-columns(1);
    }

    &--two-columns {
        @include grid-set-columns(2);
    }

    &--three-columns {
        @include grid-set-columns(3);
    }

    &__item {
        padding: var(--space-m);
        text-align: center;
        font-size: var(--fs-400);
        border-radius: var(--btn-border-radius);
        background-color: var(--clr-primary);
        box-shadow: var(--floating-box);

        &--highlighted {
            background-color: var(--clr-primary--darker);
            box-shadow: var(--floating-box-pressed);
        }
    }
}

.item-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-s);
    text-align: center;
    line-height: 2rem;

    &__item {
        padding: var(--space-xs);
        padding-top: var();
        background-color: var(--clr-gray-800);
        border-radius: var(--btn-border-radius);

        &--full-width {
            grid-column: 1 / -1;
        }
    }

    &__item-content {
        display: block;
        padding: var(--space-3xs);
        margin-top: var(--space-2xs);
        background-color: var(--clr-gray-900);
        border-radius: var(--btn-border-radius);
    }

    &__buttons {
        display: flex;
        justify-content: space-evenly;
        gap: var(--space-s);
        grid-column: 1 / -1;
    }
}

@media screen and (max-width: 1200px) {
    .grid--two-columns {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 600px) {
    .item-details {
        grid-template-columns: 1fr;
    }
}
