@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
    --ff-base: "Ubuntu Mono", monospace;

    --fs-200: 0.5rem;
    --fs-300: 0.75rem;
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.33rem;
    --fs-700: 1.5rem;
    --fs-800: 1.75rem;
    --fs-900: 2rem;

    // prettier-ignore
    --deep-3d-text-shadow:
        1px 1px 0px var(--clr-gray-900),
        2px 2px 0px var(--clr-gray-800),
        3px 3px 0px var(--clr-gray-700),
        4px 4px 0px var(--clr-gray-600),
        5px 5px 0px var(--clr-gray-500),
        6px 6px 0px var(--clr-gray-400),
        7px 7px 0px var(--clr-gray-300),
        8px 8px 0px var(--clr-gray-200),
        9px 9px 0px var(--clr-gray-100);
}

@mixin deep-3d-text {
    text-shadow: var(--deep-3d-text-shadow);
}

.centered {
    text-align: center;
}
