@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
    --ff-base: "Ubuntu Mono", monospace;
    // prettier-ignore
    --deep-3d-text-shadow:
        1px 1px 0px #999,
        2px 2px 0px #888,
        3px 3px 0px #777,
        4px 4px 0px #666,
        5px 5px 0px #555,
        6px 6px 0px #444,
        7px 7px 0px #333,
        8px 8px 0px #222,
        9px 9px 0px #111;
}

@mixin deep-3d-text {
    text-shadow: var(--deep-3d-text-shadow);
}

.centered {
    text-align: center;
}
