{% extends 'articles/base.html' %}

{% block title %}Articles{% endblock %}

{% block content %}
<div class="add-item-wrapper">
  <h2>Add New Article</h2>
  <form class="add-item-form" method="POST" action="{{ url_for('articles.crud')}}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <div class="add-item-form__item add-item-form__item--full-width">
      {{ create_form.url.label }}
      {{ create_form.url(class_="textbox") }}
      {% if create_form.url.errors %}
      <ul class="errors">
        {% for error in create_form.url.errors %}
        <li>{{ error }}</li>{% endfor %}
      </ul>
      {% endif %}
    </div>

    <div class="add-item-form__item add-item-form__item--full-width">
      <button id="populateButton" type="button" class="button" formnovalidate>
        <span class="button__text">Auto Populate from URL</span>
      </button>
    </div>

    <div class="add-item-form__item add-item-form__item--full-width">
      {{ create_form.title.label }}
      {{ create_form.title(class_="textbox") }}
      {% if create_form.title.errors %}
      <ul class="errors">
        {% for error in create_form.title.errors %}
        <li>{{ error }}</li>{% endfor %}
      </ul>
      {% endif %}
    </div>

    <div class="add-item-form__item add-item-form__item--full-width">
      {{ create_form.tags.label }}
      {{ create_form.tags(class_="textbox") }}
      {% if create_form.tags.errors %}
      <ul class="errors">
        {% for error in create_form.tags.errors %}
        <li>{{ error }}</li>{% endfor %}
      </ul>
      {% endif %}
    </div>

    <div class="add-item-form__item add-item-form__item--full-width">
      {{ create_form.summary.label }}
      {{ create_form.summary(class_="textbox") }}
      {% if create_form.summary.errors %}
      <ul class="errors">
        {% for error in create_form.summary.errors %}
        <li>{{ error }}</li>{% endfor %}
      </ul>
      {% endif %}
    </div>

    <div class="add-item-form__item add-item-form__item--full-width">
      {{ create_form.notes.label }}
      {{ create_form.notes(class_="textbox") }}
      {% if create_form.notes.errors %}
      <ul class="errors">
        {% for error in create_form.notes.errors %}
        <li>{{ error }}</li>{% endfor %}
      </ul>
      {% endif %}
    </div>

    <div class="add-item-form__item add-item-form__item--full-width">
      <button type="submit" name="action" class="button" value="add">
        <span class="button__text">Add New Article</span>
      </button>
    </div>
  </form>
</div>
<div id="summaryEndpoint" style="display: none;">{{ summary_endpoint }}</div>
<script>
  document.querySelector('#populateButton').addEventListener('click', function (event) {
    event.preventDefault();

    const urlField = document.querySelector('.add-item-form input[name="url"]');
    const titleField = document.querySelector('.add-item-form input[name="title"]');
    const summaryField = document.querySelector('.add-item-form textarea[name="summary"]');
    const tagsField = document.querySelector('.add-item-form input[name="tags"]');
    const summaryEndpoint = document.getElementById('summaryEndpoint').textContent;

    fetch(summaryEndpoint, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        url: urlField.value
      })
    })
      .then(response => response.json())
      .then(data => {
        titleField.value = data.title;
        summaryField.value = data.summary;
        tagsField.value = data.tags.join(', ');
      })
      .catch(error => console.error('Error:', error));
  });
</script>
{% endblock %}
