{% extends 'articles/base.html' %}

{% block title %}Articles{% endblock %}

{% block content %}
<div class="grid grid--one-column">
<div class="add-item-wrapper">
  <h3>URL</h3>
  <form class="add-item-form" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <div class="add-item-form__item add-item-form__item--full-width">
      <input type="text" class="textbox" name="url" id="url" placeholder="{{ submitted_url }}">

      <button type="submit" class="button">
        <span class="button__text">Educate Me!</span>
      </button>
    </div>
    {% if elapsed %}
    <div class="add-item-form__item add-item-form__item--full-width">
      Elapsed Time: {{ elapsed }}
    </div>
    {% endif %}
  </form>
</div>
{% if article_insights %}
  <div class="article-insight">
    {{ article_insights | safe }}
  </div>
  {% endif %}
</div>
{% endblock %}
