<div class="task task__completed task--completed">
  <h3 class="task-title">{{ task.name }}</h3>
  <div class="task-category">Category: {{ task.category }}</div>
  <div class="task-add-date">Add Date: {{ task.add_date | pretty_date }}</div>
  <div class="task-complete-date">Complete Date: {{ task.complete_date | pretty_date }}</div>
  <div class="task-time-to-complete">Time to Complete: {{ task.time_to_complete }}</div>
  {% if task.notes %}
  <div class="task-notes"><strong>Notes: </strong>{{ task.notes }}</div>
  {% endif %}
  <div class="task-buttons">
    <form method="POST" action="{{ url_for('tasks.crud') }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <input type="hidden" name="id" value="{{ task.id }}">
      <input type="hidden" name="name" value="{{ task.name }}">
      <button type="submit" name="action" class="button" value="delete">
        <span class="button__text">Delete Task</span>
      </button>
    </form>
  </div>
</div>
