<div class="task task__todo {% if task.priority == 1 %}task--due{% elif task.priority <= 3 %}task--soon{% endif %}">
  <h3 class="task-title">{{ task.name }}</h3>
  <div class="task-priority">Priority: {{ task.priority }}</div>
  <div class="task-category">Category: {{ task.category }}</div>
  <div class="task-add-date">Add Date: {{ task.add_date | pretty_date }}</div>
  {% if task.notes %}
  <div class="task-notes"><strong>Notes: </strong>{{ task.notes }}</div>
  {% endif %}
  <div class="task-buttons">
    <form method="POST" action="{{ url_for('tasks.crud') }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input type="hidden" name="id" value="{{ task.id }}">
      <input type="hidden" name="days" id="{{ task.id }}-days" value="">
      <button type="submit" name="action" class="button" value="complete">
        <span class="button__text">Complete Task</span>
      </button>
      <button type="submit" name="action" class="button" value="extend"
        onclick="document.getElementById('{{ task.id }}-days').value = '7';">
        <span class="button__text">Extend 7 Days</span>
      </button>
      <button type="submit" name="action" class="button" value="extend"
        onclick="document.getElementById('{{ task.id }}-days').value = '30';">
        <span class="button__text">Extend 30 Days</span>
      </button>
      <button type="submit" name="action" class="button" value="delete">
        <span class="button__text">Delete Task</span>
      </button>
    </form>
  </div>
</div>
