{% extends 'events/base.html' %}

{% block title %}Events{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/@webshim/polyfill@1.17.23/dist/polyfiller.js"></script>
<script>
  webshims.setOptions('forms-ext', {
    types: 'datetime-local'
  });
  webshims.polyfill('forms forms-ext');
</script>
{% endblock %}

{% block content %}
<div class="grid grid--one-column">
  {% for event in events %}
  <div class="grid__item {{ 'grid__item--highlighted' if event.attending }}">
    <h2>{{ event.name }}</h2>
    <ul class="event">
      <li class="event__item">{{ event.date.strftime('%A %B %d, %Y | %I:%M %p') }} | {{ event.venue }}</li>
      <li class="event__item">
        {% if event.url %}<a href="{{ event.url }}" target="_blank">Event URL</a> | {% endif %}{{
        '$%.2f'|format(event.cost) }} | Attending: {{ 'YES' if event.attending else 'No' }}</li>
      {% if event.notes %}
      <li class="event__item">Notes: {{ event.notes }}</li>
      {% endif %}
    </ul>
    <div class="event__buttons">
      {% if not event.attending %}
      <form method="POST">
        <input type="hidden" name="id" value="{{ event.id }}">
        <button type="submit" name="action" class="button" value="attend">
          <span class="button__text">Attend Event</span>
        </button>
      </form>
      {% else %}
      <button type="button" name="attend" class="button button--pressed">Attending</button>
      {% endif %}
      <form method="POST">
        <input type="hidden" name="id" value="{{ event.id }}">
        <button type="submit" name="action" class="button" value="delete">
          <span class="button__text">Delete Event</span>
        </button>
      </form>
    </div>
  </div>
  {% else %}
  <div class="grid__item">
    <h2>No Events</h2>
  </div>
  {% endfor %}
</div>

<div class="add-item-wrapper">
  <h2>Add New Event</h2>
  <form class="add-item-form" method="POST">
    <div class="add-item-form__item">
      <label for="name">Name:</label>
      <input type="text" class="textbox" name="name" id="name">
    </div>
    <div class="add-item-form__item">
      <label for="date">Date and Time:</label>
      <input type="datetime-local" id="date" name="date" class="textbox" data-webshim="datetime-local">
    </div>
    <div class="add-item-form__item">
      <label for="url">URL:</label>
      <input type="text" class="textbox" name="url" id="url">
    </div>
    <div class="add-item-form__item">
      <label for="venue">Venue:</label>
      <input type="text" class="textbox" name="venue" id="venue">
    </div>
    <div class="add-item-form__item">
      <label for="cost">Cost:</label>
      <input type="number" id="cost" name="cost" class="textbox">
    </div>
    <div class="add-item-form__item">
      <label for="attending">Attending:</label>
      <input type="checkbox" name="attending" id="attending" class="textbox" value="1">
      <input type="hidden" name="attending" value="0">
    </div>
    <div class="add-item-form__item add-item-form__item--full-width">
      <label for="notes">Notes:</label>
      <textarea rows="3" id="notes" name="notes" class="textbox"></textarea>
    </div>
    <div class="add-item-form__item add-item-form__item--full-width">
      <button type="submit" name="action" class="button" value="add">
        <span class="button__text">Add Event</span>
      </button>
    </div>
  </form>
</div>
{% endblock %}
