{% extends"apartments/base.html" %}

{% block title %}
{% if apartment %}{{ apartment.name }}{% else %}Apartments{% endif %}
{% endblock title %}

{% block content %}

{% include "apartment_list.jinja" %}

<div id="add-feature">
  <h2>Add a New Feature:</h2>
  <form method="post" action="{{ url_for('apartments_bp.edit') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" id="apartment_id" name="apartment_id" value="{{ aptid }}">
    <input type="text" class="bigbox" size="20" name="name" id="name">
    <h2>Type:</h2>
    <select class="bigbox" name="type" id="type">
      <option value="text">text</option>
      <option value="integer">integer</option>
      <option value="boolean">boolean</option>
    </select><br>
<!-- <button type="submit" name="action" class="button" value="add-feature">
      <span class="button__text">Add New Feature</span>
      </button> -->
    <button type="submit" class="bigbox" value="Add New Feature"></button>
  </form>
</div>

<div id="content-layout">
  {% if apartment %}
  <div id="apartment">
    <div class="feature-list">
      <h1 class="title">{{ apartment.name.upper() }}</h1>
      <h2>
        <a href="https://www.google.com/maps/place/{{ address }}" target="_blank">{{ apartment.address }}</a>
      </h2>
      <h2><a href="{{ apartment.url }}" target="_blank">{{ apartment.url }}</a></h2>
      <div id="apt-features">
        {% for feature in features %}
        <div class="feature-box">
          <h2>{{ feature.name.upper() }}</h2>
          <h2>{{ feature.value }}</h2>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="feature-list">
      <h2>NOTES</h2>
      {{ apartment.notes }}
      <br><br><br><br><br><br><br><br>
      <form action="{{ url_for('apartments_bp.edit', name=apartment.name) }}" method="get">
        <button type="submit" class="manage-box">Edit Apartment Info</button>
      </form>
    </div>
  </div>
  {% else %}
  <div id="apartment">
    <div class="feature-list">
      <h1 class="title">{{ message }}</h1>
    </div>
  </div>
  {% endif %}
</div>
{% endblock content %}
