<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracks</title>
    <link rel="stylesheet"
        href="{{ url_for('tracks_bp.static', filename='css/tracks.css') }}">
</head>

<body>
    {% include 'navigation.html' %}

    <div id="countdown-content">
        <h1>Manage Countdowns</h1>
        <div id="countdowns">
            {% for deadline in deadlines %}
            <div class="countdown-box">
                <form method="POST" action="{{ url_for('tracks_bp.deadlines') }}">
                    <input type="hidden" name="name" value="{{ deadline.name }}">
                    <input type="hidden" name="date" value="{{ deadline.date }}">
                    <input type="hidden" name="delete" value="True">
                    <div class="countdown-box-left">
                        <input type="submit" class="button box-3d" value="Delete">
                    </div>
                    <div class="countdown-box-right">
                        {{ deadline.name }}<br />
                        {{ deadline.date.strftime("%B %d %Y") }}
                    </div>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="add-countdown">
        <h3>Add New Countdown:</h3>
        <br />
        <form method="POST" action="{{ url_for('tracks_bp.deadlines') }}">
            <label for="name">Name:</label><br />
            <input type="text" size="30" class="textbox box-3d" name="name" id="name">
            <br /><br /><br />
            <label for="date">Deadline:</label><br />
            <input type="date" id="date" name="date" class="textbox box-3d">
            <input type="hidden" name="add" value="True">
            <br /><br /><br />
            <input type="submit" class="button box-3d" value="Add Countdown">
        </form>
    </div>
</body>

</html>