<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracks</title>
    <link rel="stylesheet" href="{{ url_for('tracks_bp.static', filename='css/styling.css') }}">
</head>

<body>
    {% include 'navigation.html' %}

    <div class="countdowns">
        <h1>Manage Countdowns</h1>
        <table class="countdown-list">
            {% for name, date, name_id in countdowns %}
            {% if loop.index % 3 == 1 %}<tr>
                <td class="third">{% endif %}
                    {% if loop.index % 3 == 2 %}
                <td class="third">{% endif %}
                    {% if loop.index % 3 == 0 %}
                <td class="third">{% endif %}
                    <div id="countdown-container">
                        <form method="POST" action="{{ url_for('tracks_bp.delete_countdown') }}">
                            <div class="countdown-row-left">
                                <input type="submit" class="button box-3d" value="Delete">
                            </div>
                            <div class="countdown-row-right">
                                <input type="hidden" name="name" value="{{ name }}">
                                <input type="hidden" name="date" value="{{ date }}">
                                <input type="hidden" name="name_id" value="{{ name_id }}">
                                {{ name }}<br />
                                {{ date }}
                            </div>
                        </form>
                    </div>
                    {% if loop.index % 3 == 1 %}
                </td>{% endif %}
                {% if loop.index % 3 == 2 %}
                </td>{% endif %}
                {% if loop.index % 3 == 0 %}
                </td>
            </tr>{% endif %}
            {% endfor %}
            <!-- Clean up end of table if there are partial columns -->
            {% if countdowns|length % 3 == 1 %}
            <td class="third"></td>
            <td class="third"></td>
            </tr>{% endif %}
            {% if countdowns|length % 3 == 2 %}
            <td class="third"></td>
            </tr>{% endif %}
        </table>
        <table class="add-countdown">
            <tr>
                <td>
                    <h4>Add New Countdown:</h4>
                    <br />
                    <form method="POST" action="{{ url_for('tracks_bp.add_countdown') }}">
                        <label for="name">Name:</label>
                        <input type="text" size="30" class="textbox box-3d" name="name"
                            id="name">
                        <br /><br />
                        <label for="date">Deadline:</label>
                        <input type="date" id="date" name="date" class="textbox box-3d">
                        <br /><br />
                        <input type="submit" class="button box-3d" value="Add New Habit">
                    </form>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>