<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tracks.css') }}">

</head>

<body>
    <button id="home" class="button box-3d home-button" value="Home"><a class="__text"
            href="#">Home</a></button>
    <div id="navtable">
        <span class="navtab"><a href="/">To-Do Lists</a></span>
        <span class="navtab"><a href="/habits">Daily Habits</a></span>
        <span class="navtab"><a href="/reference">Reference</a></span>
    </div>
</body>

</html>