<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracks</title>
    <link rel="stylesheet"
        href="{{ url_for('tracks_bp.static', filename='css/styling.css') }}">
    <script src="{{ url_for('tracks_bp.static', filename='js/countdowns.js') }}"></script>
</head>

<body>
    {% include 'navigation.html' %}
    <div id='outer-grid'>
        <div id='column1' class="tab-wrap">
            <!-- active tab on page load gets checked attribute -->
            <input type="radio" id="tab1-1" name="tabGroup1" class="tab" checked>
            <label for="tab1-1">To Do List</label>

            <input type="radio" id="tab1-2" name="tabGroup1" class="tab">
            <label for="tab1-2">Big To Do List</label>

            <input type="radio" id="tab1-3" name="tabGroup1" class="tab">
            <label for="tab1-3">Goals This Month</label>

            <input type="radio" id="tab1-4" name="tabGroup1" class="tab">
            <label for="tab1-4">New Apt Checklist</label>

            <div class="tab__content">
                <img class='center'
                    src="{{ url_for('tracks_bp.static', filename='images/todo.png') }}" ,
                    width="50%">
                {{ todo | safe }}
            </div>

            <div class="tab__content">
                {{ big_todo | safe }}
            </div>

            <div class="tab__content">
                <h3>Goals This Month</h3>
                <p>Particular Goals</p>
            </div>

            <div class="tab__content">
                {{ new_apt_checklist | safe }}
            </div>
        </div>


        <div id='column2' class="tab-wrap">

            <!-- active tab on page load gets checked attribute -->
            <input type="radio" id="tab2-1" name="tabGroup2" class="tab">
            <label for="tab2-1">Big To Do List</label>

            <input type="radio" id="tab2-2" name="tabGroup2" class="tab">
            <label for="tab2-2">Goals This Month</label>

            <input type="radio" id="tab2-3" name="tabGroup2" class="tab">
            <label for="tab2-3">Forever Goals</label>

            <input type="radio" id="tab2-4" name="tabGroup2" class="tab">
            <label for="tab2-4">Life Plan</label>

            <input type="radio" id="tab2-5" name="tabGroup2" class="tab">
            <label for="tab2-5">Event Calendar</label>

            <input type="radio" id="tab2-6" name="tabGroup2" class="tab" checked>
            <label for="tab2-6">Countdowns</label>

            <div class="tab__content">
                {{ big_todo | safe }}
            </div>

            <div class="tab__content">
                <h3>Goals This Month</h3>
                <p>Particular Goals</p>
            </div>

            <div class="tab__content">
                {{ goals | safe }}
            </div>

            <div class="tab__content">
                <h3>Life Plan</h3>
                <p>Life Plan Document</p>
            </div>

            <div class="tab__content">
                <div class="index-events">
                    {% for event in events %}
                    <ul id="{{ event.id }}" class="{{ 'attending' if event.attending }}">
                        <li class="title">{{ event.name }}</li>
                        <li>{{ event.date.strftime('%A %B %d, %Y') }}</li>
                        <li>{{ event.venue }}</li>
                        <li>{{ '$%.2f'|format(event.cost) }}</li>
                        <li>Going: {{ 'YES' if event.attending else 'No' }}</li>
                        <li><a href="{{ event.url }}" target="_blank">{{ event.url }}</a></li>
                        <li>Notes: {{ event.notes }}</li>
                    </ul>
                    {% endfor %}
                    <br />
                    <!-- This does not need to be a form but I want the button. -->
                    <form method="GET" action="{{ url_for('tracks_bp.manage_events') }}">
                        <input type="submit" class="button box-3d" value="Manage Events">
                    </form>
                </div>
            </div>

            <div class="tab__content">
                <div class="index-countdowns">
                    {% for name, deadline, id in deadlines %}
                    <h1>{{ name }}</h1>
                    <h1 class="daysleft" id="{{ id }}"></h1>
                    <script>calculateDays('{{ deadline }}', '{{ id }}');
                    </script>
                    <br />
                    {% endfor %}
                    <br />
                    <form method="POST" action="{{ url_for('tracks_bp.countdowns') }}">
                        <input type="submit" class="button box-3d"
                            value="Manage Countdowns">
                    </form>
                </div>
            </div>

        </div>


    </div>

</body>

</html>