{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/journal.css') }}">
{% endblock %}

{% block app_navigation %}
<div id="journal-navigation" class="navigation secondary">
    <span class="navigation-tab">
        <a href="{{ url_for('journal.index') }}">New Entry</a></span>
    <span class="navigation-tab">
        <a href="{{ url_for('journal.browse') }}">Browse</a></span>
    <span class="navigation-tab">
        <a href="{{ url_for('journal.search') }}">Search</a></span>
</div>
{% endblock %}

{% block content %}{% endblock %}
