{% extends 'journal/base.html' %}

{% block title %}Journal - Search{% endblock %}

{% block content %}
<div id="searchbox">
    <form method="POST" action="{{ url_for('journal.search') }}">
        <h3>Search for Items</h3>
        <label for="search_text">Search Text:</label>
        <input class=big-button type="text" name="search_text" id="search_text">
        <input class="big-button" type="submit" value="Search">
    </form>
</div>

{% if results %}
<div id="search-results">
    {% for result in results %}
    {{ result }}
    {% endfor %}
</div>
{% endif %}

{% endblock %}