{% extends 'base.html' %}

{% block scripts %}{% endblock %}

{% block app_navigation %}
<ul data-secondary>
  {% if current_user.is_authenticated %}
  <li><a href="{{ url_for('user.profile') }}" class="navbar-item">Profile</a></li>
  {% endif %}
  {% if not current_user.is_authenticated %}
  <li><a href="{{ url_for('auth.login') }}" class="navbar-item">Login</a></li>
  <li><a href="{{ url_for('auth.signup') }}" class="navbar-item">Sign Up</a></li>
  {% endif %}
  {% if current_user.is_authenticated %}
  <li><a href="{{ url_for('auth.logout') }}" class="navbar-item">Logout</a></li>
  {% endif %}
</ul>



{% endblock %}

{% block content %}{% endblock %}

{% block footer %}{% endblock %}
