{% extends "admin/base.html" %}

{% block title %}Backups{% endblock title %}

{% block content %}
<div class="backups">
  <h1 class="backups__title">Backups</h1>

  <h2 class="backups__subtitle"><span class="fa-regular fa-folder-open">&nbsp;&nbsp;</span>
    {{ backup_bucket }} / {{ ' / '.join(prefix.split('/')) }}
  </h2>
  {% if prefix != '' %}
  <h3 class="backups__link"><a href="{{ url_for('admin.backups', prefix=up_one_level) }}">Up One Level</a></h3>
  {% endif %}

  <div class="bucket-contents">
    <div class="bucket-contents__header">Filename</div>
    <div class="bucket-contents__header">Last Modified</div>
    <div class="bucket-contents__header">Size</div>

    {% for folder in folders %}
    <div class="bucket-contents__item">
      <span class="fa-regular fa-folder-closed">&nbsp;&nbsp;</span>
      <a class="bucket-contents__link"
        href="{{ url_for('admin.backups', prefix=folder) }}">{{ folder.split('/')[-2] }}/</a>
    </div>
    <div class="bucket-contents__item"> </div>
    <div class="bucket-contents__item"> </div>
    {% endfor %}

    {% for backup in backups %}
    <div class="bucket-contents__item">
      <span class="fa-regular fa-floppy-disk">&nbsp;&nbsp;</span>{{ backup.filename }}
    </div>
    <div class="bucket-contents__item">{{ backup.last_modified }}</div>
    <div class="bucket-contents__item">{{ backup.size }}</div>
    {% endfor %}
  </div>

  <div class="add-item-wrapper">
    <h2>Create Manual Backup</h2>
    <form method="post" action="{{ url_for('admin.backups') }}" class="add-item-form">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

      <div class="add-item-form__item add-item-form__item--full-width">
        <label for="description">Description</label>
        <input type="text" id="description" name="description" class="textbox"
               placeholder="e.g., pre-migration" required
               pattern="[a-zA-Z0-9\s\-]+" maxlength="50">
        <small>Letters, numbers, spaces, hyphens only</small>
      </div>

      <div class="add-item-form__item">
        <input type="checkbox" name="upload_to_s3" id="upload_to_s3" checked>
        <label for="upload_to_s3">Upload to S3</label>
      </div>

      <div class="add-item-form__item">
        <input type="checkbox" name="save_local" id="save_local">
        <label for="save_local">Save Locally</label>
      </div>

      <div class="add-item-form__item add-item-form__item--full-width">
        <button type="submit" class="button">
          <span class="button__text">Create Backup Now</span>
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
