{% extends 'base.html' %}

{% block app_navigation %}
  <ul data-secondary>
    <li><a href="{{ url_for('admin.index') }}">Server Stats</a></li>
    <li><a href="{{ url_for('admin.backups') }}">Backups</a></li>
    <li><a href="{{ url_for('admin.scheduler') }}">Scheduler</a></li>
    <li><a href="{{ url_for('admin.logs') }}">Logs</a></li>
    <li><a href="{{ url_for('admin.log_graphs') }}">Log Graphs</a></li>
    <li><a href="https://platform.openai.com/usage" target="_blank">OpenAI Usage</a></li>
  </ul>
{% endblock %}

{% block content %}{% endblock %}
