{% extends "base.html" %}

{% block title %}Add New Task{% endblock title %}

{% block content %}
<div class="grid grid--one-column">
  <div class="add-item-wrapper">
    <h2>Add New Task</h2>
    <form class="add-item-form" method="post" action="{{ url_for('tasks.crud') }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <div class="add-item-form__item">
        {{ create_form.name.label }}
        {{ create_form.name(class_="textbox") }}
      </div>
      <div class="add-item-form__item">
        {{ create_form.category.label }}
        {{ create_form.category(class_="textbox") }}
      </div>
      <div class="add-item-form__item">
        {{ create_form.priority.label }}
        {{ create_form.priority(min=1, class_="textbox") }}
      </div>
      <div class="add-item-form__item add-item-form__item--full-width">
        {{ create_form.notes.label }}
        {{ create_form.notes(class_="textbox") }}
      </div>
      <div class="add-item-form__item add-item-form__item--full-width">
        <button type="submit" name="action" class="button" value="add">
          <span class="button__text">Add New Task</span>
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
