<div class="task-footer-spacer">
  <form class="task-footer" method="POST" action="{{ url_for('tasks.crud') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="task-footer__item task-footer__title">
      Add New Task:
    </div>
    <div class="task-footer__item">
      <label for="name">Name:</label>
      <input type="text" size="20" class="textbox" name="name" id="name">
    </div>
    <div class="task-footer__item">
      <label for="category">Category:</label>
      <select class="textbox" name="category" id="category">
        {% for category in task_categories %}
        <option value="{{ category }}">{{ category }}
        </option>
        {% endfor %}
      </select>
    </div>
    <div class="task-footer__item">
      <label for="priority">Priority:</label>
      <input type="number" min="1" class="textbox" name="priority" id="priority">
    </div>
    <div class="task-footer__item">
      <label for="notes">Notes:</label>
      <input type="text" size="40" class="textbox" name="notes" id="notes">
    </div>
    <div class="task-footer__item task-footer__button">
      <button type="submit" name="action" class="button" value="add">
        <span class="button__text">Add New Task</span>
      </button>
    </div>
  </form>
</div>
