{% extends 'tasks/base.html' %}

{% block title %}All Tasks{% endblock %}

{% block content %}
<div id="tasks">
    {% for task in tasks %}
    <div class="task">
        <h2>{{ task.name }}</h2>
        {% if task.notes %}
        <strong>Notes: </strong>{{ task.notes }}<br />
        {% endif %}
        Priority: {{ task.priority }}<br />
        Category: {{ task.category }}<br />
        Add Date: {{ task.add_date }}<br />
        {% if loop.index > 5 %}
        <form method="POST" action="{{ url_for('tasks.form') }}">
            <input type="hidden" name="id" id="id" value="{{ task.id }}">
            <input type="hidden" name="method" id="method" value="delete">
            <input type="submit" value="Delete Task">
        </form>
        {% endif %}
    </div>
    {% else %}
    <div class="task">
        <h2>No Tasks</h2>
    </div>
    {% endfor %}
</div>
{% endblock %}