{% extends 'tasks/base.html' %}

{% block title %}All Tasks{% endblock %}

{% block content %}
<div id="content-layout-grid">
    <div id="left-column" class="task-list">
        <div id="tasks">
            {% for task in tasks %}
            <div class="task">
                <h2>{{ task.name }}</h2>
                {% if task.notes %}
                <strong>Notes: </strong>{{ task.notes }}<br>
                {% endif %}
                Priority: {{ task.priority }}<br>
                Category: {{ task.category }}<br>
                Add Date: {{ task.add_date }}<br>
                {% if task.complete_date %}
                Complete Date: {{ task.complete_date }}<br>
                {% endif %}
                <form method="POST" action="{{ url_for('tasks.crud') }}">
                    <input type="hidden" name="id" id="id" value="{{ task.id }}">
                    <input type="hidden" name="name" id="name" value="{{ task.name }}">
                    <input type="hidden" name="method" id="method" value="delete">
                    <input type="submit" value="Delete Task">
                </form>
                {% if not task.complete_date %}
                <form method="POST" action="{{ url_for('tasks.crud') }}">
                    <input type="hidden" name="id" id="id" value="{{ task.id }}">
                    <input type="hidden" name="name" id="name" value="{{ task.name }}">
                    <input type="hidden" name="method" id="method" value="complete">
                    <input type="submit" value="Complete Task">
                </form>
                {% endif %}
            </div>
            {% else %}
            <div class="task">
                <h2>No Tasks</h2>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="right-column" class="task-list">

        <div id="completed-filters">
            <h2>Filter Tasks</h2>
            <form method="POST" action="{{ url_for('tasks.all') }}">
                <div class="filter-buttons">
                    <input type="radio" id="radio-completed" class="filterbutton"
                        name="completed_filter" value="completed" {% if
                        completed_filter=='completed' %}checked{% endif %}>
                    <label for="radio-completed">Completed</label>
                    <input type="radio" id="radio-not_completed" class="filterbutton"
                        name="completed_filter" value="not_completed" {% if
                        completed_filter=='not_completed' %}checked{% endif %}>
                    <label for="radio-not_completed">Not Completed</label>
                    <input type="radio" id="radio-all" class="filterbutton"
                        name="completed_filter" value="all" {% if completed_filter=='all'
                        %}checked{% endif %}>
                    <label for="radio-all">All</label>
                </div>
                </br /><br>
                <input type="submit" class="button box-3d" value="Filter Tasks">
            </form>
        </div>
    </div>
</div>
{% endblock %}
