{% extends 'base.html' %}

{% block meta %}
<!-- Refresh pages every 60 minutes so tasks are added and completed with correct timestamp -->
<meta http-equiv="refresh" content="3600">
{% endblock %}

{% block scripts %}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tasks.css') }}">
{% endblock %}

{% block app_navigation %}
<ul class="nav__list--secondary">
  <li class="nav__item"><a class="nav__link" href="{{ url_for('tasks.index') }}">Priority Tasks</a></li>
  <li class="nav__item"><a class="nav__link" href="{{ url_for('tasks.all') }}">All Tasks</a></li>
  <li class="nav__item"><a class="nav__link" href="{{ url_for('tasks.completed') }}">Completed Tasks</a></li>
  <li class="nav__item">
    <form class="search-form" method="POST" action="{{ url_for('tasks.search') }}">
      <input type="text" size="20" class="textbox box-3d" name="terms" id="terms">
      <input type="hidden" name="method" value="search">
      <input type="submit" class="button box-3d" value="Search">
    </form>
  </li>
</ul>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
<div id="footer">
  {% include 'tasks/addtask.jinja.html' %}
</div>
{% endblock %}
