{% extends 'base.html' %}

{% block meta %}
<!-- Refresh pages every 10 minutes so tasks are added and completed with correct timestamp -->
<meta http-equiv="refresh" content="600">
{% endblock %}

{% block scripts %}{% endblock %}

{% block app_navigation %}
<ul data-secondary>
  <li><a href="{{ url_for('tasks.index') }}">Priority Tasks</a></li>
  <li><a href="{{ url_for('tasks.all') }}">All Tasks</a></li>
  <li><a href="{{ url_for('tasks.completed') }}">Completed Tasks</a></li>
  <li>
    <form class="search-form" method="POST" action="{{ url_for('tasks.search') }}">
      <input type="text" size="20" class="textbox button-3d" name="terms" id="terms">
      <button type="submit" name="action" class="button" value="search">
        <span class="button__text">Search</span>
      </button>
    </form>
  </li>
</ul>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
{% include 'tasks/addtask.jinja.html' %}
{% endblock %}
