{% extends 'tasks/base.html' %}

{% block title %}Completed Tasks{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
{% endblock %}

{% block content %}
<div class="task-layout task-layout--one-column">
  <form method="POST" action="{{ url_for('tasks.completed') }}">
    <div class="filter-buttons">
      {% for filter in filters %}
      <input type="radio" id="radio-{{ filter }}" class="filterbutton" name="filter" value="{{ filter }}" {% if
        filter==date_filter %}checked{% endif %}>
      <label for="radio-{{ filter }}">{{ filter.title().replace('_',' ') }}</label>
      {% endfor %}
    </div>
    <br><br>
    <button type="submit" name="action" class="button" value="filter">
      <span class="button__text">Filter Tasks</span>
    </button>
  </form>
</div>

{% if not completed_tasks %}
<div class="task-layout task-layout--one-column-wide">
  <h3>{{ average_completion }}</h3>
</div>
{% else %}
<div class="task-layout task-layout--two-columns">
  <div class="task-layout task-layout--one-column-wide">
    {% for task in completed_tasks %}
    {% include 'tasks/templates/completed.jinja.html' %}
    {% endfor %}
  </div>
  <div class="task-layout task-layout--one-column-wide">
    <h2> Average Completion Time: {{ average_completion }}</h2>
    <div>
      <canvas id="completedChart" width="600" height="400"></canvas>
    </div>
    <script>
      var ctx = document.getElementById("completedChart").getContext("2d");
      var barChart = new Chart(ctx, {
        type: "bar",
        data: {
          labels: [{% for label in chart_labels %}"{{ label }}", {% endfor %}],
      datasets: [
        {
          label: "Completed Tasks",
          data: [{% for value in chart_values %}"{{ value }}", {% endfor %}],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(255, 205, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(201, 203, 207, 0.2)'
        ],
          borderColor: [
            'rgb(255, 99, 132)',
            'rgb(255, 159, 64)',
            'rgb(255, 205, 86)',
            'rgb(75, 192, 192)',
            'rgb(54, 162, 235)',
            'rgb(153, 102, 255)',
            'rgb(201, 203, 207)'
          ],
                            }
                ],
      borderWidth: 1
                    }
                });
    </script>
    <br>
    {% for label, value in zip(chart_labels, chart_values) %}
    {{ label }} {{ value }}
    <br>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}
