{% extends "tasks/base.html" %}

{% block title %}
  Priority Tasks
{% endblock title %}

{% block content %}
  {% set view = get_user_pref('tasks.pages.index.view_type') %}
  {% set preference = "tasks.pages.index.view_type" %}

  {% if view == "compact" %}
    {% set grid_type = "grid grid--one-column-wide-nested grid--compact" %}
  {% else %}
    {% set grid_type = "grid grid--one-column-narrow-nested grid--tight" %}
  {% endif %}

  <div class="grid grid--one-column grid--tight">{% include "tasks/task-info-bar.jinja.html" %}</div>
  <div class="grid grid--two-columns-wide grid--tight">
    <div class="{{ grid_type }}">
      <h2 class="task-layout__title">Priority Tasks</h2>
      {% with task_class="task task--" ~ view ~ "-layout priority", element_class="task--" ~ view ~ "-layout" %}
        {% for task in top_tasks %}
          {% include "tasks/_partials/priority-" ~ view ~ ".jinja.html" %}
        {% endfor %}
      {% endwith %}
    </div>
    <div class="{{ grid_type }}">
      <h2 class="task-layout__title">Completed Today</h2>
      {% with task_class="task task--" ~ view ~ "-layout completed", element_class="task--" ~ view ~ "-layout" %}
        {% for task in completed_today %}
          {% include "tasks/_partials/completed-" ~ view ~ ".jinja.html" %}
        {% endfor %}
      {% endwith %}
    </div>
  </div>
{% endblock content %}
