{% extends 'tasks/base.html' %}

{% block title %}Tasks Search{% endblock %}

{% block content %}
<div class="task-layout task-layout--one-column-narrow">
  <h2>Outstanding Tasks</h2>
  {% for task in todo_tasks %}
  {% include 'tasks/templates/todo.jinja.html' %}
  {% else %}
  <div class="task">
    <h2>No Tasks</h2>
  </div>
  {% endfor %}
  <h2>Completed Tasks</h2>
  {% for task in completed_tasks %}
  {% include 'tasks/templates/completed.jinja.html' %}
  {% else %}
  <div class="task">
    <h2>No Tasks</h2>
  </div>
  {% endfor %}
</div>
{% endblock %}
