{% extends "tasks/base.html" %}

{% block title %}
  Tasks Search
{% endblock title %}

{% block content %}
  {% set view = current_user.preferences.tasks.pages.search.view_type %}
  {% set preference = "tasks.pages.search.view_type" %}

  {% if view == "compact" %}
    {% set grid_type = "grid grid--one-column-wide-nested grid--compact" %}
  {% else %}
    {% set grid_type = "grid grid--one-column-narrow-nested grid--tight" %}
  {% endif %}

  <div class="grid grid--one-column grid--tight">
    {% include "tasks/task-info-bar.jinja.html" %}
    <h2 class="task-layout__title">Search Results</h2>
  </div>

  <div class="{{ grid_type }}">
    {% with task_class="task task--" ~ view ~ "-layout todo", element_class="task--" ~ view ~ "-layout" %}
      {% for task in todo_tasks %}
        {% include "tasks/templates/todo-" ~ view ~ ".jinja.html" %}
      {% endfor %}
    {% endwith %}

    {% with task_class="task task--" ~ view ~ "-layout completed", element_class="task--" ~ view ~ "-layout" %}
      {% for task in completed_tasks %}
        {% include "tasks/templates/completed-" ~ view ~ ".jinja.html" %}
      {% endfor %}
    {% endwith %}
  </div>
{% endblock content %}
