{% extends "tasks/base.html" %}

{% block title %}
  Outstanding Tasks
{% endblock title %}

{% block content %}
  {% set view = get_user_pref('tasks.pages.todo.view_type') %}
  {% set preference = "tasks.pages.todo.view_type" %}

  {% if view == "compact" %}
    {% set grid_type = "grid grid--one-column-wide-nested grid--compact" %}
  {% else %}
    {% set grid_type = "grid grid--one-column-narrow-nested grid--tight" %}
  {% endif %}

  <div class="grid grid--one-column grid--tight">
    {% include "tasks/task-info-bar.jinja.html" %}
    <h2 class="task-layout__title">Outstanding Tasks</h2>
  </div>

  <div class="{{ grid_type }}">
    {% with task_class="task task--" ~ view ~ "-layout todo", element_class="task--" ~ view ~ "-layout" %}
      {% for task in tasks %}
        {% include "tasks/_partials/todo-" ~ view ~ ".jinja.html" %}
      {% endfor %}
    {% endwith %}
  </div>
{% endblock content %}
