<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block meta %}{% endblock %}

  <title>{% block title %}{% endblock %}</title>

  <script src="{{ url_for('static', filename='js/messages.js') }}"></script>
  <script src="{{ url_for('static', filename='js/submit_issue.js') }}"></script>
  {% block scripts %}{% endblock %}

  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  {% block stylesheet %}{% endblock %}
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="{{ url_for('home.index') }}">Home</a></li>
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('articles.index') }}">Articles</a></li>
        <li><a href="{{ url_for('autotasks.index') }}">AutoTasks</a></li>
        <li><a href="{{ url_for('books.index') }}">Books</a></li>
        <li><a href="{{ url_for('box_packing.index') }}">Box Packing</a></li>
        <li><a href="{{ url_for('chat.index') }}">Chat</a></li>
        <li><a href="{{ url_for('countdowns.index') }}">Countdowns</a></li>
        <li><a href="{{ url_for('events.index') }}">Events</a></li>
        <li><a href="{{ url_for('habits.index') }}">Habits</a></li>
        <li><a href="{{ url_for('money_wasted.index') }}">Money Wasted</a></li>
        <li><a href="{{ url_for('tasks.index') }}">Tasks</a></li>
        <li><a href="{{ url_for('users.profile') }}">My Profile</a></li>
        <li><a href="{{ url_for('auth.logout') }}" class="navbar-item">Logout</a></li>
        {% endif %}
        {% if not current_user.is_authenticated %}
        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        <li><a href="{{ url_for('auth.signup') }}">Signup</a></li>
        {% endif %}
        {% if current_user.is_authenticated and current_user.is_admin %}
        <li><a href="{{ url_for('admin.index') }}">Admin</a></li>
        <li><a href="https://github.com/datapointchris/ichrisbirch/issues" target="_blank">Github Issues</a></li>
        {% endif %}
      </ul>
      {% block app_navigation %}{% endblock %}
    </nav>
  </header>
  {% if current_user.is_authenticated %}
  {% include 'submit-issue.jinja.html' %}
  <div class="button-submit-issue" onclick="openSubmitIssueWindow()" tabindex="0">
    <div class="button-submit-issue__text">
      <span class="fa-solid fa-bug"></span>
    </div>
  </div>
  {% endif %}

  {% block flash_messages %}
  {% include 'flash-messages.jinja.html' %}
  {% endblock %}


  {% block content %}{% endblock %}

  {% block footer %}{% endblock %}

  {% block endscripts %}{% endblock %}
</body>

</html>
