<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block meta %}{% endblock %}

  <title>{% block title %}{% endblock %}</title>

  <script src="{{ url_for('static', filename='js/messages.js') }}"></script>
  {% block scripts %}{% endblock %}

  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  {% block stylesheet %}{% endblock %}
</head>

<body>
  <header>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="{{ url_for('home.index') }}">Home</a></li>
        <li class="nav__item"><a class="nav__link" href="{{ url_for('box_packing.index') }}">Box Packing</a></li>
        <li class="nav__item"><a class="nav__link" href="{{ url_for('countdowns.index') }}">Countdowns</a></li>
        <li class="nav__item"><a class="nav__link" href="{{ url_for('events.index') }}">Events</a></li>
        <li class="nav__item"><a class="nav__link" href="{{ url_for('tasks.index') }}">Tasks</a></li>
        <li class="nav__item"><a class="nav__link" href="{{ url_for('autotasks.index') }}">AutoTasks</a></li>
        <!-- <li class="nav__item"><a class="nav__link" href="{{ url_for('portfolio.index') }}">Portfolio</a></li>
           <li class="nav__item"><a class="nav__link" href="{{ url_for('journal.index') }}">Journal</a></li>
           <li class="nav__item"><a class="nav__link" href="{{ url_for('habits.index') }}">Habits</a></li> -->
        <li class="nav__item"><a class="nav__link" href="{{ url_for('server_stats.index') }}">Server Stats</a></li>
      </ul>
      {% block app_nav %}{% endblock %}
    </nav>
  </header>
  {% include 'messages.jinja.html' %}

  {% block content %}{% endblock %}

  {% block footer %}{% endblock %}
</body>

</html>
