{% extends 'base.html' %}

{% block title %}Chris Birch - Data Engineer{% endblock %}

{% block content %}
<div class="main-index-content">
  <h1>Chris Birch</h1>
  <h2>Data Engineer</h2>
  <div class="home-links">
    <a href="https://github.com/datapointchris/ichrisbirch" target="_blank">
      <div class="home-link-button">
        <p class="home-link-button__text">
          Code
          <br><br><br>
          <span class="fa-2xl fa-brands fa-github"></span>
        </p>
      </div>
    </a>
    <a href="http://api.ichrisbirch.com" target="_blank">
      <div class="home-link-button">
        <p class="home-link-button__text">
          API
          <br><br><br>
          <span class="fa-2xl fa-solid fa-server"></span>
        </p>
      </div>
    </a>
    <a href="http://docs.ichrisbirch.com" target="_blank">
      <div class="home-link-button">
        <p class="home-link-button__text">
          Docs
          <br><br><br>
          <span class="fa-2xl fa-regular fa-folder-open"></span>
        </p>
      </div>
    </a>
  </div>
</div>
{% endblock %}
