{% extends 'base.html' %}

{% block title %}Test Page{% endblock %}

{% block content %}
<div class="grid grid--one-column">
  <br><br><br><br><br>
  <div class="loading">
    <div class="item-push">L</div>
    <div class="item-push">O</div>
    <div class="item-push">A</div>
    <div class="item-push">D</div>
    <div class="item-push">I</div>
    <div class="item-push">N</div>
    <div class="item-push">G</div>
  </div>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <div class="loading">
    <div class="item-spin">L</div>
    <div class="item-spin">O</div>
    <div class="item-spin">A</div>
    <div class="item-spin">D</div>
    <div class="item-spin">I</div>
    <div class="item-spin">N</div>
    <div class="item-spin">G</div>
  </div>
</div>

{% endblock %}
