<div id="github-issue-background-overlay"></div>
<div id="github-issue-window">
  <form class="github-issue-form" method="POST" action="{{ url_for('home.issue') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <h2>Submit an Issue</h2>

    <div class="github-issue-form__item">
      <label for="issue-title">Title</label>
      <input type="text" size="60" class="textbox" name="title" id="issue-title">
    </div>

    <div class="github-issue-form__item">
      <label for="issue-description">Description</label>
      <textarea rows="16" cols="60" class="textbox" name="description" id="issue-description"></textarea>
    </div>

    <div class="github-issue-form__item">
      <div class="github-issue-labels">
        {% for label, icon in g.github_issue_labels_and_icons %}
        <label class="github-issue-labels__wrapper">
          <input type="checkbox" name="{{ label }}" class="github-issue-labels__input">
          <span class="github-issue-labels__tile fa-2x">
            <span class="github-issue-labels__checkbox-icon {{ icon }}"></span>
            <span class="github-issue-labels__checkbox-label">{{ label }}</span>
          </span>
        </label>
        {% endfor %}
      </div>
    </div>

    <div class="github-issue-form__buttons">
      <button type="submit" name="action" class="button" value="create">
        <span class="button__text">Create Issue</span>
      </button>
      <button type="button" onclick="closeSubmitIssueWindow()" name="action" class="button" value="close">
        <span class="button__text">Close Window</span>
      </button>
    </div>
  </form>
</div>
