{% extends 'autotasks/base.html' %}

{% block title %}AutoTasks{% endblock %}

{% block content %}
<div class="grid grid--two-columns">
  {% for autotask in autotasks %}
  <div class="grid__item">
    <h2>{{ autotask.name }}</h2>
    <div class="item-details">
      <div class="item-details__item">
        <strong>Category</strong>
        <span class="item-details__item-content">{{ autotask.category }}</span>
      </div>
      <div class="item-details__item">
        <strong>Priority</strong>
        <span class="item-details__item-content">{{ autotask.priority }}</span>
      </div>
      <div class="item-details__item">
        <strong>Frequency</strong>
        <span class="item-details__item-content">{{ autotask.frequency }}</span>
      </div>
      <div class="item-details__item">
        <strong>Run Count</strong>
        <span class="item-details__item-content">{{ autotask.run_count }}</span>
      </div>
      <div class="item-details__item">
        <strong>First Run Date</strong>
        <span class="item-details__item-content">{{ autotask.first_run_date | pretty_date }}</span>
      </div>
      <div class="item-details__item">
        <strong>Last Run Date</strong>
        <span class="item-details__item-content">{{ autotask.last_run_date | pretty_date }}</span>
      </div>
      <div class="item-details__item item-details__item--full-width">
        <strong>Notes</strong>
        <span class="item-details__item-content">{{ autotask.notes }}</span>
      </div>
      <div class="item-details__buttons">
        <form method="POST">
          <input type="hidden" name="id" value="{{ autotask.id }}">
          <input type="hidden" name="name" value="{{ autotask.name }}">
          <button type="submit" name="action" class="button" value="run">
            <span class="button__text">Run Autotask Now</span>
          </button>
          <button type="submit" name="action" class="button" value="delete">
            <span class="button__text">Delete Autotask</span>
          </button>
        </form>
      </div>
    </div>
  </div>
  {% else %}
  <div class="grid__item">
    <h2>No AutoTasks</h2>
  </div>
  {% endfor %}
</div>

<div class="add-item-wrapper">
  <h2>Add New AutoTask</h2>
  <form class="add-item-form" method="POST">
    <div class="add-item-form__item">
      <label for="name">Name</label>
      <input type="text" class="textbox" name="name" id="name">
    </div>
    <div class="add-item-form__item">
      <label for="priority">Priority</label>
      <input type="number" min="1" class="textbox" name="priority" id="priority">
    </div>
    <div class="add-item-form__item">
      <label for="category">Category</label>
      <select class="textbox" name="category" id="category">
        {% for category in task_categories %}
        <option value="{{ category }}">{{ category }}
        </option>
        {% endfor %}
      </select>
    </div>
    <div class="add-item-form__item">
      <label for="frequency">Task Frequency</label>
      <select class="textbox" name="frequency" id="frequency">
        {% for frequency in autotask_frequencies %}
        <option value="{{ frequency }}">{{ frequency }}
        </option>
        {% endfor %}
      </select>
    </div>
    <div class="add-item-form__item add-item-form__item--full-width">
      <label for="notes">Notes</label>
      <textarea rows="3" class="textbox" name="notes" id="notes"></textarea>
    </div>

    <div class="add-item-form__item add-item-form__item--full-width">
      <button type="submit" name="action" class="button" value="add">
        <span class="button__text">Add New Autotask</span>
      </button>
    </div>
  </form>
</div>
{% endblock %}
