@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$max-tab-count           : 6;
$tab-wrap-border-radius  : 20px;
$dark-background         :#222;
$tab-color               : #444;
$tab-highlight-color     : #888;
$all-text-color          : #eee;
$button-box-border-radius: 6px;

@font-face {
  font-family: Menlo;
  src        : url('../Menlo.ttc');
}


//////////////////////////////
/*     GENERAL STYLING     */
////////////////////////////

body {
  background-color: black;
  font-family     : Menlo;
  font-size       : 1.5em;
  color           : $all-text-color;
  min-height      : 100vh;
}

li {
  color       : $all-text-color;
  list-style  : url('../images/check_circle_small_white.png');
  line-height : 1.8em;
  padding-left: 15px;
}


/////////////////////////
/*     NAVIGATION     */
///////////////////////

#navtable {
  display                   : table;
  table-layout              : fixed;
  width                     : 90%;
  height                    : 40px;
  margin-bottom             : 0;
  margin-top                : 0px;
  margin-left               : auto;
  margin-right              : auto;
  padding-top               : 15px;
  padding-bottom            : 5px;
  padding-left              : 50px;
  padding-right             : 50px;
  background-color          : rgb(51, 55, 58);
  border-bottom-right-radius: 5em;
  border-bottom-left-radius : 5em;
  font-size                 : 20px;
  font-weight               : bold;
  text-decoration           : none;
  color                     : $all-text-color;
  box-shadow                :
    0 5px 10px #646464,
    0 -2px 2px #666,
    rgba(0, 0, 0, 0.07) 0px 4px 4px,
    inset 0 -10px 10px rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.07) 0px 16px 16px;

  .navtab {
    display        : table-cell;
    text-align     : center;
    // margin-left : auto;
    // margin-right: auto;
    width          : 50%;

    a {
      color: $all-text-color;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.home-button {
  position     : absolute;
  top          : 20px;
  left         : -220px;
  width        : 400px;
  height       : 80px;
  z-index      : 500;
  color        : $all-text-color;
  border       : 3px solid $all-text-color;
  border-radius: 20%;
  box-shadow   :
    5px 5px 5px 5px black,
    inset 0px 0px 5px 0px $tab-highlight-color,
    inset -5px -5px 4px -2px $tab-highlight-color;

  &:hover {
    border            : 3px solid $all-text-color;
    // font-weight    : bold;
    transform         : scale(1.1) translateX(20%);
    transition        : all 1.0s ease;
    -webkit-transition: all 1.0s ease;
    -moz-transition   : all 1.0s ease;
    -o-transition     : all 1.0s ease;
    text-decoration   : none;
    box-shadow        :
      5px 2px 7px 3px black,
      inset 0px 0px 5px 0px $tab-highlight-color,
      inset -5px -5px 4px -2px $tab-highlight-color;
  }

  >a {
    color          : $all-text-color;
    font-size      : 30px;
    text-decoration: none;
    margin-left    : 250px;
    line-height    : 30px;

    &:visited {
      color: $all-text-color;
    }

    // &:hover {
    //   font-weight: bold;
    //   text-decoration: none;
    // }
  }
}






//////////////////////////
/*     GRID LAYOUT     */
////////////////////////

#outer-grid {
  display              : grid;
  grid-template-columns: 1fr 1fr;
  grid-gap             : 40px;
  padding              : 10px;
  height               : 90vh;
  align-items          : flex-start;
}

#column1,
#column2 {
  // width: 98%;
  height    : 90vh;
  overflow-y: scroll;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width   : none;
  /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}


/////////////////////////
/*     TAB LAYOUT     */
///////////////////////

.tab-wrap {
  // max-width       : 95%;
  border-radius   : $tab-wrap-border-radius;
  vertical-align  : text-top;
  display         : flex;
  flex-wrap       : wrap;
  position        : relative;
  list-style      : none;
  color           : $all-text-color;
  background-color: #222;
  margin          : 40px 0;
  box-shadow      :
    0 2px 5px #666,
    inset 0 -10px 10px rgba(0, 0, 0, 0.5),
    inset 0 5px 5px rgba(255, 255, 255, 0.5);
}

.tab {
  display: none;

  @for $i from 1 through $max-tab-count {
    &:checked:nth-of-type(#{$i})~.tab__content:nth-of-type(#{$i}) {
      opacity    : 1;
      transition : 0.5s opacity ease-in, 0.8s transform ease;
      position   : relative;
      top        : 0;
      z-index    : 100;
      transform  : translateY(0px);
      text-shadow: 0 0 0;
    }
  }

  &:first-of-type:not(:last-of-type)+label {
    border-top-right-radius   : 0;
    border-bottom-right-radius: 0;
  }

  &:not(:first-of-type):not(:last-of-type)+label {
    border-radius: 0;
  }

  &:last-of-type:not(:first-of-type)+label {
    border-top-left-radius   : 0;
    border-bottom-left-radius: 0;
  }

  &:checked+label {
    background-color: $tab-highlight-color;
    box-shadow      : 0 -1px 0 $tab-color inset;
    cursor          : default;
  }

  +label {
    box-shadow      : 0 -1px 0 $tab-color inset;
    border-radius   : $tab-wrap-border-radius $tab-wrap-border-radius 0 0;
    cursor          : pointer;
    display         : block;
    text-decoration : none;
    color           : $all-text-color;
    font-size       : .7em;
    flex-grow       : 3;
    text-align      : center;
    background-color: $tab-color;
    user-select     : none;
    text-align      : center;
    transition      : 0.3s background-color ease, 0.3s box-shadow ease;
    height          : 40px;
    box-sizing      : border-box;
    padding         : 10px;

    &:hover {
      background-color: $tab-highlight-color;
      box-shadow      : 0 -1px 0 $tab-color inset;
    }
  }

  &__content {
    padding         : 20px;
    padding-left    : 40px;
    background-color: #222;
    background-size : 20px 20px;
    background-image: repeating-linear-gradient(0deg, #333, #333 1px, #222 1px, #222);
    position        : absolute;
    width           : 100%;
    z-index         : -1;
    opacity         : 0;
    left            : 0;
    transform       : translateY(-3px);
    border-radius   : $tab-wrap-border-radius;
  }
}


///////////////////////////
/*     TAB SPECIFIC     */
/////////////////////////

///// COUNTDOWNS /////
.index-countdowns {
  margin     : auto;
  font-weight: bold;
  text-align : center;

  &>.daysleft {
    line-height: .25em;
  }
}

///// EVENTS /////
.index-events {
  margin    : auto;
  text-align: center;



  >ul {
    padding: 10px;
    margin : 50px 10px;
    border : 1px solid orange;

    &.attending {
      border: 1px solid green;
    }

    >li {
      list-style: none;

      &.title {
        font-weight: bold;
      }
    }
  }
}



/////////////////////
/*     HABITS     */
///////////////////

#habit-add-remove {
  line-height: 1.5em;
}

.habit-table {
  width  : 100%;
  color  : $all-text-color;
  padding: 25px;

  +tr {
    vertical-align: top;
  }

  +td {
    border-width  : 1;
    border-color  : white;
    vertical-align: top;

  }

  +h3 {
    text-align: center;
  }
}

.completed {
  color: green;
}


/////////////////////////
/*     EVENTS     */
///////////////////////

.events {
  margin    : auto;
  text-align: center;
  width     : 90%;
}

.events__listing {
  padding: 10px;
  margin : 50px 10px;
  border : 1px solid gray;
}

#add-event {
  border: 1px dashed orange;
}

/////////////////////////
/*     COUNTDOWNS     */
///////////////////////

#countdown-content {
  margin    : auto;
  text-align: center;
}

#countdowns {
  display              : grid;
  grid-template-columns: repeat(3, 1fr);
  gap                  : 50px 50px;
  width                : 80%;
  margin               : auto;
  padding              : 50px;
}

.countdown-box {
  border       : 2px solid rgb(117, 109, 96);
  border-bottom: none;
  border-right: none;
  border-radius: 15px;
  box-shadow   :
    6px 4px 2px 0px rgb(60, 60, 80),
    inset -5px -5px 4px -2px rgb(60, 60, 80);

}

.countdown-box-left {
  float     : left;
  width     : 20%;
  padding   : 25px;
  text-align: center;
}

.countdown-box-right {
  padding       : 25px;
  text-align    : center;
  vertical-align: middle;
}

#add-countdown {
  width           : 25%;
  padding         : 40px;
  margin          : 100px auto;
  background-color: $dark-background;
  border          : 3px solid gray;
  border-radius   : 25px;
  text-align      : center;
}


///// Submit, Delete, Add Buttons /////

.button {
  border-radius: $button-box-border-radius;
  font-size    : large;
  padding      : 10px 25px;
  background-color: rgb(24, 26, 27);
  color: $all-text-color;

  &:hover {
    text-decoration: underline;
  }
}

.box-3d {
  box-shadow:
    5px 5px 5px 0px black,
    inset 0px 0px 5px 0px $tab-color,
    inset -5px -5px 4px -2px $tab-color;
}

.textbox {
  border-radius: $button-box-border-radius;
  font-size    : large;
  padding      : 10px 25px;
  background-color: rgb(24, 26, 27);
  color: $all-text-color
}

///// Special Checkboxes /////

/* The container */
.specialbox {
  display            : block;
  position           : relative;
  padding-left       : 55px;
  cursor             : pointer;
  -webkit-user-select: none;
  -moz-user-select   : none;
  -ms-user-select    : none;
  user-select        : none;
}

/* Hide the browser's default checkbox */
.specialbox input {
  position: absolute;
  opacity : 0;
  cursor  : pointer;
  height  : 0;
  width   : 0;
}

/* Create a custom checkbox */
.checkmark {
  position        : absolute;
  top             : -6px;
  left            : 0;
  height          : 30px;
  width           : 30px;
  background-color: $all-text-color;
  border-radius   : 6px;
}

/* On mouse-over, add a grey background color */
.specialbox:hover input~.checkmark {
  background-color: $tab-highlight-color;
}

/* When the checkbox is checked, lighten border */
.specialbox input:checked~.checkmark {
  border: 3px solid $all-text-color;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content : "";
  position: absolute;
  display : none;
}

/* Show the checkmark when checked */
.specialbox input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.specialbox .checkmark:after {
  left             : 10px;
  top              : 5px;
  width            : 5px;
  height           : 15px;
  border           : solid green;
  border-width     : 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform    : rotate(45deg);
  transform        : rotate(45deg);
}


////////////////////////
/*     REFERENCE     */
//////////////////////


// for the reference page with only one column
#wide-column {
  width     : 70%;
  height    : 90vh;
  overflow-y: scroll;
  margin    : auto;
  margin-top: 50px;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width   : none;
  /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

.exercise {
  width         : 90%;
  margin        : auto;
  line-height   : 2em;
  vertical-align: top;

  +td {
    width         : 50%;
    margin        : 50px;
    vertical-align: text-top;
  }
}


///////////////////////////
///// Journal Entry  /////
/////////////////////////

#journal {
  width     : 100%;
  margin    : auto;
  text-align: center;
}

.feeling-buttons {
  display     : inline-flex;
  margin      : 0;
  margin-left : auto;
  margin-right: auto;
  text-align  : center;
  border      : 0;
  box-sizing  : border-box;
}

.feelbutton {
  &:first-of-type:not(:last-of-type)+label {
    border-top-right-radius   : 0;
    border-bottom-right-radius: 0;
    margin                    : 3px;
    margin-right              : 0px;
  }

  &:not(:first-of-type):not(:last-of-type)+label {
    border-radius: 0;
    margin       : 0px;
    margin-top   : 3px;
    margin-bottom: 3px;
  }

  &:last-of-type:not(:first-of-type)+label {
    border-top-left-radius   : 0;
    border-bottom-left-radius: 0;
    margin                   : 3px;
    margin-left              : 0px;
  }
}

.feeling-buttons input[type="radio"] {
  opacity : 0;
  position: fixed;
  width   : 0;
}

.feeling-buttons label {
  display      : inline-block;
  padding      : 15px 20px;
  font-size    : .7em;
  border-radius: $button-box-border-radius;
  box-shadow   :
    5px 5px 5px 0px black,
    inset 0px 0px 5px 0px $tab-highlight-color,
    inset -5px -5px 4px -2px $tab-highlight-color;
}

.feeling-buttons input[type="radio"]:checked+label {
  color           : green;
  font-weight     : bold;
  background-color: $dark-background;
  box-shadow      :
    inset 5px 5px 5px 0px black,
    inset -3px -3px 5px 0px $tab-color;
}

.feeling-buttons label:hover {
  font-style : italic;
  font-weight: bold;
}