$all-text-color: #dddddd;

$light-shadow: #808080;
$medium-shadow: rgba(16, 16, 16, 0.2);
$dark-shadow: rgba(16, 16, 16, 0.4);

$light-background: #606060;
$medium-background: #444;
$dark-background: rgba(16, 16, 16, 0.4);

$success-color: rgb(0, 92, 0, 0.8);
$warning-color: rgb(92, 92, 0, 0.8);
$error-color: rgb(92, 6, 0, 0.8);
