:root {
    --clr-primary--darker: hsl(194, 100%, 10%);
    --clr-primary: hsl(194 100% 11%);
    --clr-primary--lighter: hsl(194, 100%, 13%);

    --clr-accent: hsl(31 90% 57%);
    --clr-accent-light: hsl(34 100% 90%);
    --clr-accent-dark: hsl(34 100% 16%);

    --clr-text: hsl(0 0% 87%);

    // Not sure how to set specific colors up globally otherwise
    --clr-accent--orange: hsl(31 90% 57%);
    --clr-accent--yellow: hsl(55, 80%, 55%);
    --clr-accent--red: hsl(0, 100%, 71%);
    --clr-accent--blue: hsl(207, 48%, 45%);
    --clr-accent--green: hsl(120 100% 18%);
    --clr-accent--green-bright: hsl(120, 100%, 45%);

    --clr-success: hsl(120 100% 18% / 0.8);
    --clr-warning: hsl(60 100% 18% / 0.8);
    --clr-error: hsl(4 100% 18% / 0.8);

    --clr-gray-050: hsl(0, 0%, 87%);
    --clr-gray-100: hsl(0, 0%, 67%);
    --clr-gray-200: hsl(0, 0%, 60%);
    --clr-gray-300: hsl(0, 0%, 53%);
    --clr-gray-400: hsl(0, 0%, 47%);
    --clr-gray-500: hsl(0, 0%, 40%);
    --clr-gray-600: hsl(0, 0%, 33%);
    --clr-gray-700: hsl(0, 0%, 27%);
    --clr-gray-800: hsl(0, 0%, 20%);
    --clr-gray-900: hsl(0, 0%, 13%);
    --clr-gray-1000: hsl(0, 0%, 7%);

    --clr-gray-trans-400: hsla(0 0% 100% / 0.5);
    --clr-gray-trans-500: hsla(0 0% 100% / 0.5);
    --clr-gray-trans-600: hsla(0 0% 100% / 0.2);
    --clr-gray-trans-700: hsla(0 0% 50% / 0.5);
    --clr-gray-trans-800: hsla(0 0% 50% / 0.3);
    --clr-gray-trans-850: hsla(0 0% 50% / 0.2);
    --clr-gray-trans-875: hsla(0 0% 50% / 0.1);
    --clr-gray-trans-900: hsla(0 0% 15% / 0.95);

    --clr-black-trans-200: hsl(0 0% 5% / 0.2);
    --clr-black-trans-400: hsl(0 0% 5% / 0.4);
    --clr-black-trans-600: hsl(0 0% 5% / 0.6);
    --clr-black-trans-800: hsl(0 0% 5% / 0.8);
    --clr-black-trans-1000: hsl(0 0% 5% / 1);
}

// TODO: Update this to be actual dark and the regular to be light
@media (prefers-color-scheme: light) {
    :root {
        --text: hsl(0 0% 87%);
    }
}
