$all-text-color: hsl(0 0% 87%);
$cool-blue: hsl(194 100% 11%);

$light-shadow: hsl(0 0% 50%);
$medium-shadow: hsl(0 0% 6% / 0.2);
$dark-shadow: hsl(0 0% 6% / 0.4);

$light-background: hsl(0 0% 38%);
$medium-background: hsl(0 0% 27%);
$dark-background: hsl(0 0% 6% / 0.4);

$success-color: hsl(120 100% 18% / 0.8);
$warning-color: hsl(60 100% 18% / 0.8);
$error-color: hsl(4 100% 18% / 0.8);

:root {
    --all-text-color: $all-text-color;
    --cool-blue: $cool-blue;

    --light-shadow: $light-shadow;
    --medium-shadow: $medium-shadow;
    --dark-shadow: $dark-shadow;

    --light-background: $light-background;
    --medium-background: $medium-background;
    --dark-background: $dark-background;

    --success-color: $success-color;
    --warning-color: $warning-color;
    --error-color: $error-color;
}
