/*

<div class="x">
  <img class="y" />
</div>

*/

$size: 100px;

body {
    margin: 0;
}

img,
div {
    width: $size;
    height: $size;
}

.x {
    animation: x 13s linear infinite alternate;
}

.y {
    animation: y 7s linear infinite alternate;
}

@keyframes x {
    100% {
        transform: translateX(calc(100vw - #{$size}));
    }
}

@keyframes y {
    100% {
        transform: translateY(calc(100vh - #{$size}));
    }
}
