@import "./variables";


#header {
  grid-row       : 1;
  grid-column    : 1 / span 2;
  width          : 96%;
  margin         : auto;
  margin-top     : 20px;
  background     : $dark-gray;
  font-size      : x-large;
  color          : $text-color;
  box-shadow     : $shadow-3d;
  z-index        : 50;
  line-height    : 90px;
  border-left    : 1px solid #999999;
  border-top     : 4px solid #bbbbbb;
  display        : flex;
  justify-content: space-around;

  .main {
    list-style: none;
    font-size : 2.75em;
  }

  .link a {
    list-style     : none;
    font-size      : 1.5em;
    padding        : 10px;
    color          : $text-color;
    text-decoration: none;
    text-shadow    : $shadow-3d-nav;
    border-top     : 2px solid $text-color;
    border-left    : 2px solid $light-shadow;
    border-right   : 4px solid $med-shadow;
    border-bottom  : 4px solid $dark-shadow;
    border-radius  : 8px;

    :visited {
      color: $text-color;
    }

    &:hover {
      color        : white;
      border-top   : 4px solid $light-shadow;
      border-left  : 4px solid $med-shadow;
      border-right : 2px solid $med-shadow;
      border-bottom: 2px solid $light-shadow;
      border-style : inset;
    }

    &.selected {
      border-top   : 4px solid $light-shadow;
      border-left  : 4px solid $med-shadow;
      border-right : 2px solid $med-shadow;
      border-bottom: 2px solid $light-shadow;
      border-style : inset;
    }

  }
}