{% extends 'box_packing/base.html' %}

{% block title %}Box Packing{% endblock %}

{% block content %}
<div id="container">
    <form method="POST" action="{{ url_for('box_packing.all') }}">
        <select class="big-button box-sort" name="sort_1" id="sort_1">
            <option value="none" selected disabled hidden>Box Sort Order 1
            </option>
            <option value="id">ID (default)</option>
            <option value="size">Size</option>
            <option value="essential">Essential</option>
            <option value="warm">Warm</option>
            <option value="liquid">Liquid</option>
        </select>
        <select class="big-button box-sort" name="sort_2" id="sort_2">
            <option value="none" selected disabled hidden>Box Sort Order 2
            </option>
            <option value="">None</option>
            <option value="size">Size</option>
            <option value="essential">Essential</option>
            <option value="warm">Warm</option>
            <option value="liquid">Liquid</option>
        </select>
        <input class="big-button box-sort" type="submit" value="Sort Boxes">
    </form>
    <br /><br />
    {% for box in boxes %}
    <div class="box-list">
        <h3>Box {{ box.id }}: {{ box.name }}</h3>
        <ul>
            <li>Size: {{ box.size }}</li>
            {% if box.essential == 1 %}
            <li class="essential">Essential</li>
            {% endif %}
            {% if box.warm == 1 %}
            <li class="warm">Warm</li>
            {% endif %}
            {% if box.liquid == 1 %}
            <li class="liquid">Liquid</li>
            {% endif %}
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock %}