{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/box_packing.css') }}">
{% endblock %}

{% block app_navigation %}
<div id="box-packing-navigation" class="navigation">
        <span class="navigation-tab">
                <a href="{{ url_for('box_packing.index') }}">Pack Boxes</a>
        </span>
        <span class="navigation-tab">
                <a href="{{ url_for('box_packing.search') }}">Search for Items</a>
        </span>
        <span class="navigation-tab">
                <a href="{{ url_for('box_packing.all') }}">All Boxes</a>
        </span>
</div>
{% endblock %}

{% block content %}{% endblock %}