<html>

<head>
  <title>HOME</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

</head>

<body>
  <a href="{{ url_for('portfolio_bp.portfolio') }}">
    <button class="portfolio">Portfolio</a></button>
  <a href="{{ url_for('apartments_bp.apartments') }}">
    <button class="apartments">Apartments</a></button>
  <a href="{{ url_for('moving_bp.packing') }}">
    <button class="moving">Moving</a></button>
  <a href="{{ url_for('tracks_bp.todo') }}">
    <button class="tracks">Tracks</a></button>
  <a href="{{ url_for('tasks_bp.priority') }}">
    <button class="tasks">Tasks</a></button>
</body>

</html>