<div id="apartment-list">
    <ul>
        {% for apt in apartments %}
        {% if apartment.name == apt.name %}
        <li><a class="active" href="#">{{ apt.name }}</a></li>
        {% else %}
        <li><a href="{{ url_for('apartments_bp.apartments', name=apt.name) }}">
                {{ apt.name }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</div>