<div id="apartment-list">
    <ul>
        {% for apt in apartments %}
        {% if apt.id == aptid %}
        <li><a class="active" href="#">{{ apt.name }}</a></li>
        {% else %}
        <li><a href="{{ url_for('apartments_bp.apartments', aptid=apt.id) }}">
                {{ apt.name }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</div>