<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet"
        href="{{ url_for('apartments_bp.static', filename='css/main.css') }}">
    <link rel="stylesheet"
        href="{{ url_for('apartments_bp.static', filename='css/navigation.css') }}">
</head>

<body>
    <div id="header">
        <span class="link"><a href="{{ url_for('apartments_bp.apartments') }}"
                class="selected">Apartment Comparison</a></span>
        <span class="main">Apartment Comparison</span>
        <span class="link"><a href="{{ url_for('apartments_bp.manage') }}">Manage
                Apartments</a></span>
    </div>
    <div id="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
        <div id="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
</body>

</html>