{% extends 'apartment_base.html' %}

{% block title %}Apartment Comparison{% endblock %}
{% block header %}{% endblock %}

{% block content %}

{% include 'apartment_list.jinja' %}

<div id="content">
    <div id="apartment">
        <div class="feature-list">
            <h1 class="title">{{ name.upper() }}</h1>
            <h2>Edit Apartment Data:</h2>
            <form method="POST" action="{{ url_for('apartments_bp.update_apartment') }}">
                <input type="hidden" id="id" name="id" value="{{ aptid }}">
                <input type="text" class="manage-box" size="90" name="name"
                    value="{{ name }}">
                <input type="text" class="manage-box" size="90" name="address"
                    value="{{ address }}">
                <input type="text" class="manage-box" size="90" name="url"
                    value="{{ url }}">
                <br /><br /><br />
                <input class="manage-box" type="submit" value="Update Apartment">
            </form>
        </div>
        <br /><br /><br /><br /><br /><br />
        <div class="feature-list">
            <form method="POST" action="{{ url_for('apartments_bp.delete_apartment') }}">
                <input type="hidden" id="id" name="id" value="{{ aptid }}">
                <input class="manage-box warning" type="submit" value="DELETE Apartment">
            </form>
        </div>
    </div>
</div>
{% endblock %}