{% extends 'task_base.html' %}

{% block header %}
<h1>{% block title %}All Tasks{% endblock %}</h1>
{% endblock %}

{% block content %}
<div id="tasks">
    {% for task in tasks %}
    <div class="task">
        <h1>{{ task.name }}</h1>
        <h2>Priority: {{ task.priority }}</h2>
        <h3>Category: {{ task.category }}</h3>
        Add Date: {{ task.add_date }}<br />
        {% if loop.index > 5 %}
        <form method="POST" action="{{ url_for('tasks_bp.delete_task') }}">
            <input type="hidden" name="id" id="id" value="{{ task.id }}">
            <input type="submit" value="Delete Task">
        </form>
        {% endif %}
    </div>
    {% else %}
    <div class="task">
        <h2>No Tasks</h2>
    </div>
    {% endfor %}
</div>
{% endblock %}