// All @use rules must come before @import rules
@use "abstracts/colors";
@use "abstracts/spacing";
@use "abstracts/effects";
// @use 'abstracts/mixins';
// @use 'abstracts/functions';
// @use 'abstracts/placeholders';

@use "base/reset";
@use "base/typography";
@use "base/base";

@use "layout/navigation";
@use "layout/grid";
// @use 'layout/header';
// @use 'layout/footer';
// @use 'layout/sidebar';
@use "layout/forms";

// @use 'components/carousel';
@use "components/buttons";
@use "components/checkboxes";
@use "components/flash_messages";
@use "components/errors";
@use "components/loading";
@use "components/radio_scale_selector";
@use "components/search_results";
@use "components/submit_issue";
@use "components/tooltips";
// @use 'components/dropdown';

// @use 'pages/apartments';
@use "pages/articles";
@use "pages/autotasks";
@use "pages/backups";
@use "pages/books";
@use "pages/box_packing";
@use "pages/countdowns";
@use "pages/events";
@use "pages/habits";
@use "pages/home";
// @use 'pages/journal';
@use "pages/money_wasted";
@use "pages/logs";
// @use 'pages/portfolio';
@use "pages/serverstats";
@use "pages/tasks";

// @use 'themes/turquoise';

// FontAwesome v7 - configure font path before importing
@use "../fontawesome/scss/variables" with ($font-path: "../fontawesome/webfonts");
@use "../fontawesome/scss/fontawesome";
@use "../fontawesome/scss/solid";
@use "../fontawesome/scss/brands";
