{% extends"base.html" %}

{% block meta %}
{% endblock meta %}

{% block scripts %}{% endblock scripts %}

{% block app_navigation %}
<ul data-secondary>
  <li><a href="{{ url_for('books.index') }}">Books</a></li>
  <li><a href="{{ url_for('books.add') }}">Add Book</a></li>
  <li>
    <form class="task-search-form" method="get" action="{{ url_for('books.index') }}">
      <input type="text" class="textbox" name="search" id="search">
      <button type="submit" class="button">
        <span class="button__text">Search</span>
      </button>
    </form>
  </li>
</ul>
{% endblock app_navigation %}

{% block content %}{% endblock content %}
