{% extends"books/base.html" %}

{% block title %}Edit Book{% endblock title %}

{% block content %}
<div class="grid grid--one-column">
  <div class="add-item-wrapper">
    <h2>Editing: {{ book.title }}</h2>
    <form class="add-item-form" method="post" action="{{ url_for('books.crud') }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <input type="hidden" name="id" value="{{ book.id }}">

      <div class="add-item-form__item">
        {{ update_form.isbn.label }}
        {{ update_form.isbn(class_="textbox") }}
      </div>
      <div class="add-item-form__item">
        {{ update_form.title.label }}
        {{ update_form.title(class_="textbox") }}
      </div>
      <div class="add-item-form__item">
        {{ update_form.author.label }}
        {{ update_form.author(class_="textbox") }}
      </div>
      <div class="add-item-form__item">
        {{ update_form.tags.label }}
        {{ update_form.tags(class_="textbox") }}
      </div>
      <div class="add-item-form__item">
        {{ update_form.goodreads_url.label }}
        {{ update_form.goodreads_url(class_="textbox") }}
      </div>
      <div class="add-item-form__item">
        {{ update_form.priority.label }}
        {{ update_form.priority(class_="textbox", placeholder="1-100") }}
      </div>
      <div class="add-item-form__item">
        {{ update_form.purchase_date.label }}
        {{ update_form.purchase_date(class_="textbox") }}
      </div>
      <div class="add-item-form__item">
        {{ update_form.purchase_price.label }}
        {{ update_form.purchase_price(class_="textbox") }}
      </div>
      <div class="add-item-form__item">
        {{ update_form.sell_date.label }}
        {{ update_form.sell_date(class_="textbox") }}
      </div>
      <div class="add-item-form__item">
        {{ update_form.sell_price.label }}
        {{ update_form.sell_price(class_="textbox") }}
      </div>
      <div class="add-item-form__item">
        {{ update_form.read_start_date.label }}
        {{ update_form.read_start_date(class_="textbox") }}
      </div>
      <div class="add-item-form__item">
        {{ update_form.read_finish_date.label }}
        {{ update_form.read_finish_date(class_="textbox") }}
      </div>
      <div class="add-item-form__item">
        {{ update_form.rating.label }}
        {{ update_form.rating(class_="textbox", placeholder="1-10") }}
      </div>
      <div class="add-item-form__item">
        {{ update_form.abandoned.label }}
        {{ update_form.abandoned(class_="checkbox") }}
      </div>
      <div class="add-item-form__item">
        {{ update_form.location.label }}
        {{ update_form.location(class_="textbox") }}
      </div>
      <div class="add-item-form__item add-item-form__item--full-width">
        {{ update_form.notes.label }}
        {{ update_form.notes(class_="textbox") }}
      </div>
      <div class="add-item-form__item add-item-form__item--full-width">
        <button type="submit" name="action" class="button" value="edit">
          <span class="button__text">Save Changes</span>
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
